
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-10-kdo {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-7xhp-4uP {
    flex-shrink: 0;
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-s5gd-zo3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;

    .group-61-vRo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-h68h-UiD {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-nyo {
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;

          .group-11-vaD {
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .me-muse-4RX {
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            line-height: 1.0875;
            white-space: nowrap;
            margin-top: 0rem;
          }
        }
        .group-10-Zt5 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-vyX {
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;

            .workplace-fAR {
              flex-shrink: 0;
              margin-right: 10.6rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              color: #003c74;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
            }
            .museum-Nad {
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              font-size: 2rem;
              font-weight: 700;
              color: #003c74;
              align-items: center;
              justify-content: center;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .guide-Vv9 {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              margin-right: 14.55rem;
              cursor: pointer;
              align-items: center;
              justify-content: center;
            }
            .login-RYu {
              font-weight: 700;
              line-height: 1.035;
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              align-items: center;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .group-2-MhT {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-j3o {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-ewT {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-h8th-zVX {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 91.2286rem;

      .item--wQm {
        white-space: nowrap;
        width: 17.2rem;
        left: 51.15rem;
        display: flex;
        align-items: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 25.1619rem;
        justify-content: center;
        font-weight: 500;
        line-height: 1.2125;
        height: 2.1rem;
        font-size: 1.7rem;
      }
      .bi-mic-fill-ysF {
        position: absolute;
        left: 95.85rem;
        top: 87.3619rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
      }
      .rectangle-9-7Cm {
        width: 78.6rem;
        height: 40rem;
        position: absolute;
        left: 20.5rem;
        top: 28.7619rem;
        background-color: #d9d9d9;
      }
      .group-14-dgu {
        top: 7.1619rem;
        display: flex;
        align-items: center;
        width: 85.5rem;
        height: 5.8rem;
        position: absolute;
        left: 17rem;

        .item--ARw {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;
          margin: 0.3rem 10.2rem 0rem 0rem;
          line-height: 1.2125;
          align-items: baseline;

          .item--ARw-sub-0 {
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--ARw-sub-1 {
          }
        }
        .auto-group-lv6y-Snm {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-n5w {
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
          }
          .ellipse-1-K5s {
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
            left: 0;
            top: 0;
            position: absolute;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
          }
          .item--DS9 {
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            white-space: nowrap;
            width: 2.6rem;
            align-items: center;
            font-weight: 500;
            left: 1.6rem;
            display: flex;
            line-height: 1.2125;
            color: #000000;
          }
          .ellipse-2-6Vw {
            height: 5.8rem;
            left: 11.5rem;
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
          }
          .item--DKf {
            align-items: center;
            justify-content: center;
            color: #000000;
            height: 1.7rem;
            left: 13.55rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            top: 2rem;
            display: flex;
            font-weight: 500;
            position: absolute;
          }
          .ellipse-3-uyB {
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            border-radius: 2.9rem;
            position: absolute;
            left: 23rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--deH {
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            font-family: Inter, 'Source Sans Pro';
            left: 25.05rem;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #000000;
            width: 1.7rem;
            display: flex;
            justify-content: center;
            font-weight: 500;
            white-space: nowrap;
          }
          .ellipse-4-Wxy {
            height: 5.8rem;
            top: 0;
            filter: blur(0.2rem);
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            left: 34.5rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #003c74;
          }
          .item--pCy {
            line-height: 1.2125;
            white-space: nowrap;
            top: 2rem;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
            align-items: center;
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            display: flex;
            left: 36.55rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-5-iJM {
            left: 46rem;
            border-radius: 2.9rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
          }
          .item--dgD {
            display: flex;
            align-items: center;
            color: #000000;
            white-space: nowrap;
            left: 46.45rem;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            top: 2rem;
            justify-content: center;
            line-height: 1.2125;
            width: 4.9rem;
            position: absolute;
          }
          .ellipse-6-vvD {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
            left: 57.5rem;
            top: 0;
            background-color: #ffffff;
          }
          .item--FSh {
            font-weight: 500;
            line-height: 1.2125;
            display: flex;
            align-items: center;
            width: 1.7rem;
            justify-content: center;
            font-size: 1.4rem;
            left: 59.55rem;
            position: absolute;
            top: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.7rem;
          }
        }
      }
      .auto-group-pkdf-Ygh {
        height: 6rem;
        position: absolute;
        left: 48.8rem;
        top: 79.3619rem;
        display: flex;
        align-items: center;
        width: 22rem;

        .auto-group-kh7p-UaM {
          display: flex;
          font-size: 1.6rem;
          margin-right: 3.4rem;
          line-height: 1.2125;
          white-space: nowrap;
          border: solid 0.3rem #003c74;
          border-radius: 2rem;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          flex-shrink: 0;
          background-color: #003c74;
          width: 9.3rem;
          height: 100%;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
        }
        .auto-group-8sfb-XoX {
          background-color: #003c74;
          flex-shrink: 0;
          width: 9.3rem;
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #ffffff;
          border-radius: 2rem;
          height: 100%;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          border: solid 0.3rem #003c74;
        }
      }
      .item--c4H {
        color: #000000;
        width: 38.9rem;
        height: 2.1rem;
        display: flex;
        font-weight: 500;
        left: 40.3rem;
        justify-content: center;
        line-height: 1.2125;
        align-items: baseline;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 74.5619rem;
        font-size: 1.7rem;
        white-space: nowrap;

        .item--c4H-sub-0 {
        }
        .item--c4H-sub-1 {
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .item--c4H-sub-2 {
        }
        .item--c4H-sub-3 {
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
        }
        .item--c4H-sub-4 {
        }
      }
    }
  }
  .rectangle-30-Vfo {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
