
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-14-A7b {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-jd7f-sGu {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-gjrb-BoP {
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .group-61-sw7 {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-dz77-d9b {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-KHK {
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;

          .group-11-oiH {
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .me-muse-vnu {
            margin-top: 0rem;
            align-items: center;
            line-height: 1.0875;
            font-family: Archivo Black, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-size: 2rem;
            font-weight: 400;
            color: #003c74;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-10-CVX {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .group-1-wi1 {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-S8y {
              display: flex;
              line-height: 1.035;
              white-space: nowrap;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 10.6rem;
              cursor: pointer;
              align-items: center;
              flex-shrink: 0;
            }
            .museum-7ku {
              cursor: pointer;
              align-items: center;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 13.6rem;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              white-space: nowrap;
              display: flex;
            }
            .guide-DZ3 {
              display: flex;
              font-size: 2rem;
              font-weight: 700;
              flex-shrink: 0;
              margin-right: 14.55rem;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
            }
            .login-ugm {
              color: #003c74;
              font-size: 2rem;
              line-height: 1.035;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
            }
          }
          .group-2-RQD {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-anu {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-HSR {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-nrsq-bi1 {
      box-sizing: border-box;
      padding: 7.162rem 18.1rem 0rem 17rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-14-6em {
        width: 100%;
        height: 5.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 12.2rem;

        .item--pqf {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          align-items: baseline;
          flex-shrink: 0;
          margin: 0.3rem 10.2rem 0rem 0rem;

          .item--pqf-sub-0 {
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--pqf-sub-1 {
          }
        }
        .auto-group-cv2d-SkZ {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 63.3rem;

          .line-4-BCM {
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
          }
          .ellipse-1-eLq {
            height: 5.8rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--uGm {
            height: 1.7rem;
            position: absolute;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: #000000;
            justify-content: center;
            width: 2.6rem;
            left: 1.6rem;
            top: 2rem;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .ellipse-2-9wo {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--ReR {
            top: 2rem;
            display: flex;
            align-items: center;
            width: 1.7rem;
            left: 13.55rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            font-weight: 500;
            white-space: nowrap;
            height: 1.7rem;
            font-size: 1.4rem;
            justify-content: center;
          }
          .ellipse-3-sWR {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
            left: 23rem;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--9iq {
            align-items: center;
            color: #000000;
            justify-content: center;
            line-height: 1.2125;
            width: 1.7rem;
            height: 1.7rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 25.05rem;
            top: 2rem;
            font-size: 1.4rem;
            font-weight: 500;
            position: absolute;
            display: flex;
          }
          .ellipse-4-QPs {
            width: 5.8rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem #003c74;
            height: 5.8rem;
            left: 34.5rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--gsB {
            position: absolute;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            left: 36.55rem;
            display: flex;
            font-size: 1.4rem;
            height: 1.7rem;
            top: 2rem;
            color: #000000;
          }
          .ellipse-5-jqT {
            height: 5.8rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            filter: blur(0.2rem);
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            left: 46rem;
            top: 0;
            background-color: #003c74;
          }
          .item--bcm {
            top: 2rem;
            display: flex;
            line-height: 1.2125;
            height: 1.7rem;
            position: absolute;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            white-space: nowrap;
            width: 4.9rem;
            left: 46.45rem;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .ellipse-6-SdP {
            left: 57.5rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
            width: 5.8rem;
          }
          .item--6xq {
            justify-content: center;
            height: 1.7rem;
            align-items: center;
            color: #000000;
            white-space: nowrap;
            display: flex;
            left: 59.55rem;
            top: 2rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            position: absolute;
          }
        }
      }
      .item--9w7 {
        display: flex;
        justify-content: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.5rem;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-9-2k1 {
        background-color: #d9d9d9;
        flex-shrink: 0;
        margin: 0rem 3.4rem 1.65rem 3.5rem;
        width: calc(100% - 6.9rem);
        height: 40rem;
      }
      .item--Kz1 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.65rem;
        max-width: 23.3rem;
        font-weight: 500;
        font-size: 1.7rem;
        color: #000000;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .auto-group-vd5s-kJd {
        flex-shrink: 0;
        margin: 0rem 31.7rem 5.1rem 31.8rem;
        width: calc(100% - 63.5rem);
        height: 6rem;
        display: flex;
        align-items: center;

        .group-56-r6m {
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          border-radius: 2rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          box-sizing: border-box;
          margin-right: 3.4rem;
          border: solid 0.3rem #003c74;
          height: 100%;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          background-color: #003c74;
          flex-shrink: 0;
          width: 9.3rem;
        }
        .auto-group-fk5o-4id {
          height: 100%;
          justify-content: center;
          white-space: nowrap;
          font-weight: 500;
          box-sizing: border-box;
          width: 9.3rem;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.2125;
          border: solid 0.3rem #003c74;
          background-color: #003c74;
        }
      }
      .bi-mic-fill-KPf {
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 74.7rem;
        width: 2.5rem;
      }
    }
  }
  .rectangle-30-d9T {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
