
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-8-UiV {
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-vawm-bo7 {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-wjx9-jPX {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;

    .group-61-TKX {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-jq3t-DJh {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;

        .group-62-iWM {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;

          .group-11-EzV {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
          }
          .me-muse-a2m {
            white-space: nowrap;
            margin-top: 0rem;
            display: flex;
            align-items: center;
            font-size: 2rem;
            line-height: 1.0875;
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
            justify-content: center;
            font-weight: 400;
          }
        }
        .group-10-fa1 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-RZB {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);

            .workplace-kLZ {
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              white-space: nowrap;
              margin-right: 10.6rem;
              justify-content: center;
              font-weight: 700;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .museum-fTX {
              flex-shrink: 0;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              align-items: center;
            }
            .guide-yz1 {
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 14.55rem;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              font-weight: 700;
            }
            .login-ucm {
              white-space: nowrap;
              display: flex;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
            }
          }
          .group-2-qFX {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-bVb {
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              width: 4.6rem;
            }
          }
        }
      }
      .line-2-7yj {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
      }
    }
    .auto-group-jbff-U3b {
      width: 100%;
      height: 93.1286rem;
      position: relative;
      flex-shrink: 0;

      .item--1ZK {
        height: 2.1rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: absolute;
        top: 27.0619rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 32.8rem;
        left: 43.35rem;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 500;
        color: #000000;
      }
      .bi-mic-fill-2jK {
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
        top: 89.2619rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
      }
      .item--ZUM {
        font-size: 1.7rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 47.2rem;
        position: absolute;
        justify-content: center;
        color: #000000;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        height: 2.1rem;
        top: 74.5619rem;
        display: flex;
        align-items: baseline;
        left: 36.15rem;

        .item--ZUM-sub-0 {
        }
        .item--ZUM-sub-1 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--ZUM-sub-2 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--ZUM-sub-3 {
        }
      }
      .group-63-rVP {
        height: 6rem;
        font-size: 1.6rem;
        background-color: #003c74;
        position: absolute;
        left: 55.1rem;
        display: flex;
        line-height: 1.2125;
        width: 9.3rem;
        top: 79.3619rem;
        white-space: nowrap;
        border: solid 0.3rem #003c74;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2rem;
      }
      .rectangle-9-uiZ {
        top: 31.8619rem;
        background-color: #d9d9d9;
        width: 78.6rem;
        height: 40rem;
        position: absolute;
        left: 20.5rem;
      }
      .group-14-SyP {
        position: absolute;
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;
        width: 85.5rem;
        height: 5.8rem;

        .item--aph {
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          color: #000000;
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;

          .item--aph-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
          }
          .item--aph-sub-1 {
          }
        }
        .auto-group-juqt-7i9 {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-SVX {
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
          }
          .ellipse-1-a5w {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border-radius: 2.9rem;
            left: 0;
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
          }
          .item--Hm3 {
            align-items: center;
            justify-content: center;
            height: 1.7rem;
            position: absolute;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            width: 2.6rem;
            top: 2rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            left: 1.6rem;
          }
          .ellipse-2-ytm {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            left: 11.5rem;
            top: 0;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--6iV {
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            height: 1.7rem;
            left: 13.55rem;
            top: 2rem;
            font-size: 1.4rem;
            font-weight: 500;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            position: absolute;
            align-items: center;
            color: #000000;
          }
          .ellipse-3-oN1 {
            left: 23rem;
            top: 0;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--8QH {
            position: absolute;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            align-items: center;
            line-height: 1.2125;
            display: flex;
            color: #000000;
            height: 1.7rem;
            top: 2rem;
            left: 25.05rem;
          }
          .ellipse-4-qZb {
            height: 5.8rem;
            top: 0;
            box-sizing: border-box;
            filter: blur(0.2rem);
            background-color: #003c74;
            width: 5.8rem;
            position: absolute;
            left: 34.5rem;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
          }
          .item--YU1 {
            display: flex;
            font-weight: 500;
            height: 1.7rem;
            position: absolute;
            align-items: center;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            left: 36.55rem;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
            width: 1.7rem;
            top: 2rem;
            font-size: 1.4rem;
          }
          .ellipse-5-pgR {
            left: 46rem;
            top: 0;
            border: solid 0.1rem #003c74;
            width: 5.8rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            height: 5.8rem;
          }
          .item--8x1 {
            align-items: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 4.9rem;
            height: 1.7rem;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            position: absolute;
            left: 46.45rem;
            font-size: 1.4rem;
            color: #000000;
            top: 2rem;
            font-weight: 500;
          }
          .ellipse-6-q5j {
            position: absolute;
            left: 57.5rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            background-color: #ffffff;
          }
          .item--MZs {
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            left: 59.55rem;
            display: flex;
            font-size: 1.4rem;
            line-height: 1.2125;
            height: 1.7rem;
            top: 2rem;
            align-items: center;
            font-weight: 500;
            justify-content: center;
            color: #000000;
          }
        }
      }
    }
  }
  .rectangle-30-FQM {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
