
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-15-vSV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-qvo3-Ei5 {
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.6rem;
  }
  .auto-group-zkah-mT7 {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-6EV {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ywof-3fX {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-hk5 {
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;

          .group-11-pZo {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
          }
          .me-muse-A7s {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.0875;
            white-space: nowrap;
            margin-top: 0rem;
            justify-content: center;
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-10-s2H {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .group-1-cVf {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-YPK {
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              flex-shrink: 0;
              margin-right: 10.6rem;
              justify-content: center;
              font-weight: 700;
            }
            .museum-4Mf {
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              margin-right: 13.6rem;
              justify-content: center;
              font-weight: 700;
              flex-shrink: 0;
            }
            .guide-noT {
              color: #003c74;
              white-space: nowrap;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              margin-right: 14.55rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .login-7Kw {
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
            }
          }
          .group-2-EvM {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-zed {
              vertical-align: top;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
            }
          }
        }
      }
      .line-2-vYH {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-xs3p-4uP {
      width: 100%;
      height: 91.2286rem;
      position: relative;
      flex-shrink: 0;

      .item--D1b {
        top: 27.2619rem;
        color: #000000;
        width: 36.7rem;
        position: absolute;
        align-items: center;
        justify-content: center;
        line-height: 1.2125;
        height: 2.1rem;
        font-size: 1.7rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        left: 41.4rem;
        display: flex;
        white-space: nowrap;
      }
      .bi-mic-fill-DQu {
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
        top: 87.3619rem;
        object-fit: contain;
      }
      .item--fGu {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        position: absolute;
        left: 49.75rem;
        top: 70.8119rem;
        align-items: center;
        width: 19.8rem;
        height: 4.2rem;
      }
      .auto-group-lrbp-VFw {
        width: 22rem;
        height: 6rem;
        position: absolute;
        left: 48.7rem;
        top: 76.6619rem;
        display: flex;
        align-items: center;

        .group-46-1zy {
          margin-right: 3.4rem;
          width: 9.3rem;
          height: 100%;
          cursor: pointer;
          border-radius: 2rem;
          flex-shrink: 0;

          .group-44-mDT {
            display: flex;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            color: #ffffff;
            line-height: 1.2125;
            border-radius: 2rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 500;
            border: solid 0.3rem #003c74;
            box-sizing: border-box;
            background-color: #003c74;
            align-items: center;
            justify-content: center;
          }
        }
        .group-45-RJ1 {
          background-color: #003c74;
          border-radius: 2rem;
          height: 100%;
          line-height: 1.2125;
          border: solid 0.3rem #003c74;
          justify-content: center;
          white-space: nowrap;
          box-sizing: border-box;
          width: 9.3rem;
          display: flex;
          color: #ffffff;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          align-items: center;
          font-size: 1.6rem;
        }
      }
      .group-14-svh {
        width: 85.5rem;
        height: 5.8rem;
        position: absolute;
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;

        .item--CTB {
          flex-shrink: 0;
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          font-size: 1.7rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;

          .item--CTB-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
          }
          .item--CTB-sub-1 {
          }
        }
        .auto-group-r7m3-Rz9 {
          flex-shrink: 0;
          width: 63.3rem;
          height: 100%;
          position: relative;

          .line-4-kmX {
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
          }
          .ellipse-1-gfB {
            width: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            height: 5.8rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--c33 {
            font-size: 1.4rem;
            width: 2.6rem;
            position: absolute;
            top: 2rem;
            font-weight: 500;
            white-space: nowrap;
            left: 1.6rem;
            justify-content: center;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            display: flex;
            align-items: center;
          }
          .ellipse-2-JRf {
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            background-color: #ffffff;
          }
          .item--chF {
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            align-items: center;
            justify-content: center;
            line-height: 1.2125;
            font-size: 1.4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            display: flex;
            left: 13.55rem;
            font-weight: 500;
          }
          .ellipse-3-uwF {
            width: 5.8rem;
            background-color: #ffffff;
            border-radius: 2.9rem;
            box-sizing: border-box;
            height: 5.8rem;
            position: absolute;
            left: 23rem;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--dMT {
            height: 1.7rem;
            position: absolute;
            left: 25.05rem;
            font-size: 1.4rem;
            white-space: nowrap;
            align-items: center;
            top: 2rem;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            display: flex;
            color: #000000;
          }
          .ellipse-4-j9b {
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            left: 34.5rem;
            box-sizing: border-box;
            border-radius: 2.9rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--qiR {
            left: 36.55rem;
            display: flex;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            font-size: 1.4rem;
          }
          .ellipse-5-LQH {
            height: 5.8rem;
            left: 46rem;
            top: 0;
            width: 5.8rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            position: absolute;
          }
          .item--FXF {
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            width: 4.9rem;
            left: 46.45rem;
            display: flex;
            height: 1.7rem;
            align-items: center;
            white-space: nowrap;
            top: 2rem;
            font-weight: 500;
            color: #000000;
          }
          .ellipse-6-w9B {
            width: 5.8rem;
            box-sizing: border-box;
            filter: blur(0.2rem);
            background-color: #003c74;
            border-radius: 2.9rem;
            height: 5.8rem;
            position: absolute;
            left: 57.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--F9s {
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            align-items: center;
            font-weight: 500;
            top: 2rem;
            font-size: 1.4rem;
            color: #ffffff;
            white-space: nowrap;
            height: 1.7rem;
            display: flex;
            line-height: 1.2125;
            width: 1.7rem;
            left: 59.55rem;
            justify-content: center;
          }
        }
      }
      .auto-group-s1v3-w2h {
        display: flex;
        align-items: center;
        width: 119.5rem;
        height: 13.3rem;
        position: absolute;
        left: 0;
        top: 35.4619rem;

        .rectangle-9-TWq {
          margin-right: 3.1rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-11-Tv9 {
          margin-right: 3rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-12-c2M {
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 2.9rem;
          width: 17.4rem;
        }
        .rectangle-13-Lyw {
          margin-right: 3rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-14-siy {
          margin-right: 3.1rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-15-cgZ {
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
      }
      .auto-group-qyym-xkR {
        left: 7.6rem;
        top: 32.9119rem;
        display: flex;
        align-items: center;
        width: 104.6rem;
        height: 2rem;
        position: absolute;

        .item--gRX {
          display: flex;
          line-height: 1.2125;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 18.1rem;
          align-items: center;
          flex-shrink: 0;
        }
        .item--QMX {
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          line-height: 1.2125;
          margin-right: 17.5rem;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--KUV {
          font-family: Inter, 'Source Sans Pro';
          margin-right: 17.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--cyP {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          margin-right: 17.5rem;
          display: flex;
          justify-content: center;
          white-space: nowrap;
        }
        .item--9iR {
          display: flex;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.1rem;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          align-items: center;
        }
        .item--4qP {
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
      }
      .auto-group-jxlu-Pcm {
        align-items: center;
        width: 119.5rem;
        height: 13.3rem;
        position: absolute;
        left: 0;
        top: 53.8619rem;
        display: flex;

        .rectangle-16-7Ym {
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .rectangle-20-rmF {
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 3rem;
          width: 17.4rem;
          height: 13.3rem;
        }
        .rectangle-21-QGy {
          margin-right: 2.9rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-18-Y8H {
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 3rem;
        }
        .rectangle-19-V3X {
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
        }
        .rectangle-17-Rxm {
          width: 17.4rem;
          height: 13.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
      }
      .auto-group-prkz-PPo {
        align-items: center;
        width: 105.8rem;
        height: 2rem;
        position: absolute;
        left: 5.9rem;
        top: 51.3119rem;
        display: flex;

        .item--ud3 {
          flex-shrink: 0;
          margin-right: 16.2rem;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          align-items: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--dJ9 {
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          margin-right: 17.5rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--ZBo {
          justify-content: center;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          line-height: 1.2125;
          margin-right: 17.4rem;
        }
        .item--HNh {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          margin-right: 17.5rem;
        }
        .item--cfs {
          margin-right: 18rem;
          justify-content: center;
          font-size: 1.6rem;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--k1P {
          align-items: center;
          justify-content: center;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .rectangle-30-fe9 {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
