
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-4-LLR {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-4-LLR .auto-group-5c3b-Tfw {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-62-mq3 {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-62-mq3 .group-11-J4H {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-62-mq3 .me-muse-ECq {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-1-5jF {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-1-5jF .workplace-D4m {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-1-5jF .museum-vE5 {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-1-5jF .guide-Sy7 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-1-5jF .login-xRf {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-2-tKK {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .auto-group-jnrm-TZT .group-10-XBw .group-2-tKK .icons8-user1-1-3i1 {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-4-LLR .auto-group-y8c9-Brq .group-61-JgZ .line-2-ybf {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq {
  box-sizing: border-box;
  padding: 7.162rem 18.1rem 0rem 17rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB {
  margin-bottom: 26.4rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .item--mnR {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .item--mnR .item--mnR-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .item--mnR .item--mnR-sub-1 {
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .line-4-DH3 {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-1-9Rb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--Tx5 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-2-M1s {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--4ws {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-3-kZo {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--qr9 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-4-KmK {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--3SR {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-5-9EZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--TW9 {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .ellipse-6-ww7 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-14-psB .auto-group-1var-5Rj .item--4Vw {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw .item--Mjw-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw .item--Mjw-sub-1 {
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw .item--Mjw-sub-2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw .item--Mjw-sub-3 {
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--Mjw .item--Mjw-sub-4 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .auto-group-brww-ZDj {
  margin: 0rem 27.5rem 6.35rem 27.6rem;
  width: calc(100% - 55.1rem);
  height: 6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 {
  margin-bottom: 1.65rem;
  max-width: 44.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-0 {
  text-align:center;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-3 {
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-4 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-5 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .item--zK3 .item--zK3-sub-6 {
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .group-36-KXf {
  margin: 0rem 38.1rem 17.2rem 38.1rem;
  width: calc(100% - 76.2rem);
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-4-LLR .auto-group-y8c9-Brq .auto-group-tmko-Jtq .bi-mic-fill-ycD {
  margin-left: 74.7rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-LLR .rectangle-30-ho7 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

input{
  width:260px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}
