
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-5-5sF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-5-5sF .auto-group-dbd3-1F7 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-62-Kv1 {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-62-Kv1 .group-11-rf3 {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-62-Kv1 .me-muse-yzZ {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-1-qms {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-1-qms .workplace-Zxm {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-1-qms .museum-5gD {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-1-qms .guide-Jos {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-1-qms .login-cJm {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-2-Kys {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .auto-group-tprb-cVo .group-10-ge5 .group-2-Kys .icons8-user1-1-tXB {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-5-5sF .auto-group-ouz3-vss .group-61-4DP .line-2-cCH {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty {
  width: 100%;
  height: 93.1286rem;
  position: relative;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--HJR {
  width: 14.5rem;
  height: 0rem;
  position: absolute;
  left: 52.5rem;
  top: 25.8619rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .bi-mic-fill-LGh {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 89.2619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .rectangle-9-f45 {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 28rem;
  background-color: #d9d9d9;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .item--7wf {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .item--7wf .item--7wf-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .item--7wf .item--7wf-sub-1 {
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .line-4-YQh {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-1-UZF {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--PgD {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-2-Gk1 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--akh {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-3-4fs {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--mKP {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-4-sNR {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--b3X {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-5-toK {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--czD {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .ellipse-6-Kdj {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .group-14-Bo7 .auto-group-j3hb-cX3 .item--EVo {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm {
  width: 46rem;
  height: 20rem;
  position: absolute;
  left: 36.75rem;
  top: 72.5119rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm .item--ivm-sub-0 {
  text-align:center;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm .item--ivm-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm .item--ivm-sub-2 {
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm .item--ivm-sub-3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .item--ivm .item--ivm-sub-4 {
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .auto-group-qcy9-Gsj {
  width: 22.5rem;
  height: 6rem;
  position: absolute;
  left: 48.5rem;
  top: 86rem;
  display: flex;
  align-items: center;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .auto-group-qcy9-Gsj .group-38-zoj {
  margin-right: 3.9rem;
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-5-5sF .auto-group-ouz3-vss .auto-group-8ta5-Lty .auto-group-qcy9-Gsj .group-39-f9B {
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-5-5sF .rectangle-30-KUd {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
