
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-2-BFw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-2-BFw .rectangle-29-681 {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf {
  margin-bottom: 32.2619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-62-cEm {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-62-cEm .group-11-8yo {
  margin: 0rem 1.204rem 0rem 0rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-62-cEm .me-muse-fiq {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-1-wRT {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-1-wRT .workplace-fcM {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-1-wRT .museum-nS5 {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-1-wRT .guide-Wcy {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-1-wRT .login-Eos {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-2-yWZ {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .auto-group-1igh-HiH .group-10-nHf .group-2-yWZ .icons8-user1-1-Lru {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-2-BFw .auto-group-sqdp-Rg5 .group-61-jwf .line-2-UTK {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--RNZ {
  margin: 0rem 0.881rem 1.35rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB {
  margin-right: 0.9rem;
  max-width: 29.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-0 {
  text-align:center;
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #188ffd;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-3 {
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-2-BFw .auto-group-sqdp-Rg5 .item--7mB .item--7mB-sub-5 {
}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb {
  box-sizing: border-box;
  padding: 5.65rem 22.25rem 0rem 44.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction:
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .auto-group-il1f-4do {
  margin: 0rem 23.35rem 5.25rem 0rem;
  box-sizing: border-box;
  padding: 2.15rem 2.5rem 1.85rem 2.5rem;
  width: 30.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .item--64h {
  margin: 0rem 23.25rem 17.35rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .item--64h .item--64h-sub-0 {
  text-align:center;
  justify-content: center;
  align-items:center;

}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .item--64h .item--64h-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .item--64h .item--64h-sub-2 {

}
.item-2-BFw .auto-group-sqdp-Rg5 .auto-group-qrkh-MDb .bi-mic-fill-9SH {
  margin-left: 51.25rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;

}
.item-2-BFw .rectangle-30-GWu {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

input{
  width:260px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}