
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes slide {
  0%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg1.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:35%;
  }
  33%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg1.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:35%;
  }
  33.01%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg2.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:5%;
  }
  66%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg2.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:5%;
  }
  66.01%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg3.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:55%;
  }
  100%{
    background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg3.png') no-repeat 100% 100%;
    background-size:1920px;
    background-position-y:55%;
}
}

body {
  width: 192rem;
}.item-2-gcH {
  box-sizing: border-box;
  padding: 1.8rem 29.45rem 24.8rem 36.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../assets/rectangle-17.png'); */
  background-color: #003c74;
  background:linear-gradient(rgba(0,61,117,0.6), rgba(0,61,117,0.6)), url('../assets/bg3.png') no-repeat 100% 100%;
  background-size:1920px;
  background-position-y:55%;
  animation: slide 20s infinite;
  animation: slide 6s;
}
.item-2-gcH .group-60-axZ {
  margin: 0rem 5.75rem 16.962rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-22-q7o {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-22-q7o .group-6-ZJh {
  margin-right: 1.204rem;
  opacity: 0.9;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-22-q7o .me-muse-tLy {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #ffffff;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-1-ke5 {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-1-ke5 .workplace-5gM {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-1-ke5 .museum-osF {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-1-ke5 .guide-Y49 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-1-ke5 .login-FUM {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-2-aWd {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-2-gcH .group-60-axZ .auto-group-awgv-uzq .group-10-QKK .group-2-aWd .icons8-user1-1-YCZ {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-2-gcH .group-60-axZ .line-2-sVj {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 {
  margin-left: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 58.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV {
  margin-right: 6.45rem;
  width: 45.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV .ellipse-7-J5F {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV .realmemusewhite-1-RvZ {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV .group-15-N57 {
  opacity: 0;
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV .group-15-N57 .ellipse-8-uKw {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-2-gcH .auto-group-swyz-pA5 .group-16-wkV .group-15-N57 .realmemusewhite-2-3BF {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo {
  /* margin: 10.25rem 0rem 18.5rem 0rem; */
  margin-left:auto;
  margin-right:auto;
  margin: 0 auto;
  width: 74.3rem;
  text-align:center;
  height: calc(100% - 28.75rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .ai-barrier-free--gV7 {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align:center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .ai-barrier-free--gV7 .ai-barrier-free--gV7-sub-0 {
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .ai-barrier-free--gV7 .ai-barrier-free--gV7-sub-1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0d263e;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .ai-barrier-free--gV7 .ai-barrier-free--gV7-sub-2 {
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .item--jbo {
  margin: 0rem 9.8rem 5.05rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-gcH .auto-group-swyz-pA5 .auto-group-deps-yKo .group-23-BCu {
  margin: 0rem 15.55rem 0rem 14.15rem;
  width: calc(100% - 25.0rem);
  height: 9.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0d273e;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-33-pE5.png');
  border-radius: 5.3rem;
  flex-shrink: 0;
}
