
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item--wcD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item--wcD .rectangle-29-T4m {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-62-AtH {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-62-AtH .group-11-JDo {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-62-AtH .me-muse-ENM {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-1-txh {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-1-txh .workplace-pbT {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-1-txh .museum-97w {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-1-txh .guide-TuK {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-1-txh .login-BKX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-2-JQ9 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .auto-group-b6xh-rch .group-10-Y89 .group-2-JQ9 .icons8-user1-1-rwT {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--wcD .auto-group-ddc5-nMw .group-61-6tR .line-2-Nuo {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF {
  box-sizing: border-box;
  padding: 18.062rem 22.25rem 0rem 35.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .auto-group-1whb-qYV {
  margin: 0rem 14.05rem 5.5rem 0rem;
  box-sizing: border-box;
  padding: 22.8rem 8.1rem 22.4rem 8.9rem;
  width: 49.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/realmemusever2003d75-1-bg-xyf.png');
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .auto-group-1whb-qYV .item--icH {
  margin: 0rem 0.6rem 2.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .auto-group-1whb-qYV .auto-group-d5eh-ADP {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .auto-group-1whb-qYV .auto-group-d5eh-ADP .group-24-78d {
  margin-right: 2.3rem;
  width: 14.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .auto-group-1whb-qYV .auto-group-d5eh-ADP .group-62-Yzd {
  width: 14.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--wcD .auto-group-ddc5-nMw .auto-group-u98m-KKF .bi-mic-fill-Bnh {
  margin-left: 60.65rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--wcD .rectangle-30-K8D {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
