
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-12-MoF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-12-MoF .auto-group-zqkk-Ucy {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-62-nGH {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-62-nGH .group-11-WTB {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-62-nGH .me-muse-3T7 {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-1-uER {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-1-uER .workplace-dRK {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-1-uER .museum-wwo {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-1-uER .guide-saZ {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-1-uER .login-Br9 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-2-Jvm {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .auto-group-nqdb-s9K .group-10-wYV .group-2-Jvm .icons8-user1-1-gH7 {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-12-MoF .auto-group-flcy-Pzq .group-61-uiH .line-2-Qyo {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .bi-mic-fill-HXo {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .item--Lky {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .item--Lky .item--Lky-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .item--Lky .item--Lky-sub-1 {
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .line-4-9bw {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-1-UPK {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--oAh {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-2-tC9 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--noK {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-3-Ug9 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--bEy {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-4-Hdb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--DGM {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-5-7Mj {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--2Uh {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .ellipse-6-va5 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-14-om3 .auto-group-bmhb-2GR .item--Eqf {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--Ks7 {
  width: 36.7rem;
  height: 2.1rem;
  position: absolute;
  left: 41.4rem;
  top: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--9bF {
  width: 49.3rem;
  height: 2.1rem;
  position: absolute;
  left: 35.1rem;
  top: 78rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--9bF .item--9bF-sub-0 {
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--9bF .item--9bF-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--9bF .item--9bF-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .item--9bF .item--9bF-sub-3 {
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .group-63-Vh3 {
  width: 9.3rem;
  height: 6rem;
  position: absolute;
  left: 55.1rem;
  top: 82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
}
.item-12-MoF .auto-group-flcy-Pzq .auto-group-go6z-xEd .rectangle-9-YfK {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 26rem;
  background-color: #d9d9d9;
}
.item-12-MoF .rectangle-30-sSh {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
