
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-13-zsj {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-13-zsj .auto-group-dwoo-i33 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-62-9Xf {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-62-9Xf .group-11-FKo {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-62-9Xf .me-muse-BDT {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-1-EBj {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-1-EBj .workplace-xNd {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-1-EBj .museum-ULy {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-1-EBj .guide-bgV {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-1-EBj .login-7uj {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-2-qaq {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .auto-group-vzu3-fMb .group-10-GVo .group-2-qaq .icons8-user1-1-CRP {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-13-zsj .auto-group-muyq-23j .group-61-v97 .line-2-Wws {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .bi-mic-fill-nuP {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .item--egh {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .item--egh .item--egh-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .item--egh .item--egh-sub-1 {
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .line-4-YJD {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-1-sLV {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--mgm {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-2-f1T {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--NAm {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-3-FkM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--AsK {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-4-U7K {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--ypm {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-5-68h {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--ChX {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .ellipse-6-6H7 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-14-KPX .auto-group-xw89-pND .item--1ey {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item-74-7-4-uVT {
  width: 37.7rem;
  height: 4.2rem;
  position: absolute;
  left: 40.9rem;
  top: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  text-align:center;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item-74-7-4-uVT .item-74-7-4-uVT-sub-0 {
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item-74-7-4-uVT .item-74-7-4-uVT-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item--HuK {
  width: 47.2rem;
  height: 2.1rem;
  position: absolute;
  left: 36.15rem;
  top: 79rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item--HuK .item--HuK-sub-0 {
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item--HuK .item--HuK-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item--HuK .item--HuK-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .item--HuK .item--HuK-sub-3 {
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .group-63-JLZ {
  width: 9.3rem;
  height: 6rem;
  position: absolute;
  left: 55.1rem;
  top: 83rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
}
.item-13-zsj .auto-group-muyq-23j .auto-group-hjzz-eoB .rectangle-9-Lo3 {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 27rem;
  background-color: #d9d9d9;
}
.item-13-zsj .rectangle-30-4yw {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
