
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-1-KjP {
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .rectangle-29-dVB {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
    margin-right: 10.4rem;
  }
  .auto-group-d5hb-y3F {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-tR7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 29.5619rem;
      width: 100%;
      align-items: center;

      .auto-group-x4yq-337 {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;

        .group-62-kiD {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-5Eh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.204rem 0rem 0rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
          }
          .me-muse-CKK {
            margin-top: 0rem;
            justify-content: center;
            font-size: 2rem;
            line-height: 1.0875;
            color: #003c74;
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-10-W57 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-ruf {
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;

            .workplace-CCq {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              margin-right: 10.6rem;
              white-space: nowrap;
              color: #003c74;
              flex-shrink: 0;
              font-family: Anybody, 'Source Sans Pro';
            }
            .museum-iBB {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 13.6rem;
              font-weight: 700;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
            }
            .guide-e4q {
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 14.55rem;
              cursor: pointer;
              justify-content: center;
              font-weight: 700;
              color: #003c74;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              flex-shrink: 0;
            }
            .login-AJ5 {
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              display: flex;
              align-items: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              justify-content: center;
            }
          }
          .group-2-Vr9 {
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;

            .icons8-user1-1-Tny {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-vAm {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--TRb {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 1.7rem;
      line-height: 1.2125;
      color: #000000;
      margin: 0rem 1.081rem 1.1rem 0rem;
      display: flex;
      font-weight: 600;
      white-space: nowrap;
    }
    .item--Yxq {
      font-size: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      margin-right: 0.9rem;
      display: flex;
      align-items: center;
      color: #000000;
      flex-shrink: 0;
      max-width: 24rem;
      justify-content: center;
      font-weight: 500;

      .item--Yxq-sub-0 {
      }
      .item--Yxq-sub-1 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
      }
      .item--Yxq-sub-2 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #1400ff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--Yxq-sub-3 {
      }
      .item--Yxq-sub-4 {
        font-weight: 700;
        line-height: 1.2125;
        color: #1400ff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .item--Yxq-sub-5 {
      }
    }
    .auto-group-k49x-AWM {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.4rem 22.25rem 0rem 44.6rem;
      width: 100%;
      align-items: center;
      display: flex;

      .auto-group-ybld-gUh {
        border: solid 0.3rem #003c74;
        border-radius: 2rem;
        display: flex;
        font-weight: 500;
        color: #8e8989;
        font-family: Inter, 'Source Sans Pro';
        background-color: #ffffff;
        padding: 2.05rem 2.5rem 1.95rem 2.5rem;
        width: 30.4rem;
        font-size: 1.6rem;
        margin: 0rem 23.35rem 1.5rem 0rem;
        box-sizing: border-box;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-vj7f-WCq {
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2rem;
        line-height: 1.2125;
        font-weight: 500;
        border: solid 0.3rem #003c74;
        display: flex;
        box-sizing: border-box;
        padding: 2.05rem 2.5rem 1.95rem 2.5rem;
        width: 30.4rem;
        color: #8e8989;
        white-space: nowrap;
        background-color: #ffffff;
        margin: 0rem 23.35rem 5.25rem 0rem;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .item--jbP {
        justify-content: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 23.25rem 16.95rem 0rem;
        display: flex;
        align-items: baseline;
        font-size: 1.6rem;
        font-weight: 500;
        color: #000000;
        flex-shrink: 0;

        .item--jbP-sub-0 {
        }
        .item--jbP-sub-1 {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--jbP-sub-2 {
        }
      }
      .bi-mic-fill-PZT {
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 51.25rem;
        width: 2.5rem;
      }
    }
  }
  .rectangle-30-81F {
    flex-shrink: 0;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
  }
}
