
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-4-RPo {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-lsuf-vLZ {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-fyxh-qTX {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;

    .group-61-MRs {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-dxtb-6uF {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-DDB {
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;

          .group-11-jhK {
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .me-muse-fay {
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0rem;
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 400;
            color: #003c74;
            justify-content: center;
            line-height: 1.0875;
            white-space: nowrap;
          }
        }
        .group-10-9W9 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-Jdw {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-psB {
              font-size: 2rem;
              color: #003c74;
              flex-shrink: 0;
              display: flex;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 10.6rem;
            }
            .museum-8ss {
              margin-right: 13.6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #003c74;
              white-space: nowrap;
              cursor: pointer;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .guide-FxV {
              font-weight: 700;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              display: flex;
              font-size: 2rem;
              line-height: 1.035;
              flex-shrink: 0;
              margin-right: 14.55rem;
              cursor: pointer;
            }
            .login-PJ1 {
              cursor: pointer;
              align-items: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
            }
          }
          .group-2-7Uu {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-H8V {
              vertical-align: top;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
            }
          }
        }
      }
      .line-2-Qiu {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
      }
    }
    .auto-group-7cqz-jmB {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 7.1619rem;
      width: 100%;

      .group-14-GWD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 23.8rem 21.2rem 22.8rem;
        width: calc(100% - 46.6rem);
        height: 5.8rem;

        .item--zBK {
          font-size: 1.7rem;
          font-weight: 600;
          align-items: baseline;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          line-height: 1.2125;
          color: #000000;

          .item--zBK-sub-0 {
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
          }
          .item--zBK-sub-1 {
          }
        }
        .auto-group-ojm7-2GR {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 51.8rem;

          .line-4-MpV {
            background-color: #000000;
            width: 51.4002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
          }
          .ellipse-1-t3j {
            left: 0;
            top: 0;
            border-radius: 2.9rem;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
          }
          .item--BoX {
            display: flex;
            align-items: center;
            white-space: nowrap;
            width: 2.6rem;
            left: 1.6rem;
            line-height: 1.2125;
            color: #000000;
            top: 2rem;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
            height: 1.7rem;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-2-4cR {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            border: solid 0.1rem #003c74;
            position: absolute;
            left: 11.5rem;
            border-radius: 2.9rem;
          }
          .item--aam {
            width: 1.7rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            top: 2rem;
            display: flex;
            height: 1.7rem;
            position: absolute;
            left: 13.55rem;
            align-items: center;
            justify-content: center;
            color: #000000;
            white-space: nowrap;
          }
          .ellipse-3-eqX {
            background-color: #ffffff;
            border-radius: 2.9rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border: solid 0.1rem #003c74;
            width: 5.8rem;
            height: 5.8rem;
            left: 23rem;
          }
          .item--Mzq {
            top: 2rem;
            display: flex;
            width: 1.7rem;
            height: 1.7rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            font-weight: 500;
            color: #000000;
            position: absolute;
            left: 25.05rem;
            align-items: center;
          }
          .ellipse-4-qv1 {
            width: 5.8rem;
            top: 0;
            border: solid 0.1rem #003c74;
            filter: blur(0.2rem);
            height: 5.8rem;
            position: absolute;
            left: 34.5rem;
            box-sizing: border-box;
            background-color: #003c74;
            border-radius: 2.9rem;
          }
          .item--M7f {
            font-weight: 500;
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            height: 1.7rem;
            position: absolute;
            justify-content: center;
            left: 36.55rem;
            font-size: 1.4rem;
            width: 1.7rem;
            top: 2rem;
            display: flex;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-5-rKK {
            border-radius: 2.9rem;
            height: 5.8rem;
            position: absolute;
            left: 46rem;
            border: solid 0.1rem #003c74;
            width: 5.8rem;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--ZzR {
            width: 1.7rem;
            left: 48.05rem;
            top: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            justify-content: center;
            color: #000000;
            height: 1.7rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
          }
        }
      }
      .item--sVK {
        display: flex;
        font-weight: 500;
        color: #000000;
        flex-shrink: 0;
        margin: 0rem 1.3rem 2.15rem 0rem;
        justify-content: center;
        font-size: 1.7rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
      }
      .auto-group-wbvz-Vmb {
        margin: 0rem 14.4rem 0.65rem 13.4rem;
        width: calc(100% - 27.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-1-1zq {
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 29.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
        }
        .item-2-M37 {
          margin-right: 29.6rem;
          display: flex;
          font-weight: 500;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-3-Trq {
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          margin-right: 29.5rem;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          color: #000000;
        }
        .item-4-nPK {
          display: flex;
          justify-content: center;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-c7p7-7Ah {
        flex-shrink: 0;
        margin: 0rem 1.2rem 16.4rem 0rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;

        .rectangle-22-deq {
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-26-nGq {
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-27-jSy {
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-28-5mj {
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
      }
      .bi-mic-fill-Dsw {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 73.6rem;
        width: 2.5rem;
        height: 3.8667rem;
      }
    }
  }
  .rectangle-30-ZS1 {
    flex-shrink: 0;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
  }
}
