
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-3-9kD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-f5c5-sRK {
    flex-shrink: 0;
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-vayq-oJy {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-KYD {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-9t17-gNm {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;

        .group-62-Pny {
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;

          .group-11-6xH {
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
          }
          .me-muse-EYh {
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 400;
            margin-top: 0rem;
            justify-content: center;
            line-height: 1.0875;
            flex-shrink: 0;
          }
        }
        .group-10-vgR {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-657 {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-pG1 {
              justify-content: center;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 10.6rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              color: #003c74;
              flex-shrink: 0;
            }
            .museum-XRK {
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              font-weight: 700;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              flex-shrink: 0;
              margin-right: 13.6rem;
              cursor: pointer;
            }
            .guide-F6R {
              align-items: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.035;
              color: #003c74;
              flex-shrink: 0;
              margin-right: 14.55rem;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-size: 2rem;
            }
            .login-xFj {
              display: flex;
              font-size: 2rem;
              font-family: Anybody, 'Source Sans Pro';
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
            }
          }
          .group-2-Uzm {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-3Y5 {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-Mof {
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-ldfx-tYh {
      box-sizing: border-box;
      padding-top: 7.1619rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-14-E6m {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 23.8rem 21.2rem 22.8rem;
        width: calc(100% - 46.6rem);
        height: 5.8rem;
        display: flex;

        .item--Yt9 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          line-height: 1.2125;
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;
          color: #000000;
          margin: 0.3rem 10.2rem 0rem 0rem;

          .item--Yt9-sub-0 {
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--Yt9-sub-1 {
          }
        }
        .auto-group-9xrd-d2R {
          position: relative;
          flex-shrink: 0;
          width: 51.8rem;
          height: 100%;

          .line-4-A2M {
            width: 51.4002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
          }
          .ellipse-1-tU9 {
            width: 5.8rem;
            background-color: #ffffff;
            border-radius: 2.9rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            height: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .item--Czd {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 2.6rem;
            top: 2rem;
            display: flex;
            line-height: 1.2125;
            color: #000000;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            left: 1.6rem;
            font-weight: 500;
            height: 1.7rem;
            position: absolute;
          }
          .ellipse-2-64R {
            height: 5.8rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
          }
          .item--Q57 {
            justify-content: center;
            font-size: 1.4rem;
            height: 1.7rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            width: 1.7rem;
            left: 13.55rem;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            top: 2rem;
            align-items: center;
            color: #000000;
          }
          .ellipse-3-5S9 {
            height: 5.8rem;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            left: 23rem;
            top: 0;
            border: solid 0.1rem #003c74;
            filter: blur(0.2rem);
            background-color: #003c74;
          }
          .item--ado {
            position: absolute;
            justify-content: center;
            width: 1.7rem;
            height: 1.7rem;
            white-space: nowrap;
            top: 2rem;
            color: #ffffff;
            line-height: 1.2125;
            left: 25.05rem;
            align-items: center;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-size: 1.4rem;
          }
          .ellipse-4-UjB {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            left: 34.5rem;
            border: solid 0.1rem #003c74;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--PLM {
            font-family: Inter, 'Source Sans Pro';
            left: 36.55rem;
            justify-content: center;
            color: #000000;
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .ellipse-5-V8V {
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            left: 46rem;
            position: absolute;
            border-radius: 2.9rem;
          }
          .item--bxD {
            top: 2rem;
            justify-content: center;
            width: 1.7rem;
            left: 48.05rem;
            position: absolute;
            white-space: nowrap;
            align-items: center;
            line-height: 1.2125;
            font-size: 1.4rem;
            font-weight: 500;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            display: flex;
          }
        }
      }
      .item--Vnh {
        display: flex;
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.3rem 2.15rem 0rem;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-mdx7-LHX {
        margin: 0rem 14.6rem 0.65rem 13.4rem;
        width: calc(100% - 28rem);
        display: flex;
        column-gap: 29.8rem;
        align-items: center;
        flex-shrink: 0;

        .item--3xd {
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          line-height: 1.2125;
          flex-shrink: 0;
        }
        .item--PFo {
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          display: flex;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--uzq {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          flex-shrink: 0;
          display: flex;
        }
        .item--EXK {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          line-height: 1.2125;
          flex-shrink: 0;
          display: flex;
          font-size: 1.6rem;
        }
      }
      .auto-group-s8yf-a5P {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.2rem 16.4rem 0rem;
        display: flex;
        column-gap: 3rem;

        .rectangle-22-hQu {
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-26-SNV {
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
          flex-shrink: 0;
          width: 27.6rem;
        }
        .rectangle-27-ytD {
          flex-shrink: 0;
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
          background-color: #d9d9d9;
        }
        .rectangle-28-jMb {
          background-color: #d9d9d9;
          flex-shrink: 0;
          width: 27.6rem;
          height: 27.3rem;
          cursor: pointer;
        }
      }
      .bi-mic-fill-gGq {
        width: 2.5rem;
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 73.6rem;
      }
    }
  }
  .rectangle-30-8Pj {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
