
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-2-BFw {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .rectangle-29-681 {
    margin-right: 10.4rem;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
  .auto-group-sqdp-Rg5 {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-jwf {
      margin-bottom: 32.2619rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-1igh-HiH {
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;

        .group-62-cEm {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;

          .group-11-8yo {
            margin: 0rem 1.204rem 0rem 0rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .me-muse-fiq {
            margin-top: 0rem;
            display: flex;
            justify-content: center;
            font-weight: 400;
            line-height: 1.0875;
            color: #003c74;
            align-items: center;
            font-size: 2rem;
            font-family: Archivo Black, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-10-nHf {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-wRT {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-fcM {
              font-family: Anybody, 'Source Sans Pro';
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              margin-right: 10.6rem;
              justify-content: center;
              font-weight: 700;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .museum-nS5 {
              align-items: center;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              color: #003c74;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
            }
            .guide-Wcy {
              justify-content: center;
              font-size: 2rem;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-weight: 700;
              color: #003c74;
              flex-shrink: 0;
              margin-right: 14.55rem;
            }
            .login-Eos {
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              align-items: center;
              color: #003c74;
              flex-shrink: 0;
            }
          }
          .group-2-yWZ {
            cursor: pointer;
            flex-shrink: 0;
            height: 100%;

            .icons8-user1-1-Lru {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-UTK {
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
      }
    }
    .item--RNZ {
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0.881rem 1.35rem 0rem;
      flex-shrink: 0;
    }
    .item--7mB {
      font-family: Inter, 'Source Sans Pro';
      margin-right: 0.9rem;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: #000000;
      flex-shrink: 0;
      max-width: 29.9rem;
      display: flex;
      align-items: center;
      line-height: 1.2125;

      .item--7mB-sub-0 {
      }
      .item--7mB-sub-1 {
        font-weight: 500;
        line-height: 1.2125;
        color: #188ffd;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .item--7mB-sub-2 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #1400ff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--7mB-sub-3 {
      }
      .item--7mB-sub-4 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #1400ff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--7mB-sub-5 {
      }
    }
    .auto-group-qrkh-MDb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.65rem 22.25rem 0rem 44.6rem;
      width: 100%;
      align-items: center;

      .auto-group-il1f-4do {
        padding: 2.15rem 2.5rem 1.85rem 2.5rem;
        width: 30.4rem;
        border: solid 0.3rem #003c74;
        color: #8e8989;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 500;
        white-space: nowrap;
        margin: 0rem 23.35rem 5.25rem 0rem;
        box-sizing: border-box;
        line-height: 1.2125;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .item--64h {
        display: flex;
        align-items: baseline;
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 23.25rem 17.35rem 0rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;

        .item--64h-sub-0 {
        }
        .item--64h-sub-1 {
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
        }
        .item--64h-sub-2 {
        }
      }
      .bi-mic-fill-9SH {
        flex-shrink: 0;
        margin-left: 51.25rem;
        width: 2.5rem;
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .rectangle-30-GWu {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
