
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-3-jRb {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-fq2v-3x5 {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-jkff-mt5 {
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;

    .group-61-hWq {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-z3yd-G49 {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-n2V {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-VxV {
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .me-muse-Ev5 {
            line-height: 1.0875;
            flex-shrink: 0;
            justify-content: center;
            font-weight: 400;
            align-items: center;
            font-size: 2rem;
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            white-space: nowrap;
            margin-top: 0rem;
            display: flex;
          }
        }
        .group-10-x5P {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-7DB {
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;

            .workplace-dBX {
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 10.6rem;
            }
            .museum-wi1 {
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.6rem;
              display: flex;
              font-size: 2rem;
              color: #003c74;
              cursor: pointer;
              align-items: center;
            }
            .guide-UC9 {
              margin-right: 14.55rem;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              cursor: pointer;
              align-items: center;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .login-b1s {
              color: #003c74;
              white-space: nowrap;
              font-size: 2rem;
              line-height: 1.035;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
            }
          }
          .group-2-v49 {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-5hj {
              vertical-align: top;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
            }
          }
        }
      }
      .line-2-cSm {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-p6pr-MQM {
      width: 100%;
      height: 93.1286rem;
      position: relative;
      flex-shrink: 0;

      .item--J4h {
        top: 25.8619rem;
        font-weight: 500;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        font-size: 1.7rem;
        line-height: 1.2125;
        width: 14.5rem;
        height: 2.1rem;
        position: absolute;
        left: 52.5rem;
        display: flex;
        justify-content: center;
      }
      .bi-mic-fill-kSV {
        top: 89.2619rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
      }
      .item--UdP {
        top: 71.5119rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 6.2rem;
        position: absolute;
        left: 36.75rem;
        font-size: 1.7rem;
        font-weight: 500;
        width: 46rem;

        .item--UdP-sub-0 {
        }
        .item--UdP-sub-1 {
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
        }
        .item--UdP-sub-2 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--UdP-sub-3 {
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .item--UdP-sub-4 {
        }
        .item--UdP-sub-5 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--UdP-sub-6 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--UdP-sub-7 {
        }
        .item--UdP-sub-8 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--UdP-sub-9 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--UdP-sub-10 {
        }
      }
      .rectangle-9-kYH {
        height: 40rem;
        position: absolute;
        left: 20.5rem;
        top: 29.6619rem;
        background-color: #d9d9d9;
        width: 78.6rem;
      }
      .group-14-tPb {
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;
        width: 85.5rem;
        height: 5.8rem;
        position: absolute;

        .item--cqP {
          font-size: 1.7rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          font-weight: 600;
          line-height: 1.2125;
          flex-shrink: 0;

          .item--cqP-sub-0 {
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--cqP-sub-1 {
          }
        }
        .auto-group-cswu-yZT {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-uT7 {
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
          }
          .ellipse-1-RRT {
            height: 5.8rem;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            left: 0;
            border: solid 0.1rem #003c74;
          }
          .item--L2d {
            width: 2.6rem;
            height: 1.7rem;
            position: absolute;
            top: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            justify-content: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            left: 1.6rem;
            display: flex;
            align-items: center;
            color: #000000;
            white-space: nowrap;
          }
          .ellipse-2-pCh {
            width: 5.8rem;
            background-color: #003c74;
            border-radius: 2.9rem;
            box-sizing: border-box;
            filter: blur(0.2rem);
            height: 5.8rem;
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--KQM {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            font-weight: 500;
            white-space: nowrap;
            top: 2rem;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            width: 1.7rem;
            height: 1.7rem;
            left: 13.55rem;
            display: flex;
          }
          .ellipse-3-DVj {
            border-radius: 2.9rem;
            width: 5.8rem;
            left: 23rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            height: 5.8rem;
            position: absolute;
            top: 0;
          }
          .item--jiy {
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            display: flex;
            font-size: 1.4rem;
            align-items: center;
            line-height: 1.2125;
            justify-content: center;
            font-weight: 500;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 25.05rem;
            top: 2rem;
            width: 1.7rem;
          }
          .ellipse-4-qX7 {
            width: 5.8rem;
            left: 34.5rem;
            top: 0;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--N1F {
            height: 1.7rem;
            display: flex;
            font-size: 1.4rem;
            top: 2rem;
            color: #000000;
            width: 1.7rem;
            position: absolute;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            left: 36.55rem;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .ellipse-5-ToP {
            height: 5.8rem;
            position: absolute;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            left: 46rem;
          }
          .item--nqf {
            height: 1.7rem;
            left: 46.45rem;
            top: 2rem;
            align-items: center;
            color: #000000;
            display: flex;
            white-space: nowrap;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 4.9rem;
            position: absolute;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .ellipse-6-VEH {
            width: 5.8rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
            height: 5.8rem;
            left: 57.5rem;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--pGZ {
            height: 1.7rem;
            top: 2rem;
            font-weight: 500;
            width: 1.7rem;
            position: absolute;
            font-size: 1.4rem;
            left: 59.55rem;
            display: flex;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            color: #000000;
          }
        }
      }
      .auto-group-623s-7Ff {
        align-items: center;
        width: 22.5rem;
        height: 6rem;
        position: absolute;
        left: 48.5rem;
        top: 79.5619rem;
        display: flex;

        .group-38-EbB {
          justify-content: center;
          background-color: #003c74;
          width: 9.3rem;
          align-items: center;
          font-weight: 500;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 2rem;
          height: 100%;
          display: flex;
          flex-shrink: 0;
          margin-right: 3.9rem;
          cursor: pointer;
          white-space: nowrap;
          border: solid 0.3rem #003c74;
          box-sizing: border-box;
          font-size: 1.6rem;
          line-height: 1.2125;
        }
        .group-39-6dP {
          width: 9.3rem;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          color: #ffffff;
          border: solid 0.3rem #003c74;
          background-color: #003c74;
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          cursor: pointer;
          display: flex;
          font-size: 1.6rem;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          line-height: 1.2125;
        }
      }
    }
  }
  .rectangle-30-mDj {
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
    width: 25.8rem;
  }
}
