
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-12-1-mLM {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-qok5-VGM {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-gj7w-cbs {
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;

    .group-61-YEd {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-9cdo-JUh {
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;

        .group-62-1tu {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-9ER {
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
          }
          .me-muse-V3P {
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            font-family: Archivo Black, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.0875;
            color: #003c74;
            white-space: nowrap;
            margin-top: 0rem;
            align-items: center;
            justify-content: center;
          }
        }
        .group-10-zF3 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-xBs {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-g7s {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 10.6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .museum-PY5 {
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 13.6rem;
              display: flex;
              line-height: 1.035;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
            }
            .guide-Wsb {
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              flex-shrink: 0;
              margin-right: 14.55rem;
              display: flex;
              align-items: center;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              justify-content: center;
              font-size: 2rem;
            }
            .login-SWM {
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              align-items: center;
              font-family: Anybody, 'Source Sans Pro';
            }
          }
          .group-2-jVT {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-gfb {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-b1s {
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
      }
    }
    .auto-group-7dbx-hqb {
      height: 91.2286rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .bi-mic-fill-3Pf {
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
        top: 87.3619rem;
        object-fit: contain;
      }
      .group-14-NB3 {
        position: absolute;
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;
        width: 85.5rem;
        height: 5.8rem;

        .item--tfB {
          flex-shrink: 0;
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          color: #000000;
          align-items: baseline;

          .item--tfB-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
          }
          .item--tfB-sub-1 {
          }
        }
        .auto-group-xzeh-mcV {
          position: relative;
          flex-shrink: 0;
          width: 63.3rem;
          height: 100%;

          .line-4-JMX {
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
          }
          .ellipse-1-Rww {
            top: 0;
            border-radius: 2.9rem;
            position: absolute;
            left: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
          }
          .item--wfP {
            top: 2rem;
            display: flex;
            line-height: 1.2125;
            height: 1.7rem;
            position: absolute;
            left: 1.6rem;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            width: 2.6rem;
          }
          .ellipse-2-RaZ {
            height: 5.8rem;
            width: 5.8rem;
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--8js {
            top: 2rem;
            width: 1.7rem;
            left: 13.55rem;
            display: flex;
            white-space: nowrap;
            height: 1.7rem;
            line-height: 1.2125;
            color: #000000;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
          }
          .ellipse-3-24Z {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            left: 23rem;
            box-sizing: border-box;
            background-color: #ffffff;
            top: 0;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
          }
          .item--Y2u {
            left: 25.05rem;
            top: 2rem;
            align-items: center;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            height: 1.7rem;
            font-weight: 500;
            white-space: nowrap;
            position: absolute;
            line-height: 1.2125;
            color: #000000;
          }
          .ellipse-4-dq3 {
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            left: 34.5rem;
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
          }
          .item--9YV {
            line-height: 1.2125;
            height: 1.7rem;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 36.55rem;
            top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 500;
            width: 1.7rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-5-SXb {
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            filter: blur(0.2rem);
            background-color: #003c74;
            left: 46rem;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
          }
          .item--Z6R {
            left: 46.45rem;
            display: flex;
            align-items: center;
            width: 4.9rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            position: absolute;
            justify-content: center;
            font-weight: 500;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            top: 2rem;
            white-space: nowrap;
          }
          .ellipse-6-qJq {
            height: 5.8rem;
            position: absolute;
            left: 57.5rem;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
            width: 5.8rem;
            box-sizing: border-box;
            background-color: #ffffff;
            top: 0;
          }
          .item--wsf {
            white-space: nowrap;
            width: 1.7rem;
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #000000;
            height: 1.7rem;
            justify-content: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 59.55rem;
            top: 2rem;
            font-size: 1.4rem;
          }
        }
      }
      .item--3fo {
        height: 2.1rem;
        width: 18.8rem;
        top: 27.0619rem;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        position: absolute;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        left: 50.35rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-9-6ty {
        width: 78.6rem;
        height: 40rem;
        position: absolute;
        left: 20.5rem;
        top: 31.8619rem;
        background-color: #d9d9d9;
      }
      .auto-group-dquy-EkH {
        width: 22rem;
        height: 6rem;
        position: absolute;
        left: 48.8rem;
        top: 79.3619rem;
        display: flex;
        align-items: center;

        .auto-group-cybb-yC5 {
          width: 9.3rem;
          align-items: center;
          font-size: 1.6rem;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.2125;
          border: solid 0.3rem #003c74;
          height: 100%;
          display: flex;
          justify-content: center;
          color: #ffffff;
          border-radius: 2rem;
          margin-right: 3.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #003c74;
        }
        .auto-group-fjqf-2w3 {
          width: 9.3rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          height: 100%;
          background-color: #003c74;
          border-radius: 2rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.3rem #003c74;
        }
      }
      .item--uV3 {
        width: 38.9rem;
        justify-content: center;
        font-weight: 500;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.1rem;
        left: 40.3rem;
        display: flex;
        font-size: 1.7rem;
        white-space: nowrap;
        position: absolute;
        align-items: baseline;
        line-height: 1.2125;
        top: 74.5619rem;

        .item--uV3-sub-0 {
        }
        .item--uV3-sub-1 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--uV3-sub-2 {
        }
        .item--uV3-sub-3 {
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .item--uV3-sub-4 {
        }
      }
    }
  }
  .rectangle-30-beh {
    flex-shrink: 0;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
  }
}
