
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-2-R8V {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .auto-group-7qpw-LFT {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
  }
  .auto-group-wz53-FtD {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-BWy {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-7yfj-8x1 {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;

        .group-62-efT {
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;

          .group-11-nFs {
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .me-muse-Kmb {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-family: Archivo Black, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.0875;
            color: #003c74;
            margin-top: 0rem;
            justify-content: center;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .group-10-ENm {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .group-1-bDK {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-X6y {
              align-items: center;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              cursor: pointer;
              display: flex;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 10.6rem;
              font-size: 2rem;
            }
            .museum-EGH {
              align-items: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              white-space: nowrap;
              flex-shrink: 0;
              justify-content: center;
              font-size: 2rem;
            }
            .guide-xCH {
              display: flex;
              justify-content: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 14.55rem;
              cursor: pointer;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              white-space: nowrap;
            }
            .login-Gyf {
              align-items: center;
              font-size: 2rem;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
            }
          }
          .group-2-DP7 {
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;

            .icons8-user1-1-yt5 {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-hZB {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-dwup-3N9 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.162rem 18.1rem 0rem 17rem;
      width: 100%;
      align-items: center;

      .group-14-xV7 {
        width: 100%;
        height: 5.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 26.45rem;

        .item--JJ5 {
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          font-size: 1.7rem;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;

          .item--JJ5-sub-0 {
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
          }
          .item--JJ5-sub-1 {
          }
        }
        .auto-group-y4zx-oe9 {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-jXo {
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
          }
          .ellipse-1-Tih {
            width: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            height: 5.8rem;
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--Nqf {
            justify-content: center;
            white-space: nowrap;
            width: 2.6rem;
            height: 1.7rem;
            position: absolute;
            display: flex;
            align-items: center;
            line-height: 1.2125;
            color: #000000;
            top: 2rem;
            font-family: Inter, 'Source Sans Pro';
            left: 1.6rem;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .ellipse-2-Gg9 {
            filter: blur(0.2rem);
            border-radius: 2.9rem;
            height: 5.8rem;
            top: 0;
            box-sizing: border-box;
            border: solid 0.1rem #003c74;
            background-color: #003c74;
            width: 5.8rem;
            position: absolute;
            left: 11.5rem;
          }
          .item--n8h {
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            justify-content: center;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            left: 13.55rem;
            display: flex;
            align-items: center;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            top: 2rem;
            font-size: 1.4rem;
          }
          .ellipse-3-Sj3 {
            height: 5.8rem;
            position: absolute;
            left: 23rem;
            background-color: #ffffff;
            width: 5.8rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
          }
          .item--kDw {
            width: 1.7rem;
            align-items: center;
            height: 1.7rem;
            position: absolute;
            left: 25.05rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            top: 2rem;
            justify-content: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-4-S6m {
            height: 5.8rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            border: solid 0.1rem #003c74;
            left: 34.5rem;
          }
          .item--9ms {
            top: 2rem;
            align-items: center;
            line-height: 1.2125;
            height: 1.7rem;
            position: absolute;
            left: 36.55rem;
            width: 1.7rem;
            justify-content: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            color: #000000;
            font-weight: 500;
          }
          .ellipse-5-eyX {
            height: 5.8rem;
            background-color: #ffffff;
            border-radius: 2.9rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            width: 5.8rem;
            position: absolute;
            left: 46rem;
          }
          .item--NuX {
            display: flex;
            align-items: center;
            height: 1.7rem;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            position: absolute;
            color: #000000;
            top: 2rem;
            left: 46.45rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            width: 4.9rem;
          }
          .ellipse-6-UxZ {
            height: 5.8rem;
            position: absolute;
            top: 0;
            border-radius: 2.9rem;
            width: 5.8rem;
            left: 57.5rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .item--cJ5 {
            left: 59.55rem;
            display: flex;
            top: 2rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            position: absolute;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: #000000;
            width: 1.7rem;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .item--hqK {
        justify-content: center;
        font-size: 1.7rem;
        line-height: 1.2102272931;
        flex-shrink: 0;
        display: flex;
        align-items: baseline;
        font-weight: 600;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 7.25rem 0.2rem;

        .item--hqK-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
        }
        .item--hqK-sub-1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 500;
        }
        .item--hqK-sub-2 {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
        }
      }
      .auto-group-z3ku-tHX {
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 27.5rem 6.25rem 27.6rem;
        font-weight: 500;
        background-color: #ffffff;
        padding: 1.95rem 2.5rem 2.05rem 2.5rem;
        border: solid 0.3rem #003c74;
        border-radius: 2rem;
        flex-shrink: 0;
        display: flex;
        width: calc(100% - 55.1rem);
        line-height: 1.2125;
        color: #8e8989;
        box-sizing: border-box;
      }
      .item--uyK {
        margin: 0rem 0rem 1.65rem 0.2rem;
        max-width: 46rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;

        .item--uyK-sub-0 {
        }
        .item--uyK-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
        }
        .item--uyK-sub-2 {
        }
        .item--uyK-sub-3 {
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.7rem;
          font-weight: 700;
        }
        .item--uyK-sub-4 {
        }
      }
      .auto-group-wbxx-wS9 {
        margin: 0rem 38rem 16.4rem 38.2rem;
        width: calc(100% - 76.2rem);
        display: flex;
        white-space: nowrap;
        background-color: #003c74;
        flex-shrink: 0;
        height: 6rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        box-sizing: border-box;
        align-items: center;
        border: solid 0.3rem #003c74;
        border-radius: 2rem;
        justify-content: center;
        font-weight: 500;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .bi-mic-fill-azu {
        margin-left: 74.7rem;
        width: 2.5rem;
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .rectangle-30-WtZ {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
