
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-9-gHf {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;

  .auto-group-kw7s-Pxm {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-dsgr-vho {
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;

    .group-61-FEH {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-wbhs-c4q {
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;

        .group-62-7nH {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-eXK {
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
          }
          .me-muse-ndX {
            justify-content: center;
            font-size: 2rem;
            font-weight: 400;
            color: #003c74;
            flex-shrink: 0;
            white-space: nowrap;
            margin-top: 0rem;
            display: flex;
            align-items: center;
            line-height: 1.0875;
            font-family: Archivo Black, 'Source Sans Pro';
          }
        }
        .group-10-twT {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-FX7 {
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;

            .workplace-yi1 {
              margin-right: 10.6rem;
              display: flex;
              justify-content: center;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              color: #003c74;
              flex-shrink: 0;
              cursor: pointer;
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
            }
            .museum-VgM {
              margin-right: 13.6rem;
              display: flex;
              font-size: 2rem;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .guide-DMT {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 14.55rem;
              cursor: pointer;
              display: flex;
            }
            .login-8jK {
              display: flex;
              justify-content: center;
              font-size: 2rem;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              align-items: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              white-space: nowrap;
            }
          }
          .group-2-sS1 {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-EnM {
              object-fit: cover;
              vertical-align: top;
              width: 4.6rem;
              height: 4.6rem;
            }
          }
        }
      }
      .line-2-Avu {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-k7dt-v9P {
      width: 100%;
      height: 91.2286rem;
      position: relative;
      flex-shrink: 0;

      .bi-mic-fill-TQD {
        top: 87.3619rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
      }
      .group-14-yNZ {
        width: 85.5rem;
        height: 5.8rem;
        position: absolute;
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;

        .item--hpM {
          flex-shrink: 0;
          margin: 0.3rem 10.2rem 0rem 0rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          display: flex;
          font-size: 1.7rem;
          color: #000000;

          .item--hpM-sub-0 {
            font-size: 1.7rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--hpM-sub-1 {
          }
        }
        .auto-group-mt1w-boF {
          position: relative;
          flex-shrink: 0;
          width: 63.3rem;
          height: 100%;

          .line-4-Xwo {
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
          }
          .ellipse-1-U6M {
            position: absolute;
            left: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--BWZ {
            font-size: 1.4rem;
            justify-content: center;
            position: absolute;
            top: 2rem;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            width: 2.6rem;
            height: 1.7rem;
            left: 1.6rem;
          }
          .ellipse-2-gCR {
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            position: absolute;
            left: 11.5rem;
            height: 5.8rem;
            top: 0;
            border-radius: 2.9rem;
          }
          .item--yhK {
            left: 13.55rem;
            display: flex;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 2rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: #000000;
            height: 1.7rem;
          }
          .ellipse-3-TsP {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            left: 23rem;
            top: 0;
            border-radius: 2.9rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
          }
          .item--mt5 {
            width: 1.7rem;
            top: 2rem;
            color: #000000;
            justify-content: center;
            position: absolute;
            align-items: center;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            left: 25.05rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .ellipse-4-sgD {
            left: 34.5rem;
            top: 0;
            box-sizing: border-box;
            background-color: #003c74;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            filter: blur(0.2rem);
          }
          .item--Bgu {
            position: absolute;
            display: flex;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            left: 36.55rem;
            justify-content: center;
            width: 1.7rem;
            white-space: nowrap;
            top: 2rem;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #ffffff;
          }
          .ellipse-5-GiM {
            left: 46rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            top: 0;
            border: solid 0.1rem #003c74;
          }
          .item--Pny {
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            width: 4.9rem;
            top: 2rem;
            justify-content: center;
            font-weight: 500;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 46.45rem;
            font-size: 1.4rem;
            height: 1.7rem;
            align-items: center;
          }
          .ellipse-6-HNZ {
            background-color: #ffffff;
            width: 5.8rem;
            height: 5.8rem;
            left: 57.5rem;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            border: solid 0.1rem #003c74;
            border-radius: 2.9rem;
          }
          .item--CkR {
            align-items: center;
            justify-content: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 59.55rem;
            top: 2rem;
            display: flex;
            font-weight: 500;
            width: 1.7rem;
            height: 1.7rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .item--JYZ {
        top: 27.0619rem;
        justify-content: center;
        color: #000000;
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        width: 32.8rem;
        height: 2.1rem;
        position: absolute;
        left: 43.35rem;
        font-size: 1.7rem;
      }
      .item--LVF {
        height: 2.1rem;
        left: 35.6rem;
        display: flex;
        align-items: baseline;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        top: 74.5619rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        width: 48.3rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';

        .item--LVF-sub-0 {
        }
        .item--LVF-sub-1 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--LVF-sub-2 {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #1400ff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--LVF-sub-3 {
        }
      }
      .group-63-BGu {
        border: solid 0.3rem #003c74;
        position: absolute;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        width: 9.3rem;
        height: 6rem;
        font-size: 1.6rem;
        background-color: #003c74;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        font-weight: 500;
        line-height: 1.2125;
        left: 55.1rem;
        top: 79.3619rem;
        align-items: center;
      }
      .rectangle-9-SCq {
        position: absolute;
        left: 20.5rem;
        top: 31.8619rem;
        background-color: #d9d9d9;
        width: 78.6rem;
        height: 40rem;
      }
    }
  }
  .rectangle-30-APj {
    flex-shrink: 0;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
  }
}
