
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-7-wMT {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-uujx-G8q {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
  }
  .auto-group-pqnh-NxZ {
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-61-uBo {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-tkkd-44h {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-mUu {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-tpR {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
          }
          .me-muse-SL9 {
            display: flex;
            font-weight: 400;
            line-height: 1.0875;
            color: #003c74;
            flex-shrink: 0;
            white-space: nowrap;
            margin-top: 0rem;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-family: Archivo Black, 'Source Sans Pro';
          }
        }
        .group-10-8yf {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-uDj {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-dQd {
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              color: #003c74;
              white-space: nowrap;
              margin-right: 10.6rem;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              justify-content: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
            }
            .museum-kVF {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              font-family: Anybody, 'Source Sans Pro';
              line-height: 1.035;
              color: #003c74;
              flex-shrink: 0;
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              font-size: 2rem;
            }
            .guide-HEH {
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              flex-shrink: 0;
              margin-right: 14.55rem;
              font-size: 2rem;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
            }
            .login-zeV {
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 2rem;
              white-space: nowrap;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
            }
          }
          .group-2-Wsj {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-g1X {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-oM3 {
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
      }
    }
    .auto-group-ck7s-kGH {
      width: 100%;
      height: 93.1286rem;
      position: relative;
      flex-shrink: 0;

      .item--J2u {
        color: #000000;
        width: 12.3rem;
        left: 53.6rem;
        font-family: Inter, 'Source Sans Pro';
        top: 27.0619rem;
        font-weight: 500;
        display: flex;
        font-size: 1.7rem;
        line-height: 1.2125;
        height: 2.1rem;
        position: absolute;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
      }
      .bi-mic-fill-jtu {
        vertical-align: top;
        width: 2.5rem;
        height: 3.8667rem;
        position: absolute;
        left: 95.85rem;
        top: 89.2619rem;
        object-fit: contain;
      }
      .item--4wB {
        width: 21.5rem;
        height: 4.2rem;
        position: absolute;
        left: 49rem;
        top: 72.5119rem;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-6ved-gxZ {
        display: flex;
        align-items: center;
        width: 22rem;
        height: 6rem;
        position: absolute;
        left: 48.8rem;
        top: 78.3619rem;

        .group-42-RQM {
          font-size: 1.6rem;
          white-space: nowrap;
          border: solid 0.3rem #003c74;
          flex-shrink: 0;
          width: 9.3rem;
          display: flex;
          font-weight: 500;
          color: #ffffff;
          box-sizing: border-box;
          background-color: #003c74;
          height: 100%;
          justify-content: center;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 2rem;
          margin-right: 3.4rem;
          line-height: 1.2125;
        }
        .auto-group-etut-tHw {
          width: 9.3rem;
          height: 100%;
          display: flex;
          border: solid 0.3rem #003c74;
          border-radius: 2rem;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 500;
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #003c74;
        }
      }
      .rectangle-9-kL9 {
        position: absolute;
        left: 20.5rem;
        top: 30.8619rem;
        background-color: #d9d9d9;
        width: 78.6rem;
        height: 40rem;
      }
      .group-14-sff {
        left: 17rem;
        top: 7.1619rem;
        display: flex;
        align-items: center;
        width: 85.5rem;
        height: 5.8rem;
        position: absolute;

        .item--CC9 {
          margin: 0.3rem 10.2rem 0rem 0rem;
          font-size: 1.7rem;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;

          .item--CC9-sub-0 {
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
          }
          .item--CC9-sub-1 {
          }
        }
        .auto-group-3f8m-tz5 {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-EY9 {
            top: 2.899rem;
            background-color: #000000;
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
          }
          .ellipse-1-a6D {
            height: 5.8rem;
            background-color: #ffffff;
            width: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
          }
          .item--guw {
            display: flex;
            align-items: center;
            top: 2rem;
            color: #000000;
            white-space: nowrap;
            width: 2.6rem;
            height: 1.7rem;
            font-size: 1.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 1.6rem;
            justify-content: center;
            font-weight: 500;
          }
          .ellipse-2-P3f {
            box-sizing: border-box;
            height: 5.8rem;
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
          }
          .item--cSD {
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            left: 13.55rem;
            position: absolute;
            font-size: 1.4rem;
            white-space: nowrap;
            width: 1.7rem;
            display: flex;
            line-height: 1.2125;
            height: 1.7rem;
            align-items: center;
            font-weight: 500;
            color: #000000;
            top: 2rem;
          }
          .ellipse-3-6cH {
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 5.8rem;
            position: absolute;
            left: 23rem;
            height: 5.8rem;
            top: 0;
            border-radius: 2.9rem;
          }
          .item--cqX {
            display: flex;
            position: absolute;
            justify-content: center;
            line-height: 1.2125;
            color: #000000;
            left: 25.05rem;
            align-items: center;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            height: 1.7rem;
            top: 2rem;
            font-weight: 500;
            white-space: nowrap;
          }
          .ellipse-4-7nH {
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            box-sizing: border-box;
            background-color: #003c74;
            position: absolute;
            left: 34.5rem;
            border: solid 0.1rem #003c74;
            filter: blur(0.2rem);
            border-radius: 2.9rem;
          }
          .item--E6D {
            height: 1.7rem;
            position: absolute;
            align-items: center;
            line-height: 1.2125;
            color: #ffffff;
            left: 36.55rem;
            display: flex;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.4rem;
            width: 1.7rem;
            top: 2rem;
            font-weight: 500;
          }
          .ellipse-5-KNZ {
            left: 46rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
            height: 5.8rem;
            position: absolute;
            background-color: #ffffff;
            width: 5.8rem;
          }
          .item--du3 {
            white-space: nowrap;
            width: 4.9rem;
            height: 1.7rem;
            left: 46.45rem;
            font-weight: 500;
            display: flex;
            font-size: 1.4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            position: absolute;
            top: 2rem;
            align-items: center;
            justify-content: center;
          }
          .ellipse-6-K1B {
            position: absolute;
            left: 57.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            width: 5.8rem;
            height: 5.8rem;
            background-color: #ffffff;
            border-radius: 2.9rem;
          }
          .item--2gH {
            height: 1.7rem;
            position: absolute;
            justify-content: center;
            font-weight: 500;
            line-height: 1.2125;
            left: 59.55rem;
            display: flex;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            width: 1.7rem;
            align-items: center;
            top: 2rem;
            color: #000000;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .rectangle-30-KQV {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
