
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-11-xKT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-fdq3-GL9 {
    margin-right: 2.6rem;
    width: 33.6rem;
    height: 108rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-pmrt-z1F {
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;
    display: flex;

    .group-61-Jnd {
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-sovj-GDf {
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);

        .group-62-BLd {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-Jw3 {
            margin-right: 1.204rem;
            width: 7.496rem;
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .me-muse-rBs {
            align-items: center;
            white-space: nowrap;
            margin-top: 0rem;
            display: flex;
            font-weight: 400;
            line-height: 1.0875;
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            flex-shrink: 0;
            justify-content: center;
            font-size: 2rem;
          }
        }
        .group-10-M8d {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .group-1-hyB {
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1.3rem 10.25rem 1.2rem 0rem;

            .workplace-dbw {
              font-family: Anybody, 'Source Sans Pro';
              display: flex;
              font-size: 2rem;
              font-weight: 700;
              justify-content: center;
              line-height: 1.035;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 10.6rem;
              cursor: pointer;
              align-items: center;
            }
            .museum-Yiu {
              cursor: pointer;
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              flex-shrink: 0;
              margin-right: 13.6rem;
              display: flex;
              justify-content: center;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
            }
            .guide-f2q {
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              margin-right: 14.55rem;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .login-yJR {
              line-height: 1.035;
              font-family: Anybody, 'Source Sans Pro';
              cursor: pointer;
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              color: #003c74;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
            }
          }
          .group-2-uhs {
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;

            .icons8-user1-1-56Z {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-ooF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 120.6rem;
        height: 0.0386rem;
      }
    }
    .auto-group-bdry-MJy {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.162rem 18.1rem 0rem 17rem;
      width: 100%;
      align-items: center;
      display: flex;

      .group-14-faZ {
        width: 100%;
        height: 5.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 17.3rem;

        .item--cVo {
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;
          margin: 0.3rem 10.2rem 0rem 0rem;
          display: flex;
          color: #000000;

          .item--cVo-sub-0 {
            line-height: 1.2125;
            color: #003c74;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 600;
          }
          .item--cVo-sub-1 {
          }
        }
        .auto-group-e9e9-ktq {
          width: 63.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-4-5w7 {
            width: 62.5002rem;
            height: 0.2rem;
            position: absolute;
            left: 0.2998rem;
            top: 2.899rem;
            background-color: #000000;
          }
          .ellipse-1-1Jy {
            position: absolute;
            left: 0;
            top: 0;
            width: 5.8rem;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            height: 5.8rem;
          }
          .item--uQM {
            position: absolute;
            justify-content: center;
            line-height: 1.2125;
            font-size: 1.4rem;
            white-space: nowrap;
            width: 2.6rem;
            height: 1.7rem;
            align-items: center;
            font-weight: 500;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            left: 1.6rem;
            top: 2rem;
            display: flex;
          }
          .ellipse-2-PKX {
            background-color: #ffffff;
            position: absolute;
            left: 11.5rem;
            top: 0;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
          }
          .item--uHs {
            display: flex;
            line-height: 1.2125;
            top: 2rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            position: absolute;
            left: 13.55rem;
            color: #000000;
            white-space: nowrap;
            width: 1.7rem;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
          }
          .ellipse-3-ncZ {
            left: 23rem;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
            box-sizing: border-box;
            height: 5.8rem;
            top: 0;
          }
          .item--6t9 {
            left: 25.05rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.7rem;
            top: 2rem;
            font-weight: 500;
            height: 1.7rem;
          }
          .ellipse-4-b4D {
            position: absolute;
            border: solid 0.1rem #003c74;
            left: 34.5rem;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
          }
          .item--JjK {
            width: 1.7rem;
            left: 36.55rem;
            display: flex;
            font-size: 1.4rem;
            justify-content: center;
            white-space: nowrap;
            position: absolute;
            top: 2rem;
            color: #000000;
            height: 1.7rem;
            align-items: center;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .ellipse-5-Cph {
            box-sizing: border-box;
            filter: blur(0.2rem);
            background-color: #003c74;
            width: 5.8rem;
            height: 5.8rem;
            top: 0;
            border-radius: 2.9rem;
            position: absolute;
            left: 46rem;
            border: solid 0.1rem #003c74;
          }
          .item--uz1 {
            line-height: 1.2125;
            position: absolute;
            height: 1.7rem;
            top: 2rem;
            display: flex;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.9rem;
            align-items: center;
            justify-content: center;
            left: 46.45rem;
            font-weight: 500;
            font-size: 1.4rem;
          }
          .ellipse-6-oZb {
            left: 57.5rem;
            top: 0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2.9rem;
            width: 5.8rem;
            height: 5.8rem;
            position: absolute;
            border: solid 0.1rem #003c74;
          }
          .item--veD {
            height: 1.7rem;
            top: 2rem;
            align-items: center;
            font-weight: 500;
            line-height: 1.2125;
            position: absolute;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 59.55rem;
            font-size: 1.4rem;
            width: 1.7rem;
            display: flex;
            justify-content: center;
          }
        }
      }
      .auto-group-b4ks-1ff {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: calc(100% - 45.5rem);
        background-image: url('REPLACE_IMAGE:3847912586072aebd80a4560c8d8fba126df9913');
        margin: 0rem 22.7rem 10rem 22.8rem;
        box-sizing: border-box;
        padding: 17.85rem 6.35rem 17.2rem 6.25rem;

        .item--J8y {
          flex-shrink: 0;
          margin-bottom: 1.85rem;
          max-width: 27.4rem;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #000000;
          align-items: center;
          justify-content: center;
          font-size: 1.7rem;
          font-weight: 500;
        }
        .auto-group-oo2z-iiV {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.65rem 0rem 2.75rem;
          width: calc(100% - 5.4rem);
          height: 6rem;
          display: flex;

          .group-52-SPb {
            margin-right: 3.4rem;
            width: 9.3rem;
            align-items: center;
            box-sizing: border-box;
            border-radius: 2rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            border: solid 0.3rem #003c74;
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            background-color: #003c74;
            height: 100%;
            color: #ffffff;
            white-space: nowrap;
          }
          .group-54-haR {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.3rem #003c74;
            box-sizing: border-box;
            width: 9.3rem;
            justify-content: center;
            white-space: nowrap;
            border-radius: 2rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
            background-color: #003c74;
            height: 100%;
            line-height: 1.2125;
          }
        }
      }
      .bi-mic-fill-vxy {
        height: 3.8667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 74.7rem;
        width: 2.5rem;
      }
    }
  }
  .rectangle-30-ePB {
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
    width: 25.8rem;
  }
}
