
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--UJV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .rectangle-29-aMX {
    flex-shrink: 0;
    margin-right: 10.4rem;
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
  }
  .auto-group-3fj1-KK7 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.8rem 9.4rem 0rem 0rem;
    width: 120.6rem;
    align-items: center;

    .group-61-Ews {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 24.2619rem;
      width: 100%;
      align-items: center;

      .auto-group-2b77-bGd {
        margin: 0rem 1.1rem 1.399rem 0.7rem;
        width: calc(100% - 1.8rem);
        height: 4.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-62-iMF {
          margin: 0.2rem 14.7rem 0.2rem 0rem;
          height: calc(100% - 0.4rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-11-3eR {
            height: 4.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.204rem 0rem 0rem;
            width: 7.496rem;
          }
          .me-muse-y2H {
            margin-top: 0rem;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            line-height: 1.0875;
            color: #003c74;
            font-family: Archivo Black, 'Source Sans Pro';
            align-items: center;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-10-stM {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-1-Eiu {
            margin: 1.3rem 10.25rem 1.2rem 0rem;
            height: calc(100% - 2.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .workplace-a25 {
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              cursor: pointer;
              justify-content: center;
              white-space: nowrap;
              margin-right: 10.6rem;
            }
            .museum-hMb {
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              margin-right: 13.6rem;
              cursor: pointer;
              display: flex;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .guide-cjT {
              cursor: pointer;
              align-items: center;
              font-size: 2rem;
              line-height: 1.035;
              margin-right: 14.55rem;
              display: flex;
              justify-content: center;
              font-weight: 700;
              color: #003c74;
              font-family: Anybody, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .login-8xh {
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-weight: 700;
              line-height: 1.035;
              color: #003c74;
              align-items: center;
              font-size: 2rem;
              font-family: Anybody, 'Source Sans Pro';
            }
          }
          .group-2-fSq {
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .icons8-user1-1-qMK {
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .line-2-Zo7 {
        width: 120.6rem;
        height: 0.0386rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-12-huK {
      height: 4.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.904rem;
      opacity: 0.9;
      width: 7.496rem;
    }
    .auto-group-k5gm-pyw {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.5rem 45.6rem 0rem 44.6rem;
      width: 100%;
      row-gap: 1.5rem;
      align-items: center;

      .auto-group-vkym-w2y {
        padding: 2.05rem 2.8rem 1.95rem 2.8rem;
        font-size: 1.6rem;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        line-height: 1.2125;
        border: solid 0.3rem #003c74;
        flex-shrink: 0;
        font-weight: 500;
        color: #8e8989;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 2rem;
      }
      .auto-group-7tus-npH {
        color: #8e8989;
        flex-shrink: 0;
        font-size: 1.6rem;
        display: flex;
        width: 100%;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.3rem #003c74;
        padding: 2.05rem 2.8rem 1.95rem 2.8rem;
        white-space: nowrap;
        background-color: #ffffff;
        border-radius: 2rem;
        box-sizing: border-box;
      }
      .auto-group-h1wp-4G1 {
        box-sizing: border-box;
        padding: 2.05rem 2.8rem 1.95rem 2.8rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2125;
        color: #8e8989;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        font-size: 1.6rem;
        font-weight: 500;
        border: solid 0.3rem #003c74;
        border-radius: 2rem;
      }
      .auto-group-uajv-8Wm {
        padding: 1.95rem 2.7rem 2.05rem 2.7rem;
        line-height: 1.2125;
        color: #8e8989;
        border: solid 0.3rem #003c74;
        border-radius: 2rem;
        width: 100%;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        white-space: nowrap;
        background-color: #ffffff;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .group-6-DYD {
        font-size: 1.6rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        height: 6rem;
        line-height: 1.2125;
        font-weight: 600;
        border: solid 0.3rem #003c74;
        background-color: #003c74;
        border-radius: 2rem;
        cursor: pointer;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
  .rectangle-30-Uj3 {
    width: 25.8rem;
    height: 108rem;
    background-color: #003c74;
    flex-shrink: 0;
  }
}
