<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>인트로2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/-6w3.css"/>
</head>
<body>
<div class="item-2-uGd">
  <div class="group-60-oso">
    <div class="auto-group-tlc9-xkh">
      <div class="group-22-H2H">
        <a href="-VAH.html">
        <img class="group-6-oWR" src="./assets/group-6-HE9.png"/></a>
        <div class="me-muse-8Yh">ME:MUSE</div>
      </div>
      <div class="group-10-dkM">
        <div class="group-1-C2m">
          <div class="workplace-vDf"><a href="-1J1.html">Workplace</a></div>
          <div class="museum-Sho"><a href="-T53.html">Gallery</a></div>
          <div class="guide-Tso"><a href="-R4d.html">Guide</a></div>
          <div class="login-axR"><a href="-ucV.html">Login</a></div>
        </div>
        <div class="group-2-iHw">
          <a href="-69f.html"> 
          <img class="icons8-user1-1-4sb" src="./assets/icons8-user1-1-e9F.png"/></a>
        </div>
      </div>
    </div>
    <img class="line-2-nob" src="./assets/line-2-LNm.png"/>
  </div>
  <div class="auto-group-nfgv-veu">
    <div class="group-16-qms">
      <img class="ellipse-7-yt5" src="./assets/ellipse-7.png"/>
      <img class="realmemusewhite-1-KBF" src="./assets/realmemusewhite-1.png"/>
    </div>
    <div class="group-15-eUR">
      <img class="ellipse-8-QCh" src="./assets/ellipse-8.png"/>
      <img class="realmemusewhite-2-jVs" src="./assets/realmemusewhite-2-4fb.png"/>
    </div>
  </div>
</div>
</body>