<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>메인2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/-i65.css"/>
</head>
<body>
<div class="item-2-gcH">
  <div class="group-60-axZ">
    <div class="auto-group-awgv-uzq">
      <div class="group-22-q7o">
        <a href="-VAH.html">  
        <img class="group-6-ZJh" src="./assets/group-6.png"/></a>
        <div class="me-muse-tLy">ME:MUSE</div>
      </div>
      <div class="group-10-QKK">
        <div class="group-1-ke5">
          <div class="workplace-5gM"><a href="-1J1.html">Workplace</a></div>
          <div class="museum-osF"><a href="-T53.html">Gallery</a></div>
          <div class="guide-Y49"><a href="-R4d.html">Guide</a></div>
          <div class="login-FUM"><a href="-ucV.html">Login</a></div>
        </div>
        <div class="group-2-aWd">
          <a href="-69f.html"> 
          <img class="icons8-user1-1-YCZ" src="./assets/icons8-user1-1-qBf.png"/></a>
        </div>
      </div>
    </div>
    <img class="line-2-sVj" src="./assets/line-2-ZzH.png"/>
  </div>
  <div class="auto-group-swyz-pA5">
    <div class="group-16-wkV">
      <img class="ellipse-7-J5F" src="./assets/ellipse-7-xtq.png"/>
      <img class="realmemusewhite-1-RvZ" src="./assets/realmemusewhite-1-LhP.png"/>
      <div class="group-15-N57">
        <img class="ellipse-8-uKw" src="./assets/ellipse-8-kvV.png"/>
        <img class="realmemusewhite-2-3BF" src="./assets/realmemusewhite-2.png"/>
      </div>
    </div>
    <div class="auto-group-deps-yKo">
      <div class="ai-barrier-free--gV7">
        <span class="ai-barrier-free--gV7-sub-0">음성인식을 통한 [AI 그림 생성 </span>
        <span class="ai-barrier-free--gV7-sub-1">Barrier Free</span>
        <span class="ai-barrier-free--gV7-sub-2"> 전시회]</span>
      </div>
      <div class="item--jbo">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        목소리만으로 그림을 그리고, 전시회를 열어보세요.
      <br/>
      
      </div><a href="-ucV.html">
      <div class="group-23-BCu">나만의 AI 그림 그리러 가기
      </div></a>
    </div>
  </div>
</div>
</body>