<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이 페이지>나만의 전시회3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/-oSy.css"/>
</head>
<body>
<div class="item-3-3zq">
  <div class="rectangle-29-ZCV">
  </div>
  <div class="auto-group-jhcu-UqF">
    <div class="group-61-zYh">
      <div class="auto-group-3lj3-YKK">
        <div class="group-62-f93">
          <a href="-VAH.html">  
          <img class="group-11-zBK" src="./assets/group-11-qA9.png"/></a>
          <div class="me-muse-KDb">ME:MUSE</div>
        </div>
        <div class="group-10-cyP">
          <div class="group-1-mrH">
            <div class="workplace-J5X"><a href="-1J1.html">Workplace</a></div>
            <div class="museum-CRo"><a href="-T53.html">Gallery</a></div>
            <div class="guide-7of"><a href="-R4d.html">Guide</a></div>
            <div class="login-eHo"><a href="-ucV.html">Login</a></div>
          </div>
          <div class="group-2-aBT">
            <a href="-69f.html"> 
            <img class="icons8-user1-1-Y8H" src="./assets/icons8-user1-1-thX.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-sRT" src="./assets/line-2-11s.png"/>
    </div>
    <div class="item--p5o">나만의 전시회</div>
    <div class="item--6p1">
      <span class="item--6p1-sub-0">
      원하는 작품의 번호를 말하면 자세히 볼 수 있습니다.
      <br/>
      더 많은 작품을 보고 싶다면 페이지 번호를 말씀해 주세요.
      <span style="color:#1400ff; font-weight:bold">"0번 페이지"</span>
 </span>
    </div>
    <div class="auto-group-sa3j-D3P">
      <div class="auto-group-xzw1-L81">
        <div class="group-19-fRB">
          <div class="item--BeR">13. 작품명</div>
          <div class="line-6-V9K">
          </div>
        </div>
        <div class="group-15-czd">
          <div class="item--jpM">14. 작품명</div>
          <div class="line-7-qsP">
          </div>
        </div>
        <div class="group-16-nGq">
          <div class="item--hub">15. 작품명</div>
          <div class="line-8-dHT">
          </div>
        </div>
      </div>
      <div class="auto-group-acjb-AYH">
        <div class="group-20-tjB">
          <div class="item--QhX">16. 작품명</div>
          <div class="line-9-vQy">
          </div>
        </div>
        <div class="group-18-rpR">
          <div class="item--P3f">17. 작품명</div>
          <div class="line-11-ha9">
          </div>
        </div>
        <div class="group-17-Snd">
          <div class="item--mK7">18. 작품명</div>
          <div class="line-14-gS5">
          </div>
        </div>
      </div>
      <div class="auto-group-6s9k-pHP">
        <div class="group-29-dUd">
          <div class="group-28-mKw"><a href="mypage.html">1</a></div>
        </div>
        <div class="group-30-cLZ">
          <div class="group-28-9LV"><a href="-fhj.html">2</a></div>
        </div>
        <div class="group-31-R37">
          <div class="group-28-Lfs"><a href="-oSy.html">3</a></div>
        </div>
        <img class="bi-mic-fill-22u" src="./assets/bi-mic-fill-bNq.png"/>
      </div>
    </div>
  </div>
  <div class="rectangle-30-j2y">
  </div>
</div>
</body>