<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가9</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/-VpD.css"/>
</head>
<body>
<div class="item-7-wMT">
  <a href="-xCR.html">   
  <img class="auto-group-uujx-G8q" src="./assets/auto-group-uujx.png"/></a>
  <div class="auto-group-pqnh-NxZ">
    <div class="group-61-uBo">
      <div class="auto-group-tkkd-44h">
        <div class="group-62-mUu">
          <a href="-VAH.html"> 
          <img class="group-11-tpR" src="./assets/group-11-YPB.png"/></a>
          <div class="me-muse-SL9">ME:MUSE</div>
        </div>
        <div class="group-10-8yf">
          <div class="group-1-uDj">
            <div class="workplace-dQd"><a href="-1J1.html">Workplace</a></div>
            <div class="museum-kVF"><a href="-T53.html">Gallery</a></div>
            <div class="guide-HEH"><a href="-R4d.html">Guide</a></div>
            <div class="login-zeV"><a href="-ucV.html">Login</a></div>
          </div>
          <div class="group-2-Wsj">
            <a href="-69f.html"> 
            <img class="icons8-user1-1-g1X" src="./assets/icons8-user1-1-VvH.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-oM3" src="./assets/line-2-3PX.png"/>
    </div>
    <div class="auto-group-ck7s-kGH">
      <div class="item--J2u">작가님의 그림이에요!</div>
      <img class="bi-mic-fill-jtu" src="./assets/bi-mic-fill-sVB.png"/>
      <div class="item--4wB">
      오브젝트의 위치를 변경하고 싶은가요?
      <br/>
      클릭 또는 말씀해 주세요.
      </div>
      <div class="auto-group-6ved-gxZ">
        <div class="group-42-RQM"><a href="-r6D.html" style="color:white">예</a></div>
        <div class="auto-group-etut-tHw"><a href="-siq.html" style="color:white">아니오</a></div>
      </div>
      <div class="rectangle-9-kL9">
      </div>
      <div class="group-14-sff">
        <div class="item--CC9">
          <span class="item--CC9-sub-0">김밈&nbsp;</span>
          <span class="item--CC9-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-3f8m-tz5">
          <div class="line-4-EY9">
          </div>
          <div class="ellipse-1-a6D">
          </div>
          <div class="item--guw">스타일</div>
          <div class="ellipse-2-P3f">
          </div>
          <div class="item--cSD">배경</div>
          <div class="ellipse-3-6cH">
          </div>
          <div class="item--cqX">오브젝트</div>
          <div class="ellipse-4-7nH">
          </div>
          <div class="item--E6D">배치</div>
          <div class="ellipse-5-KNZ">
          </div>
          <div class="item--du3">세부 배치</div>
          <div class="ellipse-6-K1B">
          </div>
          <div class="item--2gH">필터</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-30-KQV">
  </div>
</div>
</body>