<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>인트로1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="./styles/-vuw.css"/>
</head>
<body>
<div class="item-1-2SM">
  <div class="group-60-ipy">
    <div class="auto-group-wjro-fkD">
      <div class="group-22-nK3">
        <a href="-VAH.html">  
        <img class="group-6-uPf" src="./assets/group-6-4EV.png"/></a>
        <div class="me-muse-dKf">ME:MUSE</div>
      </div>
      <div class="group-10-937">
        <div class="group-1-JRo">
          <div class="workplace-puw"><a href="-1J1.html">Workplace</a></div>
          <div class="museum-wzZ"><a href="-T53.html">Gallery</a></div>
          <div class="guide-sNR"><a href="-R4d.html">Guide</a></div>
          <div class="login-bZK"><a href="-ucV.html">Login</a></div>
        </div>
        <div class="group-2-vrV">
          <a href="-69f.html"> 
          <img class="icons8-user1-1-toK" src="./assets/icons8-user1-1-iWm.png"/></a>
        </div>
      </div>
    </div>
    <img class="line-2-2ed" src="./assets/line-2-TJH.png"/>
  </div>
  <div class="auto-group-eec9-yZs">
    <img class="realmemusewhite-1-6uP" src="./assets/realmemusewhite-1-M2y.png"/>
    <div class="group-15-SCZ">
      <img class="ellipse-9-wv1" src="./assets/ellipse-9.png"/>
      <img class="group-21-GhP" src="./assets/group-21.png"/>
    </div>
  </div>
</div>
</body>