<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Positioning</title>
    <link rel="stylesheet" href="static/ImgeStyle.css">
    <script src="static/Image.js" defer></script>
</head>

<body>
    <div id="container">
        <img id="background" src="static/bg.jpeg" alt="background">
        <canvas id="myCanvas" width="512" height="512"></canvas>
    </div>
    <select id="filterOptions">
        <option value="none">Original</option>
        <option value="grayscale(100%)">Grayscale</option>
        <option value="sepia(100%)">Sepia</option>
        <option value="blur(5px)">Blur</option>
    </select>    
    <button onclick="applyDirectFilter()">Apply Filter</button>

    <input type="number" id="rotateAngle" placeholder="Enter rotation angle">
    <button onclick="rotate()">Rotate</button>

    <button onclick="undo()">Undo</button>
    <button onclick="redo()">Redo</button>
    
    <div id="layerPanel"></div>
        
    <button onclick="saveImage()">Save Image</button>
    <div id="error" style="color: red;"></div>
</body>

</html>
