<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="C:\Users\DS\Documents\GitHub\MEMUSE\favicon.ico">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
        <title>음성 인식</title>
    </head>
    
<body>
    <button id="startRecognition">음성 인식 시작</button>
    <div id='result'>결과가 없습니다.</div>
    <div id='finalResults'>최종 결과 프롬프트:</div>
    <div id='translatedResults'>최종 프롬프트(번역):</div>
    <button id="sendResults">번역 시작</button>
    <button id="saveResults">번역 결과 저장</button>

    <script>
        if (annyang) {
            annyang.setLanguage('ko');
            annyang.start({ autoRestart: false, continuous: true });

            var recognition = annyang.getSpeechRecognizer();
            var final_transcripts = [];

            recognition.interimResults = true;

            recognition.onresult = function (event) {
                var interim_transcript = '';
                var final_transcript = '';

                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }

                document.getElementById('result').innerHTML = '중간값: ' + interim_transcript + '<br/>결과값: ' + final_transcript;

                if (final_transcript) {
                    final_transcripts.push(final_transcript);
                    document.getElementById('finalResults').innerHTML = '최종 결과 프롬프트: ' + final_transcripts.join(' ');
                }
            };

            const startButton = document.getElementById('startRecognition');
            startButton.addEventListener('click', () => {
                if (annyang.isListening()) {
                    annyang.pause();
                    startButton.innerText = '음성 인식 시작';
                } else {
                    annyang.resume();
                    startButton.innerText = '음성 인식 일시 중지';
                }
            });

            document.getElementById('sendResults').addEventListener('click', () => {
                translateText(final_transcripts);
            });

            document.getElementById('saveResults').addEventListener('click', () => {
                saveTranslationResults(final_transcripts);
            });
        } else {
            alert('Sorry, your browser does not support speech recognition.');
        }

        function translateText(sentences) {
            Promise.all(sentences.map(sentence => {
                return fetch('/translate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ text: sentence })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const translatedText = data.translated_text;
                    // 다른 작업 수행...
                    document.getElementById('translatedResults').innerText += '번역된 프롬프트: ' + translatedText + "\n";
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
            })).then(() => {
                console.log('All translations are done!');
            });
        }

        function saveTranslationResults(sentences) {
            sentences.forEach(sentence => {
                fetch('/translate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ text: sentence })
                })
                .then(response => response.json())
                .then(data => {
                    fetch('/save-results', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            originalText: sentence,
                            translatedText: data.translated_text
                        })
                    })
                    .then(response => response.json())
                    .then(saveData => {
                        if(saveData.status === "success") {
                            console.log('Result saved:', saveData);
                            // 성공 메시지 처리
                        } else {
                            console.error('Error saving result:', saveData.error);
                            // 오류 메시지 처리
                       
