<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"/> -->
  <title>인트로</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/intro.css"/>
</head>
<body>
<div class="item-1-pAV">
  <div class="group-60-Ksw">
    <div class="auto-group-nps5-suT">
      <div class="group-22-zjB">
        <a href="intro.html"> 
        <img class="group-6-KmT" src="./assets/group-6-8t9.png"/></a>
        <div class="me-muse-rWV">ME:MUSE</div>
      </div>
      <div class="group-10-B2y">
        <div class="group-1-wXw">
          <div class="workplace-UGy"><a href="workplace.html">Workplace</a></div>
          <div class="museum-QAd"><a href="whole_gallery1.html">Gallery</a></div>
          <div class="guide-v8y"><a href="guide.html">Guide</a></div>
          <div class="login-3jP"><a href="login.html">Login</a></div>
        </div>
        <div class="group-2-azD">
          <a href="my_page.html"> 
          <img class="icons8-user1-1-MEH" src="./assets/icons8-user1-1-ruF.png"/></a>
        </div>
      </div>
    </div>
    <img class="line-2-H7w" src="./assets/line-2-1sP.png"/>
  </div>
  <div class="auto-group-lc9o-RV3">
    <div class="group-12-xWu">
      <div class="item--H3P">
        <div class="box b1">
          장벽을 넘어
          <br/>
          새로운 세계에서의
          <br/>
          나를 찾는 경험
        </div>
        <div class="box b2">AI와 함께하는&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;새로운 세계에서&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;나를 찾는 경험</div>
        <div class="box b3">
          <div class="auto-group-deps-yKo">
            <div class="ai-barrier-free--gV7">
              <span class="ai-barrier-free--gV7-sub-0">음성인식을 통한 [AI 그림 생성&nbsp;</span>
              <span class="ai-barrier-free--gV7-sub-1">Barrier Free&nbsp;</span>
              <span class="ai-barrier-free--gV7-sub-2"> 전시회]</span>
            </div>
            <div class="item--jbo">
              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              목소리만으로 그림을 그리고, 전시회를 열어보세요.
            <br/>
            
            </div><a href="login.html">
            <div class="group-23-BCu">나만의 AI 그림 그리러 가기</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>