<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>실사 전시회</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/whole_gallery1.css"/>
</head>
<body>
<div class="item--9V3">
  <div class="rectangle-29-5tV">
  </div>
  <div class="auto-group-aqwf-pr5">
    <div class="group-61-kUq">
      <div class="auto-group-zbyj-hus">
        <div class="group-62-Cbj">
          <a href="intro.html">  
          <img class="group-11-KRT" src="./assets/group-11-xfK.png"/></a>
          <div class="me-muse-T1s">ME:MUSE</div>
        </div>
        <div class="group-10-Md3">
          <div class="group-1-K45">
            <div class="workplace-q2R"><a href="workplace.html">Workplace</a></div>
            <div class="museum-MFf"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-sjo"><a href="guide.html">Guide</a></div>
            <div class="login-zpR"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-LNV">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-W25" src="./assets/icons8-user1-1-Y1F.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-dsP" src="./assets/line-2-L1f.png"/>
    </div>
    <div class="item--b3X">실사 전시회</div>
    <div class="item-0-0--JCq">
      <span class="item-0-0--JCq-sub-0">보고 싶은 전시회의 번호를 말하면 입장할 수 있습니다
      <span style="color:#1400ff; font-weight:bold">
       “0번 전시회”</span>
      <br/>
      더 많은 작품을 보고 싶다면 페이지 번호를 말씀해 주세요
      <span style="color:#1400ff; font-weight:bold"> “0번 페이지”</span>
      <br/>
      특정 스타일(만화/수채화/파스텔/실사)의 전시회만을 보고 싶다면 다음과 같이 말씀해 주세요
      <span style="color:#1400ff; font-weight:bold">
        “만화 전시회”</span></span>
        <div style="text-align:right; position:absolute; right:400px; height:180px; font-weight:bold; line-height:24px;">
          <a href="whole_gallery1.html"><span>전체</a><span><br/> 
            <a href="cartoon_gallery1.html"><span>만화</a><span><br/> 
            <a href="watercolor_gallery1.html"><span>수채화</a><span><br/> 
            <a href="pastel_gallery1.html"><span>파스텔</a><span><br/> 
            <a href="live_gallery1.html"><span>실사</a><span><br/>
      </div>
      </div>
    <div class="auto-group-vk3s-MD3">
      <div class="auto-group-jhgm-Gau">
        <div class="auto-group-uhkv-bt5">
          <div class="item--WVF">김뮤즈</div>
          <div class="auto-group-qeed-pF3">
          </div>
          <div class="item--w4m">묘한 수족관</div>
        </div>
        <div class="auto-group-jmez-cgh">
          <div class="item--iDw">박뮤즈</div>
          <div class="line-7-RPF">
          </div>
          <div class="item--ZVT">아이의 바다</div>
        </div>
        <div class="auto-group-fhih-U6d">
          <div class="item--nt1">이뮤즈</div>
          <div class="line-8-iWm">
          </div>
          <div class="item--fS1">숲속 산책</div>
        </div>
      </div>
      <div class="auto-group-afow-NbK">
        <div class="auto-group-j5y5-tpZ">
          <div class="item--pTK">송뮤즈</div>
          <div class="auto-group-jytm-LgZ">
          </div>
          <div class="item--TmB">수상한 공간</div>
        </div>
        <div class="auto-group-x7jf-mWy">
          <div class="item--VC5">강뮤즈</div>
          <div class="auto-group-wfqs-1RK">
          </div>
          <div class="item--LTb">바닷속 나무</div>
        </div>
        <div class="auto-group-dnau-F4m">
          <div class="item--MtV">하뮤즈</div>
          <div class="auto-group-w8ps-HGM">
          </div>
          <div class="item--Cu7">생존의 숲</div>
        </div>
      </div>
      <div class="auto-group-ju3f-KTw">
        <div class="group-29-dUd">
          <div class="group-28-mKw"><a href="live_gallery1.html">1</a></div>
        </div>
        <div class="group-30-cLZ">
          <div class="group-28-9LV"><a href="live_gallery2.html">2</a></div>
        </div>
        <div class="group-31-R37">
          <div class="group-28-Lfs"><a href="live_gallery3.html">3</a></div>
        </div>
        <img class="bi-mic-fill-22u" src="./assets/bi-mic-fill-bNq.png"/>
      </div>
    </div>
  </div>
  <div class="rectangle-30-wff">
  </div>
</div>
</body>