<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이 페이지>나만의 전시회</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/my_page_my_gallery1.css"/>
</head>
<body>
<div class="item--iTs">
  <div class="rectangle-29-ryP">
  </div>
  <div class="auto-group-bsgr-8AD">
    <div class="group-61-C3b">
      <div class="auto-group-sgrf-Xbf">
        <div class="group-62-DzH">
          <a href="{{ url_for("intro")}}">  
          <img class="group-11-Xzy" src="../static/assets/group-11-dX7.png"/></a>
          <div class="me-muse-eph">ME:MUSE</div>
        </div>
        <div class="group-10-Fi1">
          <div class="group-1-Qau">
            <div class="workplace-XfX"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-SXb"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-SXb"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-GWd"><a href="{{url_for("login")}}">Login</a></div>
          </div>
          <div class="group-2-zhX">
            <a href="{{ url_for("my_page")}}"> 
            <img class="icons8-user1-1-xeM" src="../static/assets/icons8-user1-1.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-HRj" src="../static/assets/line-2.png"/>
    </div>
    <div class="item--D4V">나만의 전시회</div>
    <div class="item--gTs">
      <span class="item--gTs-sub-0">
      원하는 작품의 번호를 말하면 자세히 볼 수 있습니다.
      <br/>
      더 많은 작품을 보고 싶다면 페이지 번호를 말씀해 주세요.
      <span style="color:#1400ff; font-weight:bold">"0번 페이지" </span>
</span>
    </div>
    <div class="auto-group-xobx-ymj">
      <div class="auto-group-zund-5Zs">
        <div class="group-19-bYD">
          <div class="item--u37">1. 작품명</div>
          <div class="line-6-1M3">
          </div>
        </div>
        <div class="group-15-LeD">
          <div class="item--rcZ">2. 작품명</div>
          <div class="line-7-Z1B">
          </div>
        </div>
        <div class="group-16-Hxm">
          <div class="item--DbX">3. 작품명</div>
          <div class="line-8-LRF">
          </div>
        </div>
      </div>
      <div class="auto-group-7sff-TEy">
        <div class="group-20-yDK">
          <div class="item--VBf">4. 작품명</div>
          <div class="line-9-cXB">
          </div>
        </div>
        <div class="group-18-ZSR">
          <div class="item--H7X">5. 작품명</div>
          <div class="line-11-D1B">
          </div>
        </div>
        <div class="group-17-kmo">
          <div class="item--HFw">6. 작품명</div>
          <div class="line-14-1Sq">
          </div>
        </div>
      </div>
      <div class="auto-group-kkxf-jNq">
        <div class="group-29-dUd">
          <div class="group-28-mKw"><a href="{{url_for("my_page")}}">1</a></div>
        </div>
        <div class="group-30-cLZ">
          <div class="group-28-9LV"><a href="{{url_for("my_page_my_gallery2")}}">2</a></div>
        </div>
        <div class="group-31-R37">
          <div class="group-28-Lfs"><a href="{{url_for("my_page_my_gallery3")}}">3</a></div>
        </div>
        <img class="bi-mic-fill-22u" src="../static/assets/bi-mic-fill-bNq.png"/>
      </div>
    </div>
  </div>
  <div class="rectangle-30-d6q">
  </div>
</div>
</body>