<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이 페이지>나만의 전시회2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/my_page_my_gallery2.css"/>
</head>
<body>
<div class="item-2-tn5">
  <div class="rectangle-29-oPF">
  </div>
  <div class="auto-group-ufcm-jGu">
    <div class="group-61-EzM">
      <div class="auto-group-vakk-zTj">
        <div class="group-62-72Z">
          <a href="{{ url_for("intro")}}">  
          <img class="group-11-czu" src="../static/assets/group-11-8dw.png"/></a>
          <div class="me-muse-Mhb">ME:MUSE</div>
        </div>
        <div class="group-10-ewb">
          <div class="group-1-p5P">
            <div class="workplace-XkV"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-3Tw"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-AYZ"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-Hmb"><a href="{{url_for("logout")}}">logout</a></div>
          </div>
          <div class="group-2-BMB">
            <a href="{{ url_for("my_page")}}"> 
            <img class="icons8-user1-1-LUy" src="../static/assets/icons8-user1-1-3fX.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-ry7" src="../static/assets/line-2-xVP.png"/>
    </div>
    <div class="item--Pi9">나만의 전시회</div>
    <div class="item--gSM">
      <span class="item--gSM-sub-0">
      원하는 작품의 번호를 말하면 자세히 볼 수 있습니다.
      <br/>
      더 많은 작품을 보고 싶다면 페이지 번호를 말씀해 주세요.
      <span style="color:#1400ff; font-weight:bold">"0번 페이지"</span>
</span>
    </div>
    <div class="auto-group-sbwf-Myj">
      <div class="auto-group-auwh-Va9">
        <div class="group-19-24H">
          <div class="item--8d7">7. 작품명</div>
          <div class="line-6-Sth">
          </div>
        </div>
        <div class="group-15-azu">
          <div class="item--7E9">8. 작품명</div>
          <div class="line-7-pPT">
          </div>
        </div>
        <div class="group-16-YaM">
          <div class="item--sMj">9. 작품명</div>
          <div class="line-8-amw">
          </div>
        </div>
      </div>
      <div class="auto-group-uidf-8Hf">
        <div class="group-20-FdB">
          <div class="item--Nxh">10. 작품명</div>
          <div class="line-9-JLZ">
          </div>
        </div>
        <div class="group-18-Shf">
          <div class="item--ANm">11. 작품명</div>
          <div class="line-11-t3s">
          </div>
        </div>
        <div class="group-17-d1T">
          <div class="item--9Vb">12. 작품명</div>
          <div class="line-14-GKK">
          </div>
        </div>
      </div>
      <div class="auto-group-cxwp-BSH">
        <div class="group-29-dUd">
          <div class="group-28-mKw"><a href="{{url_for("my_page")}}">1</a></div>
        </div>
        <div class="group-30-cLZ">
          <div class="group-28-9LV"><a href="{{url_for("my_page_my_gallery2")}}">2</a></div>
        </div>
        <div class="group-31-R37">
          <div class="group-28-Lfs"><a href="{{url_for("my_page_my_gallery3")}}">3</a></div>
        </div>
        <img class="bi-mic-fill-22u" src="../static/assets/bi-mic-fill-bNq.png"/>
      </div>
    </div>
  </div>
  <div class="rectangle-30-NQH">
  </div>
</div>
</body>