<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이 페이지</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/my_page.css"/>
</head>
<body>
<div class="item--v49">
  <div class="rectangle-29-3Pf">
  </div>
  <div class="auto-group-vw8v-y2R">
    <div class="group-61-H37">
      <div class="auto-group-evxd-EU9">
        <div class="group-62-M2y">
          <a href="{{ url_for("intro")}}"> 
          <img class="group-11-4xy" src="../static/assets/group-11.png"/></a>
          <div class="me-muse-bi1">ME:MUSE</div>
        </div>
        <div class="group-10-7AZ">
          <div class="group-1-4rV">
            <div class="workplace-nnV"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-WTb"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-2wj"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-9mT"><a href="{{url_for("login")}}">Login</a></div>
          </div>
          <a href="{{ url_for("my_page")}}"> 
          <img class="icons8-user1-1-sxM" src="../static/assets/icons8-user1-1-Xxu.png"/></a>
        </div>
      </div>
      <img class="line-2-1Hs" src="../static/assets/line-2-X3w.png"/>
    </div>
    <div class="auto-group-gmcd-9ey">
      <div class="auto-group-psl9-USM">
        <img class="icons8-painter-96-1-B5s" src="../static/assets/icons8-painter-96-1.png"/>
        <div class="item--WP3">
          <span class="item--WP3-sub-0">{{ username }}</span>
          <span class="item--WP3-sub-1"> &nbsp;작가님</span>
        </div>
      </div>
      <div class="item-00000000-6kZ">아이디 : 00000000</div>
      <div class="item-00000000-bBX">생년월일 : 00000000</div>
      <div class="group-23-Ha9"><a href="{{url_for("my_page_my_gallery1")}}" style="color: white">
        <img class="rectangle-33-cMX" src="../static/assets/rectangle-33.png"/>
        <div class="item--XUV">나만의 전시회 보러 가기</a></div>
      </div>
      <img class="bi-mic-fill-B3F" src="../static/assets/bi-mic-fill-Ny7.png"/>
    </div>
  </div>
  <div class="rectangle-30-5eR">
  </div>
</div>
</body>