<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/초보자1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/new_style.css"/>
</head>
<body>
<div class="item-1-7UM"> 
  <a href="{{url_for("workplace")}}">
  <img class="auto-group-6vh7-q9T" src="../static/assets/auto-group-6vh7.png"/></a>
  <div class="auto-group-xqzb-Mdb">
    <div class="group-61-gA5">
      <div class="auto-group-mgbs-EBb">
        <div class="group-62-9JZ">
          <a href="{{ url_for("intro")}}">  
          <img class="group-11-Gty" src="../static/assets/group-11-UYH.png"/></a>
          <div class="me-muse-otu">ME:MUSE</div>
        </div>
        <div class="group-10-7eh">
          <div class="group-1-UVF">
            <div class="workplace-zyP"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-vMF"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-eY9"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-B2H"><a href="{{url_for("logout")}}">logout</a></div>
          </div>
          <div class="group-2-6f3">
            <a href="{{ url_for("my_page")}}"> 
            <img class="icons8-user1-1-sA1" src="../static/assets/icons8-user1-1-PS1.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-Pe9" src="../static/assets/line-2-6KB.png"/>
    </div>
    <div class="auto-group-tfgd-ve5">
      <div class="group-14-Te1">
        <div class="item--aCq">
          <span class="item--aCq-sub-0">{{ username }}&nbsp;</span>
          <span class="item--aCq-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-ez6d-FCV">
          <div class="line-4-b1T">
          </div>
          <div class="ellipse-1-KCM">
          </div>
          <div class="item--DoX">스타일</div>
          <div class="ellipse-2-WGq">
          </div>
          <div class="item--zxh">구도</div>
          <div class="ellipse-3-HB7">
          </div>
          <div class="item--y3w">배경</div>
          <div class="ellipse-4-Tzh">
          </div>
          <div class="item--BA1">오브젝트</div>
          <div class="ellipse-5-TtD">
          </div>
          <div class="item--mtu">필터</div>
        </div>
      </div>
      <div class="item--sS9">
        <span class="item--sS9-sub-0">원하는 그림의 </span>
        <span class="item--sS9-sub-1">&nbsp;스타일</span>
        <span class="item--sS9-sub-2">을 클릭하거나 번호를 말씀해 주세요.</span><br><br>
      </div>
      <div class="auto-group-igzo-vBT">
        <div class="item--qJR">1. 만화</div>
        <div class="item--ZER">2. 수채화</div>
        <div class="item--UcH">3. 파스텔</div>
        <div class="item--QF3">4. 실사</div>
      </div>
      <div class="auto-group-wyoo-X4m">
        <a href="{{url_for("new_shot")}}"><div onclick="submitStyle(1)" class="rectangle-22-qbF">
        </div></a>
        <a href="{{url_for("new_shot")}}"><div onclick="submitStyle(2)" class="rectangle-26-PMs">
        </div></a>
        <a href="{{url_for("new_shot")}}"><div onclick="submitStyle(3)" class="rectangle-27-8qF">
        </div></a>
        <a href="{{url_for("new_shot")}}"><div onclick="submitStyle(4)" class="rectangle-28-gbs">
        </div></a>
      </div>
      <img class="bi-mic-fill-dX7" src="../static/assets/bi-mic-fill-cau.png"/>
    </div>
  </div>
  <div class="rectangle-30-vWD">
  </div>
</div>
<script>
  // 선택지 선택 시 값 서버 전달
  function submitStyle(styleNumber) {
    // styleNumber 값에 따라 payload 생성
    let options;
    switch (styleNumber){
      case 1:
        //helloflatcute2d_V10
        options = {
          "sampler_index": "Euler a",
          "steps": 30,
          "cfg_scale": 7,
          "denoising_strength": 0.5
        };
        break;
      case 2:
        // chosen-mix
        options = {
          "sampler_index": "DPM++ 2M Karras",
          "steps": 32,
          "cfg_scale": 5,
          "denoising_strength": 0.5
        };
        break;
      case 3:
        // pastel-Mix[Anime]
        options = {
          "sampler_index": "DPM++ 2M Karras",
          "steps" : 20,
          "cfg_scale": 7,
          "denoising_strength": 0.6
        };
        break;
      case 4:
        // pasteldiffusedmiox
        options = {
          "sampler_index": "DPM++ 2M Karras",
          "steps" : 20,
          "cfg_scale": 7,
          "denoising_strength": 0.6
        };
        break;
      default:
        options = {
          "sampler_index": "DPM++ 2M Karras",
          "steps" : 20,
          "cfg_scale": 7,
          "denoising_strength": 0.6
        };
    }

    // options와 styleNumber 서버 전송
    fetch('/new_style', {
      method: 'POST',
      headers:{
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({style: styleNumber, options: options})
    })
    .then(response => response.json())
    .then(data => {
      // 서버에서 전달 받은 URL로 리디렉션
      window.lacation.href = data.redirect;
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  // 음성 인식 API 초기화
  const recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = true;

  // 한국어로 음성 인식 설정
  recognition.lang = 'ko-KR';

  // 음성 인식 시작
  recognition.start();

  // 음성 인식 결과 이벤트 리스너
  recognition.onresult = (event) => {
  const result = event.results[event.results.length - 1][0].transcript.trim().toLowerCase();
  console.log('음성 인식 결과:', result);

  // 인식된 음성 명령에 따라 URL로 이동
  switch (result) {
    case '마이페이지':
      window.location.href = '/mypage';
      break;
    case '가이드':
      window.location.href = '/guide';
      break;
    case '이전으로':
      window.location.href = '/workplace';
      break;
    default:
      // "1번"에서 "4번"까지의 결과를 처리
      const match = result.match(/(\d)번/);
      if (match && match[1]) {
        // 추출한 숫자를 인수로 submitStyle 함수 호출
        submitStyle(parseInt(match[1], 10));
      }
      break;
  }

};
</script>
</body>
</html>