<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/초보자3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/new_back.css"/>
</head>
<body>
  <div id="loadingOverlay" style="display: none;">
    <div class="loadingContent">
      <div class="loader"></div>
      <p>생성 중..</p>
    </div>
  </div>
<div class="item-2-VqB">
        <div class="rectangle-left"></div>
        <a href="{{url_for('new_shot')}}"></a>
  <div class="auto-group-mizo-vvV">
    <div class="group-61-EgH">
      <div class="auto-group-vp7x-nho">
        <div class="group-62-h45">
          <a href="{{ url_for("intro")}}"> 
          <img class="group-11-1qT" src="../static/assets/group-11-Rgm.png"/></a>
          <div class="me-muse-ko3">ME:MUSE</div>
        </div>
        <div class="group-10-TSZ">
          <div class="group-1-1ys">
            <div class="workplace-9aH"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-4hF"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-Z8D"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-dtm"><a href="{{url_for("logout")}}">logout</a></div>
          </div>
          <div class="group-2-LHP">
            <a href="{{ url_for("my_page")}}"> 
            <img class="icons8-user1-1-UuP" src="../static/assets/icons8-user1-1-A49.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-oRs" src="../static/assets/line-2-P6q.png"/>
    </div>
    <div class="auto-group-dnxs-LRo">
      <div class="group-14-sRj">
        <div class="item--Pus">
          <span class="item--Pus-sub-0">{{ username }}&nbsp;</span>
          <span class="item--Pus-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-jvw1-F4u">
          <div class="line-4-yWh">
          </div>
          <div class="ellipse-1-Vzq">
          </div>
          <div class="item--1yB">스타일</div>
          <div class="ellipse-2-u2y">
          </div>
          <div class="item--zq7">구도</div>
          <div class="ellipse-3-BPo">
          </div>
          <div class="item--h7F">배경</div>
          <div class="ellipse-4-Nz5">
          </div>
          <div class="item--6fB">오브젝트</div>
          <div class="ellipse-5-bM3">
          </div>
          <div class="item--WU1">필터</div>
        </div>
      </div>
      <div class="item--bkM">그리고 싶은 그림의 배경을 클릭하거나 번호를 말씀해 주세요.</div><br><br>
      <div class="auto-group-4nuf-RUV">
        <div class="item--LrM">1. 산</div>
        <div class="item--ftd">2. 바다</div>
        <div class="item--PZj">3. 도시</div>
        <div class="item--KTP">4. 우주</div>
      </div>
      <div class="auto-group-r5hs-F69">
        <a href="{{url_for("new_object")}}"> <div class="rectangle-22-m4V" data-prompt="outdoors, mountains, nature, meadow, forest,">
          <img src="../static/assets/back_mountain.png">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-26-hyj" data-prompt="outdoors, fresh scent of the ocean, blue sky, blue sea, sand beach,">
          <img src="../static/assets/back_ocean.png">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-27-rrd" data-prompt="outdoors, city, building, alley, street,">
          <img src="../static/assets/back_street.png">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-28-1Ud" data-prompt="space, milky way, galaxy, fantasy background,">
          <img src="../static/assets/back_space.png">
        </div></a>
      </div>
      <img class="bi-mic-fill-MYV" src="../static/assets/bi-mic-fill-sbF.png"/>
    </div>
  </div>
  <div class="rectangle-right">
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('loadingOverlay').style.display = 'none';
    // 모든 rectangle 요소에 이벤트 리스너 추가
    document.querySelectorAll('.rectangle-22-m4V, .rectangle-26-hyj, .rectangle-27-rrd, .rectangle-28-1Ud').forEach(function(rectangle){
      rectangle.addEventListener('click', function(event){
        event.preventDefault(); // 기본 링크 동작 방지

        // 클릭된 요소의 데이터 값 가져오기
        var prompt = this.getAttribute('data-prompt');
        document.getElementById('loadingOverlay').style.display = 'flex';
        // 서버에 포스트 요청
        fetch('/new_back', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({prompt: prompt})
        })
        .then(response => response.json())
        .then(data => {
          // 서버로부터 리다이렉트 주소를 받아 페이지 이동
          if(data.redirect){
            window.location.href = data.redirect;
          }
        })
        .catch(error => {
          console.error('Error_new_back:', error);
          document.getElementById('loadingOverlay').style.display = 'none';
        });
      });
    });
    document.querySelectorAll('a').forEach(function(link) {
        link.addEventListener('click', function() {
            // 로딩 화면 표시
            document.getElementById('loadingOverlay').style.display = 'flex';
        });
    });
  });

  // 음성 인식 API 초기화
  const recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = true;
  recognition.lang = 'ko-KR'; // 한국어로 설정
  
  // 음성 인식 시작
  recognition.start();
  recognition.onresult = (event) => {
      const result = event.results[event.results.length - 1][0].transcript;
      console.log('음성 인식 결과:', result);

      // 인식된 음성 명령에 따라 URL로 이동
      if (result.includes('마이페이지')) {
        window.location.href = '/mypage';
      } else if (result.includes('가이드')) {
        window.location.href = '/guide';
      } else if (result.includes('1번')) {
        document.querySelector('.rectangle-22-m4V').click();
      } else if (result.includes('2번')) {
        document.querySelector('.rectangle-26-hyj').click();
      } else if (result.includes('3번')) {
        document.querySelector('.rectangle-27-rrd').click();
      } else if (result.includes('4번')) {
        document.querySelector('.rectangle-28-1Ud').click();
      } else if (result.includes('이전으로')) {
        window.location.href = '/new_shot';
      }
      // 다른 명령에 대한 처리도 추가할 수 있습니다.
    };

</script>
</body>
</html>
