<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/초보자3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/new_back.css"/>
</head>
<body>
<div class="item-2-VqB">
  <a href="{{url_for("new_shot")}}">
  <img class="auto-group-sd2z-ceu" src="../static/assets/auto-group-sd2z.png"/></a>
  <div class="auto-group-mizo-vvV">
    <div class="group-61-EgH">
      <div class="auto-group-vp7x-nho">
        <div class="group-62-h45">
          <a href="{{ url_for("intro")}}"> 
          <img class="group-11-1qT" src="../static/assets/group-11-Rgm.png"/></a>
          <div class="me-muse-ko3">ME:MUSE</div>
        </div>
        <div class="group-10-TSZ">
          <div class="group-1-1ys">
            <div class="workplace-9aH"><a href="{{ url_for("workplace")  }}">Workplace</a></div>
            <div class="museum-4hF"><a href="{{ url_for("whole_gallery1")}}">Gallery</a></div>
            <div class="guide-Z8D"><a href="{{ url_for("guide")}}">Guide</a></div>
            <div class="login-dtm"><a href="{{url_for("login")}}">Login</a></div>
          </div>
          <div class="group-2-LHP">
            <a href="{{ url_for("my_page")}}"> 
            <img class="icons8-user1-1-UuP" src="../static/assets/icons8-user1-1-A49.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-oRs" src="../static/assets/line-2-P6q.png"/>
    </div>
    <div class="auto-group-dnxs-LRo">
      <div class="group-14-sRj">
        <div class="item--Pus">
          <span class="item--Pus-sub-0">김밈&nbsp;</span>
          <span class="item--Pus-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-jvw1-F4u">
          <div class="line-4-yWh">
          </div>
          <div class="ellipse-1-Vzq">
          </div>
          <div class="item--1yB">스타일</div>
          <div class="ellipse-2-u2y">
          </div>
          <div class="item--zq7">구도</div>
          <div class="ellipse-3-BPo">
          </div>
          <div class="item--h7F">배경</div>
          <div class="ellipse-4-Nz5">
          </div>
          <div class="item--6fB">오브젝트</div>
          <div class="ellipse-5-bM3">
          </div>
          <div class="item--WU1">필터</div>
        </div>
      </div>
      <div class="item--bkM">원하는 그림의 배경을 클릭하거나 번호를 말씀해  주세요.</div><br><br>
      <div class="auto-group-4nuf-RUV">
        <div class="item--LrM">1. 산</div>
        <div class="item--ftd">2. 바다</div>
        <div class="item--PZj">3.하늘</div>
        <div class="item--KTP">4. 우주</div>
      </div>
      <div class="auto-group-r5hs-F69">
        <a href="{{url_for("new_object")}}"> <div class="rectangle-22-m4V">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-26-hyj">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-27-rrd">
        </div></a>
        <a href="{{url_for("new_object")}}"> <div class="rectangle-28-1Ud">
        </div></a>
      </div>
      <img class="bi-mic-fill-MYV" src="../static/assets/bi-mic-fill-sbF.png"/>
    </div>
  </div>
  <div class="rectangle-30-5zH">
  </div>
</div>
</body>