<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가16</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/styles/pro_specify_obj_num.css"/>
</head>
<body>
<div class="item-12-MoF">
  <a href="{{ url_for('pro_specify_obj') }}">   
  <img class="auto-group-zqkk-Ucy" src="../static/assets/auto-group-zqkk.png"/></a>
  <div class="auto-group-flcy-Pzq">
    <div class="group-61-uiH">
      <div class="auto-group-nqdb-s9K">
        <div class="group-62-nGH">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-WTB" src="../static/assets/group-11-VuK.png"/></a>
          <div class="me-muse-3T7">ME:MUSE</div>
        </div>
        <div class="group-10-wYV">
          <div class="group-1-uER">
            <div class="workplace-dRK"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-wwo"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-saZ"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-Br9"> <a href="{{ url_for('logout') }}">logout</a></div>
          </div>
          <div class="group-2-Jvm">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-gH7" src="../static/assets/icons8-user1-1-w1K.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-Qyo" src="../static/assets/line-2-yFf.png"/>
    </div>
    <div class="auto-group-go6z-xEd">
      <img class="bi-mic-fill-HXo" src="../static/assets/bi-mic-fill-Veq.png"/>
      <div class="group-14-om3">
        <div class="item--Lky">
          <span class="item--Lky-sub-0">김밈&nbsp;</span>
          <span class="item--Lky-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-bmhb-2GR">
          <div class="line-4-9bw">
          </div>
          <div class="ellipse-1-UPK">
          </div>
          <div class="item--oAh">스타일</div>
          <div class="ellipse-2-tC9">
          </div>
          <div class="item--noK">배경</div>
          <div class="ellipse-3-Ug9">
          </div>
          <div class="item--bEy">오브젝트</div>
          <div class="ellipse-4-Hdb">
          </div>
          <div class="item--DGM">배치</div>
          <div class="ellipse-5-7Mj">
          </div>
          <div class="item--2Uh">세부 배치</div>
          <div class="ellipse-6-va5">
          </div>
          <div class="item--Eqf">필터</div>
        </div>
      </div>
      <div class="item--Ks7">이동시킬 오브젝트의 번호를 클릭 또는 말씀해 주세요.</div>
      <div class="item--9bF">
        <span class="item--9bF-sub-0">세부적인 배치를 원치 않는다면&nbsp;</span>
        <span class="item--9bF-sub-1"> </span>
        <span class="item--9bF-sub-2">‘이동 안함 ’</span>
        <span class="item--9bF-sub-3">을 클릭 또는 말씀해 주세요.</span>
      </div>
      <div class="group-63-Vh3"><a href="{{ url_for('pro_filter') }}" style="color:white">이동 안함</a></div>
      <a href="{{ url_for('pro_specify_obj_check') }}"><div class="rectangle-9-YfK">
      </div></a>
    </div>
  </div>
  <div class="rectangle-30-sSh">
  </div>
</div>
</body>