<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가7</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/pro_object_complete.css"/>
</head>
<body>
<div class="item-5-5sF">
  <a href="pro_object.html">   
  <img class="auto-group-dbd3-1F7" src="./assets/auto-group-dbd3.png"/></a>
  <div class="auto-group-ouz3-vss">
    <div class="group-61-4DP">
      <div class="auto-group-tprb-cVo">
        <div class="group-62-Kv1">
          <a href="intro.html">
          <img class="group-11-rf3" src="./assets/group-11-rA5.png"/></a>
          <div class="me-muse-yzZ">ME:MUSE</div>
        </div>
        <div class="group-10-ge5">
          <div class="group-1-qms">
            <div class="workplace-Zxm"><a href="workplace.html">Workplace</a></div>
            <div class="museum-5gD"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-Jos"><a href="guide.html">Guide</a></div>
            <div class="login-cJm"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-Kys">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-tXB" src="./assets/icons8-user1-1-Hww.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-cCH" src="./assets/line-2-gTb.png"/>
    </div>
    <div class="auto-group-8ta5-Lty">
      <div class="item--HJR">오브젝트가 마음에 드나요?</div>
      <img class="bi-mic-fill-LGh" src="./assets/bi-mic-fill-eBB.png"/>
      <div class="rectangle-9-f45">
      </div>
      <div class="group-14-Bo7">
        <div class="item--7wf">
          <span class="item--7wf-sub-0">김밈&nbsp;</span>
          <span class="item--7wf-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-j3hb-cX3">
          <div class="line-4-YQh">
          </div>
          <div class="ellipse-1-UZF">
          </div>
          <div class="item--PgD">스타일</div>
          <div class="ellipse-2-Gk1">
          </div>
          <div class="item--akh">배경</div>
          <div class="ellipse-3-4fs">
          </div>
          <div class="item--mKP">오브젝트</div>
          <div class="ellipse-4-sNR">
          </div>
          <div class="item--b3X">배치</div>
          <div class="ellipse-5-toK">
          </div>
          <div class="item--czD">세부 배치</div>
          <div class="ellipse-6-Kdj">
          </div>
          <div class="item--EVo">필터</div>
        </div>
      </div>
      <div class="item--ivm">
        <span class="item--ivm-sub-0"> 처음으로 돌아가고 싶다면 클릭 또는
        <span style="color:#1400ff; font-weight:bold">‘처음’</span>
        이라고 말씀해 주세요.
        <br/>
        다음 단계로 넘어가고 싶다면 클릭 또는 
        <span style="color:#1400ff; font-weight:bold">‘다음’</span>
        이라고 말씀해 주세요.</span>
      </div>
      <div class="auto-group-qcy9-Gsj">
        <div class="group-38-zoj"><a href="pro_object.html" style="color:white">처음</a></div>
        <div class="group-39-f9B"><a href="pro_more_object.html" style="color:white">다음</div>
      </div>
    </div>
  </div>
  <div class="rectangle-30-KUd">
  </div>
</div>
</body>