<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가20</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/pro_more_specify_obj.css"/>
</head>
<body>
<div class="item-11-xKT">
  <a href="{{ url_for('pro_ecit_shot_check') }}">   
  <img class="auto-group-fdq3-GL9" src="../static/assets/auto-group-fdq3.png"/></a>
  <div class="auto-group-pmrt-z1F">
    <div class="group-61-Jnd">
      <div class="auto-group-sovj-GDf">
        <div class="group-62-BLd">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-Jw3" src="../static/assets/group-11-eSu.png"/></a>
          <div class="me-muse-rBs">ME:MUSE</div>
        </div>
        <div class="group-10-M8d">
          <div class="group-1-hyB">
            <div class="workplace-dbw"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-Yiu"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-f2q"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-yJR"><a href="{{ url_for('logout') }}">logout</a></div>
          </div>
          <div class="group-2-uhs">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-56Z" src="../static/assets/icons8-user1-1-KW1.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-ooF" src="../static/assets/line-2-U1F.png"/>
    </div>
    <div class="auto-group-bdry-MJy">
      <div class="group-14-faZ">
        <div class="item--cVo">
          <span class="item--cVo-sub-0">{{ username }}&nbsp;</span>
          <span class="item--cVo-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-e9e9-ktq">
          <div class="line-4-5w7">
          </div>
          <div class="ellipse-1-1Jy">
          </div>
          <div class="item--uQM">스타일</div>
          <div class="ellipse-2-PKX">
          </div>
          <div class="item--uHs">배경</div>
          <div class="ellipse-3-ncZ">
          </div>
          <div class="item--6t9">오브젝트</div>
          <div class="ellipse-4-b4D">
          </div>
          <div class="item--JjK">배치</div>
          <div class="ellipse-5-Cph">
          </div>
          <div class="item--uz1">세부 배치</div>
          <div class="ellipse-6-oZb">
          </div>
          <div class="item--veD">필터</div>
        </div>
      </div>
      <div class="auto-group-b4ks-1ff">
        <div class="item--J8y">
        다른 오브젝트도 세부적으로 배치하고 싶나요?
        <br/>
        클릭 또는 말씀해 주세요.
        </div>
        <div class="auto-group-oo2z-iiV">
          <div class="group-52-SPb"><a href="{{ url_for('pro_specify_obj_num') }}" style="color:white">예</a></div>
          <div class="group-54-haR"><a href="{{ url_for('pro_filter') }}" style="color:white">아니오</a></div>
        </div>
      </div>
      <img class="bi-mic-fill-vxy" src="../static/assets/bi-mic-fill-EfT.png"/>
    </div>
  </div>
  <div class="rectangle-30-ePB">
  </div>
</div>
<script>
  // 음성 인식 API 초기화
  const recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = true;
  recognition.lang = 'ko-KR'; // 한국어로 설정
  
  // 음성 인식 시작
  recognition.start();
  recognition.onresult = (event) => {
      const result = event.results[event.results.length - 1][0].transcript;
      console.log('음성 인식 결과:', result);

      // 인식된 음성 명령에 따라 URL로 이동
      if (result.includes('마이페이지')) {
        window.location.href = '/mypage';
      } else if (result.includes('가이드')) {
        window.location.href = '/guide';
      } else if (result.includes('관람하기')) {
        window.location.href = '/whole_gallery1';
      } else if (result.includes('이전으로')) {
        window.location.href = '/pro_complete';
      }
      // 다른 명령에 대한 처리도 추가할 수 있습니다.
    };