<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가13</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./styles/pro_edit_shot_check.css"/>
</head>
<body>
<div class="item-10-kdo">
  <a href="pro_edit_shot_num.html">   
  <img class="auto-group-7xhp-4uP" src="./assets/auto-group-7xhp.png"/></a>
  <div class="auto-group-s5gd-zo3">
    <div class="group-61-vRo">
      <div class="auto-group-h68h-UiD">
        <div class="group-62-nyo">
          <a href="intro.html">  
          <img class="group-11-vaD" src="./assets/group-11-8am.png"/></a>
          <div class="me-muse-4RX">ME:MUSE</div>
        </div>
        <div class="group-10-Zt5">
          <div class="group-1-vyX">
            <div class="workplace-fAR"><a href="workplace.html">Workplace</a></div>
            <div class="museum-Nad"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-Vv9"><a href="guide.html">Guide</a></div>
            <div class="login-RYu"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-MhT">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-j3o" src="./assets/icons8-user1-1-BFP.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-ewT" src="./assets/line-2-dKF.png"/>
    </div>
    <div class="auto-group-h8th-zVX">
      <div class="item--wQm">원하는 위치로 배치했습니다!</div>
      <img class="bi-mic-fill-ysF" src="./assets/bi-mic-fill-Mbf.png"/>
      <div class="rectangle-9-7Cm">
      </div>
      <div class="group-14-dgu">
        <div class="item--ARw">
          <span class="item--ARw-sub-0">김밈&nbsp;</span>
          <span class="item--ARw-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-lv6y-Snm">
          <div class="line-4-n5w">
          </div>
          <div class="ellipse-1-K5s">
          </div>
          <div class="item--DS9">스타일</div>
          <div class="ellipse-2-6Vw">
          </div>
          <div class="item--DKf">배경</div>
          <div class="ellipse-3-uyB">
          </div>
          <div class="item--deH">오브젝트</div>
          <div class="ellipse-4-Wxy">
          </div>
          <div class="item--pCy">배치</div>
          <div class="ellipse-5-iJM">
          </div>
          <div class="item--dgD">세부 배치</div>
          <div class="ellipse-6-vvD">
          </div>
          <div class="item--FSh">필터</div>
        </div>
      </div>
      <div class="auto-group-pkdf-Ygh">
        <div class="auto-group-kh7p-UaM"><a href="pro_more_edit_obj.html" style="color:white">예</a></div>
        <div class="auto-group-8sfb-XoX"><a href="pro_edit_shot_num.html" style="color:white">아니오</a></div>
      </div>
      <div class="item--c4H">
        <span class="item--c4H-sub-0">맞으면&nbsp;</span>
        <span class="item--c4H-sub-1"> ‘예’&nbsp;</span>
        <span class="item--c4H-sub-2"> 틀리면&nbsp; </span>
        <span class="item--c4H-sub-3">‘아니오'</span>
        <span class="item--c4H-sub-4">를 클릭 또는 말씀해 주세요.</span>
      </div>
    </div>
  </div>
  <div class="rectangle-30-Vfo">
  </div>
</div>
</body>