<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가10</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/styles/pro_edit_obj_num.css"/>
</head>
<body>
<div class="item-8-UiV">
  <div class="rectangle-left">
  </div>
  <!-- <a href="{{ url_for('pro_edit_object') }}">   
  <img class="auto-group-vawm-bo7" src="../static/assets/auto-group-vawm.png"/></a> -->
  <div class="auto-group-wjx9-jPX">
    <div class="group-61-TKX">
      <div class="auto-group-jq3t-DJh">
        <div class="group-62-iWM">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-EzV" src="../static/assets/group-11-XeR.png"/></a>
          <div class="me-muse-a2m">ME:MUSE</div>
        </div>
        <div class="group-10-fa1">
          <div class="group-1-RZB">
            <div class="workplace-kLZ"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-fTX"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-yz1"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-ucm"><a href="{{ url_for('logout') }}">logout</a></div>
          </div>
          <div class="group-2-qFX">
            <a href="{{ url_for('logout') }}"> 
            <img class="icons8-user1-1-bVb" src="../static/assets/icons8-user1-1-dfP.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-7yj" src="../static/assets/line-2-cnD.png"/>
    </div>
    <div class="auto-group-jbff-U3b">
      <div class="item--1ZK">
        1. 원하는 크기로 조정한다.(-/+)<br>
        2. 원하는 위치로 조정한다.(1-9)<br>
        3. 세부 위치를 상세히 조정한다. (상/하/좌/우)
      </div>


      <img class="bi-mic-fill-2jK" src="../static/assets/bi-mic-fill-9ub.png"/>
      <div class="item--ZUM">
        <span class="item--ZUM-sub-0">이동을 마쳤다면 &nbsp;</span>
        <!-- <span class="item--ZUM-sub-1"> </span> -->
        <span class="item--ZUM-sub-2">‘완료’</span>
        <span class="item--ZUM-sub-3">를 클릭 또는 말씀해 주세요.</span>
      </div>
      <div class="auto-group-6ved-gxZ">
      <div class="group-63-rVP"><a href="{{ url_for('pro_filter') }}" id = "noLink" style="color:white">완료</a></div>
      </div>
      <div class="rectangle-9-uiZ">
      <div class="image-container" style="position: relative; overflow: hidden;">
        {% if background_image %}
            <img class="background-image" id="background-image" src="{{ url_for('static', filename=background_image) }}" alt="Background Image">
        {% endif %}
        {% if processed_image %}
            <img class="processed-image object-image" id="processed-image" src="{{ url_for('static', filename=processed_image) }}" alt="Processed Image" style="position: absolute; top: 0; left: 0; z-index: 1;">
        {% endif %}
      </div>
        </div>
      <div class="group-14-SyP">
        <div class="item--aph">
          <span class="item--aph-sub-0">{{ username }}&nbsp;</span>
          <span class="item--aph-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-juqt-7i9">
          <div class="line-4-SVX">
          </div>
          <div class="ellipse-1-a5w">
          </div>
          <div class="item--Hm3">스타일</div>
          <div class="ellipse-2-ytm">
          </div>
          <div class="item--6iV">배경</div>
          <div class="ellipse-3-oN1">
          </div>
          <div class="item--8QH">오브젝트</div>
          <div class="ellipse-4-qZb">
          </div>
          <div class="item--YU1">배치</div>
          <div class="ellipse-5-pgR">
          </div>
          <div class="item--8x1">필터</div>
          <!-- <div class="ellipse-6-q5j">
          </div>
          <div class="item--MZs">필터</div> -->
        </div>
      </div>
  </div>
  </div>
  <div class="rectangle-right">
  </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  let processedImage = document.querySelector('.processed-image');
  function dataURItoBlob(dataURI) {
      const byteString = atob(dataURI.split(',')[1]);
      const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
      const ab = new ArrayBuffer(byteString.length);
      const ia = new Uint8Array(ab);
      for (let i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
      }
      return new Blob([ab], { type: mimeString });
  }

  // "아니오" 링크 엘리먼트 가져오기 및 클릭 이벤트 리스너 추가
  const noLink = document.querySelector('.group-63-rVP a');
  noLink.addEventListener('click', async function(event) {
      event.preventDefault();

      // 특정 요소만 캡처하기 위해 해당 요소를 지정
      const elementToCapture = document.querySelector('.rectangle-9-uiZ');

      html2canvas(elementToCapture).then(canvas => {
          const dataUrl = canvas.toDataURL('image/png');

          fetch('/save-screenshot', {
              method: 'POST',
              body: JSON.stringify({ image: dataUrl }),
              headers: { 'Content-Type': 'application/json' }
          })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => {
              if (data.message === 'Screenshot saved successfully') {
                  window.location.href = "{{ url_for('pro_filter') }}";
              }
          })
          .catch((error) => {
              console.error('Error:', error);
          });
      });
  });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var processedImage = document.getElementById('processed-image');
    if (processedImage) {
        selectedObject = processedImage;
        selectedObject.classList.add('selected');
    }
});

window.addEventListener('load', function() {
    var backgroundImage = document.getElementById('background-image');
    if (!backgroundImage) {
        console.log('Background image not found');
        return;
    }  
    
    $.ajax({
      url: '/get_processed_image_paths',
      type: 'GET',
      dataType: 'json',
      success: function(data) {
          if (data.length > 0) {
              var randomImagePath = data[Math.floor(Math.random() * data.length)];
              var objectImage = new Image();
              objectImage.src = randomImagePath;
              objectImage.alt = 'Object Image';

              objectImage.onload = function() {
                  var backgroundImage = document.querySelector('.rectangle-9-kL9 img');
                  if (backgroundImage) {
                      var backgroundImageWidth = backgroundImage.width;
                      var backgroundImageHeight = backgroundImage.height;

                      var randomLeft = Math.floor(Math.random() * (backgroundImageWidth - objectImage.width));
                      var randomTop = Math.floor(Math.random() * (backgroundImageHeight - objectImage.height));

                      objectImage.style.position = 'absolute';
                      objectImage.style.left = randomLeft + 'px';
                      objectImage.style.top = randomTop + 'px';

                      var objectContainer = document.getElementById('object-container');
                      objectContainer.appendChild(objectImage);
                  } else {
                      console.log('Background image not found');
                  }
              };
          } else {
              console.log('No processed images available.');
          }
      },
      error: function(error) {
          console.log('Error:', error);
      }
  });
      setupObjectClickHandlers();
// processed 이미지를 가져옵니다 (예시: 클래스 이름으로 가져오기)
processedImage = document.querySelector('.processed-image-class'); // 클래스 이름에 맞게 변경하세요
});


  // const positions = [
  //     { top: '0%', left: '0%' },   
  //     { top: '0%', left: '33%' },  
  //     { top: '0%', left: '66%' },  
  //     { top: '33%', left: '0%' },   
  //     { top: '33%', left: '33%' },  
  //     { top: '33%', left: '66%' },  
  //     { top: '66%', left: '0%' },   
  //     { top: '66%', left: '33%' },  
  //     { top: '66%', left: '66%' }
  // ];
  window.addEventListener('keydown', (e) => {
    var processedImage = document.getElementById('processed-image');
    var backgroundImage = document.getElementById('background-image');
    if (!processedImage || !backgroundImage) return;

    var bgRect = backgroundImage.getBoundingClientRect();
    const cols = 3;
    const rows = 3;
    const cellWidth = bgRect.width / cols;
    const cellHeight = bgRect.height / rows;

    const key = parseInt(e.key);

    const moveStep = 10;

    let left = parseInt(processedImage.style.left) || 0;
    let top = parseInt(processedImage.style.top) || 0;


    // 방향키에 따른 이동 로직
    switch (e.key) {
        case 'ArrowUp':
            processedImage.style.top = (top - moveStep) + 'px';
            break;
        case 'ArrowDown':
            processedImage.style.top = (top + moveStep) + 'px';
            break;
        case 'ArrowLeft':
            processedImage.style.left = (left - moveStep) + 'px';
            break;
        case 'ArrowRight':
            processedImage.style.left = (left + moveStep) + 'px';
            break;
    }
    if (key >= 1 && key <= 9) {
        const col = (key - 1) % cols;
        const row = Math.floor((key - 1) / cols);
        var newLeft = bgRect.left + col * cellWidth;
        var newTop = bgRect.top + row * cellHeight;

        processedImage.style.left = Math.max(bgRect.left, Math.min(newLeft, bgRect.right - processedImage.offsetWidth)) - bgRect.left + 'px';
        processedImage.style.top = Math.max(bgRect.top, Math.min(newTop, bgRect.bottom - processedImage.offsetHeight)) - bgRect.top + 'px';
    }

    if (e.key === '+') {
        processedImage.style.width = Math.min(processedImage.clientWidth * 1.1, bgRect.width) + "px";
        processedImage.style.height = "auto";
    }
    if (e.key === '-') {
        processedImage.style.width = Math.max(processedImage.clientWidth * 0.9, 10) + "px";
        processedImage.style.height = "auto";
    }
});

</script>