<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가19</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/pro_specify_obj_check2.css"/>
</head>
<body>
<div class="item-14-A7b">
  <a href="pro_specify_obj_num2.html">   
  <img class="auto-group-jd7f-sGu" src="./assets/auto-group-jd7f.png"/></a>
  <div class="auto-group-gjrb-BoP">
    <div class="group-61-sw7">
      <div class="auto-group-dz77-d9b">
        <div class="group-62-KHK">
          <a href="intro.html">  
          <img class="group-11-oiH" src="./assets/group-11-hTf.png"/></a>
          <div class="me-muse-vnu">ME:MUSE</div>
        </div>
        <div class="group-10-CVX">
          <div class="group-1-wi1">
            <div class="workplace-S8y"><a href="workplace.html">Workplace</a></div>
            <div class="museum-7ku"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-DZ3"><a href="guide.html">Guide</a></div>
            <div class="login-ugm"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-RQD">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-anu" src="./assets/icons8-user1-1-8eu.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-HSR" src="./assets/line-2-PaZ.png"/>
    </div>
    <div class="auto-group-nrsq-bi1">
      <div class="group-14-6em">
        <div class="item--pqf">
          <span class="item--pqf-sub-0">김밈&nbsp;</span>
          <span class="item--pqf-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-cv2d-SkZ">
          <div class="line-4-BCM">
          </div>
          <div class="ellipse-1-eLq">
          </div>
          <div class="item--uGm">스타일</div>
          <div class="ellipse-2-9wo">
          </div>
          <div class="item--ReR">배경</div>
          <div class="ellipse-3-sWR">
          </div>
          <div class="item--9iq">오브젝트</div>
          <div class="ellipse-4-QPs">
          </div>
          <div class="item--gsB">배치</div>
          <div class="ellipse-5-jqT">
          </div>
          <div class="item--bcm">세부 배치</div>
          <div class="ellipse-6-SdP">
          </div>
          <div class="item--6xq">필터</div>
        </div>
      </div>
      <div class="item--9w7">원하는 위치로 배치했습니다!</div>
      <div class="rectangle-9-2k1">
      </div>
      <div class="item--Kz1">
        맞으면&nbsp;
        <span style="color:#1400ff; font-weight:bold">‘예’</span>
        <span class="item--c4H-sub-2"> 틀리면&nbsp; </span>
        <span style="color:#1400ff; font-weight:bold">‘아니오'</span>
        <span class="item--c4H-sub-4">를 클릭 또는 말씀해 주세요.</span>
      </div>
      <div class="auto-group-vd5s-kJd">
        <div class="group-56-r6m"><a href="pro_more_specify_obj.html" style="color:white">예</a></div>
        <div class="auto-group-fk5o-4id"><a href="pro_specify_obj_num2.html" style="color:white">아니오</a></div>
      </div>
      <img class="bi-mic-fill-KPf" src="./assets/bi-mic-fill-bt5.png"/>
    </div>
  </div>
  <div class="rectangle-30-d9T">
  </div>
</div>
</body>