<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가10</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/styles/pro_edit_obj_num.css"/>
</head>
<body>
<div class="item-8-UiV">
  <a href="{{ url_for('pro_edit_ojbect') }}">   
  <img class="auto-group-vawm-bo7" src="../static/assets/auto-group-vawm.png"/></a>
  <div class="auto-group-wjx9-jPX">
    <div class="group-61-TKX">
      <div class="auto-group-jq3t-DJh">
        <div class="group-62-iWM">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-EzV" src="../static/assets/group-11-XeR.png"/></a>
          <div class="me-muse-a2m">ME:MUSE</div>
        </div>
        <div class="group-10-fa1">
          <div class="group-1-RZB">
            <div class="workplace-kLZ"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-fTX"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-yz1"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-ucm"><a href="{{ url_for('logout') }}">logout</a></div>
          </div>
          <div class="group-2-qFX">
            <a href="{{ url_for('logout') }}"> 
            <img class="icons8-user1-1-bVb" src="../static/assets/icons8-user1-1-dfP.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-7yj" src="../static/assets/line-2-cnD.png"/>
    </div>
    <div class="auto-group-jbff-U3b">
      <div class="item--1ZK">이동시킬 오브젝트의 번호를 클릭 또는 말씀해 주세요.</div>
      <img class="bi-mic-fill-2jK" src="../static/assets/bi-mic-fill-9ub.png"/>
      <div class="item--ZUM">
        <span class="item--ZUM-sub-0">오브젝트 이동을 원치 않는다면&nbsp;</span>
        <!-- <span class="item--ZUM-sub-1"> </span> -->
        <span class="item--ZUM-sub-2">‘이동 안함 ’</span>
        <span class="item--ZUM-sub-3">을 클릭 또는 말씀해 주세요.</span>
      </div>
      <div class="group-63-rVP"><a href="{{ url_for('pro_filter') }}" style="color:white">이동 안함</a></div>
      <a href="{{ url_for('pro_edit_obj_check') }}"> <div class="rectangle-9-uiZ">
      </div></a>
      <div class="group-14-SyP">
        <div class="item--aph">
          <span class="item--aph-sub-0">김밈&nbsp;</span>
          <span class="item--aph-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-juqt-7i9">
          <div class="line-4-SVX">
          </div>
          <div class="ellipse-1-a5w">
          </div>
          <div class="item--Hm3">스타일</div>
          <div class="ellipse-2-ytm">
          </div>
          <div class="item--6iV">배경</div>
          <div class="ellipse-3-oN1">
          </div>
          <div class="item--8QH">오브젝트</div>
          <div class="ellipse-4-qZb">
          </div>
          <div class="item--YU1">배치</div>
          <div class="ellipse-5-pgR">
          </div>
          <div class="item--8x1">세부 배치</div>
          <div class="ellipse-6-q5j">
          </div>
          <div class="item--MZs">필터</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-30-FQM">
  </div>
</div>
</body>