<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가22</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/pro_complete.css"/>
</head>
<body>
<div class="item-16-ptZ">
  <a href="{{ url_for('pro_filter') }}">   
  <img class="auto-group-ygsm-Lru" src="../static/assets/auto-group-ygsm.png"/></a>
  <div class="auto-group-4cqh-rqF">
    <div class="group-61-BMj">
      <div class="auto-group-bztx-vq7">
        <div class="group-62-em7">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-z4H" src="../static/assets/group-11-kV7.png"/></a>
          <div class="me-muse-vTj">ME:MUSE</div>
        </div>
        <div class="group-10-pp1">
          <div class="group-1-BuT">
            <div class="workplace-XCd"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-e2M"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-MxM"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-fi9"><a href="{{ url_for('logout') }}">logout</a></div>
          </div>
          <div class="group-2-bbo">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-AQ1" src="../static/assets/icons8-user1-1-bZT.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-VBP" src="../static/assets/line-2-eb3.png"/>
    </div>
    <div class="item--qFF">
      <span class="item--qFF-sub-0"><span style="color:#003D75">{{ username }}</span>
      <span style="color:black">
       작가님의 작품이 완성됐습니다.
      <br/>
      작품 제목과 설명을 입력 또는 말해서 캡션을 설정해주세요.
      </span>
    </div>
    <div class="auto-group-grgh-Qr5">
      <div class="auto-group-eut1-YBb">
        <div class="rectangle-9-gob">
        </div>
        <div class="group-3-RWH">
          <div class="item--wUd">{{ username }}</div>
          <div class="line-1-SgH">
          </div>
          <form action="{{ url_for('pro_save_success') }}" id="captions-form">
          <div class="group-26-Bds"><textarea id="title" autofocus placeholder="작품 제목" cols="30"></textarea></div>
          <div class="item-2023-1N1">2023</div>
          <div class="auto-group-kzpf-i1X"><textarea id="captions" placeholder="작품 설명" cols="30" rows="7"></textarea></div>
        </form>
        </div>
      </div>
      <div class="item--tq7">
      작품을 저장하고 싶은가요?
      <br/>
      클릭 또는 말씀해 주세요.
      <br/>
      저장된 작품은 ‘마이 페이지&gt;나의 작품’에서 확인할 수 있습니다.
      <br/>
      * 저장하지 않으면 작품은 사라집니다.
      </div>
      <div class="auto-group-ytzq-Fp5">
        <form action="{{ url_for('pro_save_success') }}" id="captions-form">
        <div class="auto-group-lblm-yk5"><input type="submit" value="예" style="background:#003D75; color:white; font-family:Hahmlet; font-size:1.6rem"></div>
      </form>
        <div class="auto-group-pwv1-rJ5"><a href="{{ url_for('pro_no_save') }}" style="color:white">아니오</a></div>
      </div>
      <img class="bi-mic-fill-KhT" src="../static/assets/bi-mic-fill-5y3.png"/>
    </div>
  </div>
  <div class="rectangle-30-T2y">
  </div>
</div>
</body>