<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가21</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/pro_filter.css"/>
</head>
<body>
<div class="item-15-vSV">
  <a href="pro_specify_obj.html">   
  <img class="auto-group-qvo3-Ei5" src="./assets/auto-group-qvo3.png"/></a>
  <div class="auto-group-zkah-mT7">
    <div class="group-61-6EV">
      <div class="auto-group-ywof-3fX">
        <div class="group-62-hk5">
          <a href="intro.html">  
          <img class="group-11-pZo" src="./assets/group-11-dNH.png"/></a>
          <div class="me-muse-A7s">ME:MUSE</div>
        </div>
        <div class="group-10-s2H">
          <div class="group-1-cVf">
            <div class="workplace-YPK"><a href="workplace.html">Workplace</a></div>
            <div class="museum-4Mf"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-noT"><a href="guide.html">Guide</a></div>
            <div class="login-7Kw"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-EvM">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-zed" src="./assets/icons8-user1-1-Mo7.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-vYH" src="./assets/line-2-qnq.png"/>
    </div>
    <div class="auto-group-xs3p-4uP">
      <div class="item--D1b">적용하고 싶은 필터의 번호를 클릭 또는 말씀해 주세요.</div>
      <img class="bi-mic-fill-DQu" src="./assets/bi-mic-fill-NEV.png"/>
      <!-- <div class="item--fGu">
      선택한 필터의 번호는 -입니다.
      <br/>
      클릭 또는 말씀해 주세요.
      </div>
      <div class="auto-group-lrbp-VFw">
        <div class="group-46-1zy">
          <div class="group-44-mDT"><a href="-xAm.html" style="color:white">예</a></div>
        </div>
        <div class="group-45-RJ1"><a href="-siq.html" style="color:white">아니오</a></div>
      </div> -->
      <div class="group-14-svh">
        <div class="item--CTB">
          <span class="item--CTB-sub-0">김밈&nbsp;</span>
          <span class="item--CTB-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-r7m3-Rz9">
          <div class="line-4-kmX">
          </div>
          <div class="ellipse-1-gfB">
          </div>
          <div class="item--c33">스타일</div>
          <div class="ellipse-2-JRf">
          </div>
          <div class="item--chF">배경</div>
          <div class="ellipse-3-uwF">
          </div>
          <div class="item--dMT">오브젝트</div>
          <div class="ellipse-4-j9b">
          </div>
          <div class="item--qiR">배치</div>
          <div class="ellipse-5-LQH">
          </div>
          <div class="item--FXF">세부 배치</div>
          <div class="ellipse-6-w9B">
          </div>
          <div class="item--F9s">필터</div>
        </div>
      </div>
      <a href="pro_complete.html"> <div class="auto-group-s1v3-w2h">
        <div class="rectangle-9-TWq">
        </div>
        <div class="rectangle-11-Tv9">
        </div>
        <div class="rectangle-12-c2M">
        </div>
        <div class="rectangle-13-Lyw">
        </div>
        <div class="rectangle-14-siy">
        </div>
        <div class="rectangle-15-cgZ">
        </div>
      </div></a>
      <div class="auto-group-qyym-xkR">
        <div class="item--gRX">1. 없음</div>
        <div class="item--QMX">2. 화사한</div>
        <div class="item--KUV">3. 노을빛</div>
        <div class="item--cyP">4. 밝은</div>
        <div class="item--9iR">5. 새벽하늘</div>
        <div class="item--4qP">6. 낭만적</div>
      </div>
      <a href="pro_complete.html"> <div class="auto-group-jxlu-Pcm">
        <div class="rectangle-16-7Ym">
        </div>
        <div class="rectangle-20-rmF">
        </div>
        <div class="rectangle-21-QGy">
        </div>
        <div class="rectangle-18-Y8H">
        </div>
        <div class="rectangle-19-V3X">
        </div>
        <div class="rectangle-17-Rxm">
        </div>
      </div></a>
      <div class="auto-group-prkz-PPo">
        <div class="item--ud3">7. 높은 대비</div>
        <div class="item--dJ9">8. 차분한</div>
        <div class="item--ZBo">9. 빈티지</div>
        <div class="item--HNh">10. 블루밍</div>
        <div class="item--cfs">11. 세피아</div>
        <div class="item--k1P">12. 흑백</div>
      </div>
    </div>
  </div>
  <div class="rectangle-30-fe9">
  </div>
</div>
</body>