<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가18</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/pro_specify_obj_num2.css"/>
</head>
<body>
<div class="item-13-zsj">
  <a href="pro_specify_obj_check.html">   
  <img class="auto-group-dwoo-i33" src="./assets/auto-group-dwoo.png"/></a>
  <div class="auto-group-muyq-23j">
    <div class="group-61-v97">
      <div class="auto-group-vzu3-fMb">
        <div class="group-62-9Xf">
          <a href="intro.html">  
          <img class="group-11-FKo" src="./assets/group-11-j4d.png"/></a>
          <div class="me-muse-BDT">ME:MUSE</div>
        </div>
        <div class="group-10-GVo">
          <div class="group-1-EBj">
            <div class="workplace-xNd"><a href="workplace.html">Workplace</a></div>
            <div class="museum-ULy"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-bgV"><a href="guide.html">Guide</a></div>
            <div class="login-7uj"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-qaq">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-CRP" src="./assets/icons8-user1-1-VQd.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-Wws" src="./assets/line-2-7Bo.png"/>
    </div>
    <div class="auto-group-hjzz-eoB">
      <img class="bi-mic-fill-nuP" src="./assets/bi-mic-fill-zx1.png"/>
      <div class="group-14-KPX">
        <div class="item--egh">
          <span class="item--egh-sub-0">김밈&nbsp;</span>
          <span class="item--egh-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-xw89-pND">
          <div class="line-4-YJD">
          </div>
          <div class="ellipse-1-sLV">
          </div>
          <div class="item--mgm">스타일</div>
          <div class="ellipse-2-f1T">
          </div>
          <div class="item--NAm">배경</div>
          <div class="ellipse-3-FkM">
          </div>
          <div class="item--AsK">오브젝트</div>
          <div class="ellipse-4-U7K">
          </div>
          <div class="item--ypm">배치</div>
          <div class="ellipse-5-68h">
          </div>
          <div class="item--ChX">세부 배치</div>
          <div class="ellipse-6-6H7">
          </div>
          <div class="item--1ey">필터</div>
        </div>
      </div>
      <div class="item-74-7-4-uVT">
        <span class="item-74-7-4-uVT-sub-0">
        이동시키고 싶은 위치의 좌표를 클릭 또는 말씀해 주세요.
        <br/>
        예) (7,4) <span style="color:#1400ff; font-weight:bold">'7 콤마 4'</span>
        </span>
        <!-- <span class="item-74-7-4-uVT-sub-1">'7 콤마 4’</span> -->
      </div>
      <div class="item--HuK">
        <span class="item--HuK-sub-0">오브젝트 이동을 원치 않는다면&nbsp;</span>
        <span class="item--HuK-sub-1"> </span>
        <span class="item--HuK-sub-2">‘이동 안함 ’</span>
        <span class="item--HuK-sub-3">을 클릭 또는 말씀해 주세요.</span>
      </div>
      <div class="group-63-JLZ"><a href="pro_filter.html" style="color:white">이동 안함</a></div>
      <a href="pro_specify_obj_check2.html"><div class="rectangle-9-Lo3">
      </div></a>
    </div>
  </div>
  <div class="rectangle-30-4yw">
  </div>
</div>
</body>