<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가23-2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/pro_no_save.css"/>
</head>
<body>
<div class="item-17-2-hZs">
  <a href="{{ url_for('pro_complete') }}">   
  <img class="auto-group-x2gr-cgq" src="../static/assets/auto-group-x2gr.png"/></a>
  <div class="auto-group-cy5s-9Ay">
    <div class="group-61-TxM">
      <div class="auto-group-pcem-R8V">
        <div class="group-62-94V">
          <a href="{{ url_for('/') }}">  
          <img class="group-11-Tqs" src="../static/assets/group-11-rFB.png"/></a>
          <div class="me-muse-oeq">ME:MUSE</div>
        </div>
        <div class="group-10-X53">
          <div class="group-1-tAV">
            <div class="workplace-pK3"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-Xz9"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-FfF"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-aSd"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-6fs">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-fU5" src="../static/assets/icons8-user1-1-zfB.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-zWM" src="../static/assets/line-2-JfB.png"/>
    </div>
    <div class="me-muse--wRb">ME:MUSE를 이용해주셔서 감사합니다 :)</div>
    <div class="auto-group-xydb-qWy">
      <div class="auto-group-1fp5-xrV">
        <div class="rectangle-9-JQZ">
        </div>
        <div class="group-3-F4u">
          <div class="item--ZbP">김밈</div>
          <div class="line-1-fuK">
          </div>
          <div class="group-26-R7o"><textarea id="title" autofocus placeholder="작품 제목" cols="30"></textarea></div>
          <div class="item-2023-4Am">2023</div>
          <div class="auto-group-2hkm-NSM"><textarea id="captions" placeholder="작품 설명" cols="30" rows="7"></textarea></div>
        </div>
      </div>
      <div class="group-23-Yk9">
        <img class="rectangle-33-U81" src="../static/assets/rectangle-33-zxZ.png"/>
        <div class="item--nuP"><a href="{{ url_for('whole_gallery1') }}" style="color:white"> 다른 작가의 전시회 관람 하기</a></div>
      </div>
      <img class="bi-mic-fill-qcm" src="../static/assets/bi-mic-fill-WuX.png"/>
    </div>
  </div>
  <div class="rectangle-30-mFX">
  </div>
</div>
</body>