<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/pro_back.css"/>
</head>
<body>
<div class="item-1-LC1">
  <a href="{{ url_for('pro_style') }}">   
  <img class="auto-group-ejmt-EoB" src="../static/assets/auto-group-ejmt.png"/></a>
  <div class="auto-group-5ndw-m2R">
    <div class="group-61-5J1">
      <div class="auto-group-hcmx-ERo">
        <div class="group-62-x6u">
          <a href="{{ url_for('/') }}">  
          <img class="group-11-szZ" src="../static/assets/group-11-zWd.png"/></a>
          <div class="me-muse-pQ1">ME:MUSE</div>
        </div>
        <div class="group-10-vC9">
          <div class="group-1-5Kw">
            <div class="workplace-oWq"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-v5f"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-3RB"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-9z1"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-5sf">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-qrq" src="../static/assets/icons8-user1-1-Gv5.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-mkV" src="../static/assets/line-2-eTj.png"/>
    </div>
    <div class="auto-group-fcot-v7b">
      <div class="group-14-Ee5">
        <div class="item--aC9">
          <span class="item--aC9-sub-0">김밈&nbsp;
          </span>
          <span class="item--aC9-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-cw8m-e5X">
          <div class="line-4-AZf">
          </div>
          <div class="ellipse-1-u1T">
          </div>
          <div class="item--QD7">스타일</div>
          <div class="ellipse-2-VkM">
          </div>
          <div class="item--QcR">배경</div>
          <div class="ellipse-3-gZw">
          </div>
          <div class="item--bgu">오브젝트</div>
          <div class="ellipse-4-VXP">
          </div>
          <div class="item--RA9">배치</div>
          <div class="ellipse-5-v6u">
          </div>
          <div class="item--2vd">세부 배치</div>
          <div class="ellipse-6-Keq">
          </div>
          <div class="item--FYV">필터</div>
        </div>
      </div>
      <div class="item--9ds">
        <span class="item--9ds-sub-0">어떤 배경을 그리고 싶은지 프롬프트를 입력 또는 말씀해 주세요.</span>
      </div>
      <form action="{{ url_for('pro_lora') }}" method="#" id="mood" style="width:850px">
      <div class="auto-group-ct25-WWM"><textarea id="background" required autofocus placeholder="예) 저녁 시간대, 공원, 로우 앵글" cols="30" rows="7"></textarea></div>
      <br>
      <div class="item--8Xj" style="transform:translate(43%,0)">
        <span class="item--8Xj-sub-0">재시도를 하고 싶다면
        <span style="color:#1400ff; font-weight:bold">‘다시’</span>
        라고 말씀해 주세요.
        <br/>
        다음 단계로 넘어가고 싶다면 클릭 또는 
        <span style="color:#1400ff; font-weight:bold">‘다음’</span>
        이라고 말씀해 주세요.</span>
      </div>
      <div class="group-32-x2u"><input type="submit" value="다음" style="background:#003D75; color:white"></div>
      </form>
      <img class="bi-mic-fill-yyb" src="../static/assets/bi-mic-fill-TEH.png"/>
    </div>
  </div>
  <div class="rectangle-30-KGm">
  </div>
</div>
</body>