<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실/전문가11</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/pro_edit_obj_check.css"/>
</head>
<body>
<div class="item-8-x73">
  <a href="{{ url_for('pro_edit_obj_num') }}">   
  <img class="auto-group-xprr-5Bf" src="../static/assets/auto-group-xprr.png"/></a>
  <div class="auto-group-x6vw-odT">
    <div class="group-61-L7b">
      <div class="auto-group-wykk-gx9">
        <div class="group-62-bpD">
          <a href="{{ url_for('/') }}">  
          <img class="group-11-vbb" src="../static/assets/group-11-Khb.png"/></a>
          <div class="me-muse-fp5">ME:MUSE</div>
        </div>
        <div class="group-10-BXX">
          <div class="group-1-jow">
            <div class="workplace-fBo"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-mkd"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-JVf"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-2Rf"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-ZgV">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-jay" src="../static/assets/icons8-user1-1-pvD.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-sBP" src="../static/assets/line-2-wFP.png"/>
    </div>
    <div class="auto-group-hytf-c8y">
      <div class="item--cc9">선택한 오브젝트의 번호는 -입니다.</div>
      <img class="bi-mic-fill-YYR" src="../static/assets/bi-mic-fill-ggR.png"/>
      <div class="item--Lch">
        <span class="item--Lch-sub-0">맞으면&nbsp;</span>
        <span class="item--Lch-sub-1"> ‘예’</span>
        <span class="item--Lch-sub-2"> &nbsp;틀리면 </span>
        <span class="item--Lch-sub-3">&nbsp;‘아니오’</span>
        <span class="item--Lch-sub-4">를 클릭 또는 말씀해 주세요.</span>
      </div>      
      <div class="auto-group-xzuk-GzD">
        <div class="auto-group-rw3s-oz9"><a href="{{ url_for('pro_edit_shot_num') }}" style="color:white">예</a></div>
        <div class="auto-group-kghw-4fB"><a href="{{ url_for('pro_edit_obj_num') }}" style="color:white">아니오</a></div>
      </div>
      <div class="rectangle-9-sY5">
      </div>
      <div class="group-14-QY1">
        <div class="item--8D7">
          <span class="item--8D7-sub-0">김밈&nbsp;</span>
          <span class="item--8D7-sub-1"> 작가님의 작업</span>
        </div>
        <div class="auto-group-hj89-r2d">
          <div class="line-4-aUR"></div>
          <div class="ellipse-1-KB7"></div>
          <div class="item--qQM">스타일</div>
          <div class="ellipse-2-WmP"></div>
          <div class="item--dr1">배경</div>
          <div class="ellipse-3-Kiq"></div>
          <div class="item--3Pw">오브젝트</div>
          <div class="ellipse-4-kJM"></div>
          <div class="item--rsB">배치</div>
          <div class="ellipse-5-AN5"></div>
          <div class="item--t3B">세부 배치</div>
          <div class="ellipse-6-Nyw"></div>
          <div class="item--6uw">필터</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-30-bLu">
  </div>
</div>
</body>