<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>음성 인식 사용자 - 회원가입3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/voice_join_success.css"/>
</head>
<body>
<div class="item--2qF">
  <div class="rectangle-29-Y2u">
  </div>
  <div class="auto-group-ycwm-g97">
    <div class="group-61-1BP">
      <div class="auto-group-5upv-xsK">
        <div class="group-62-g2d">
          <a href="{{ url_for('/') }}">  
          <img class="group-11-QDX" src="../static/assets/group-11-86d.png"/></a>
          <div class="me-muse-wUM">ME:MUSE</div>
        </div>
        <div class="group-10-SR7">
          <div class="group-1-PbF">
            <div class="workplace-iNd"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-E65"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-9iq"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-5Mb"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-Cx1">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-ySy" src="../static/assets/icons8-user1-1-SEd.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-hds" src="../static/assets/line-2-srh.png"/>
    </div>
    <div class="auto-group-ttxv-3Sq">
      <div class="auto-group-fjfo-mNq">
        <img class="group-14-58d" src="../static/assets/group-14.png"/>
        <div class="me-muse--NtR">
        회원가입이 성공적으로 완료되었습니다.
        <br/>
        ME:MUSE에 오신 것을 환영합니다 :)
        </div>
      </div>
      <div class="item--64h">
        <span class="item--64h-sub-0">그림을 그리고 싶다면 </span>
        <span class="item--64h-sub-1">&nbsp;‘그리기’</span>
        <span class="item--64h-sub-2">라고 말해주세요.</span>
      </div>
    </div>
  </div>
  <div class="rectangle-30-rh7">
  </div>
</div>
</body>