<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>음성 인식 사용자 - 로그인</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/voice_login.css"/>
</head>
<body>
<div class="item--wcD">
  <div class="rectangle-29-T4m">
  </div>
  <div class="auto-group-ddc5-nMw">
    <div class="group-61-6tR">
      <div class="auto-group-b6xh-rch">
        <div class="group-62-AtH">
          <a href="intro.html">  
          <img class="group-11-JDo" src="./assets/group-11-VnZ.png"/></a>
          <div class="me-muse-ENM">ME:MUSE</div>
        </div>
        <div class="group-10-Y89">
          <div class="group-1-txh">
            <div class="workplace-pbT"><a href="workplace.html">Workplace</a></div>
            <div class="museum-97w"><a href="whole_gallery1.html">Gallery</a></div>
            <div class="guide-TuK"><a href="guide.html">Guide</a></div>
            <div class="login-BKX"><a href="login.html">Login</a></div>
          </div>
          <div class="group-2-JQ9">
            <a href="my_page.html"> 
            <img class="icons8-user1-1-rwT" src="./assets/icons8-user1-1-3j7.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-Nuo" src="./assets/line-2-g2M.png"/>
    </div>
    <div class="auto-group-u98m-KKF">
      <div class="auto-group-1whb-qYV">
        <div class="item--icH" style="text-align: center">로그인 명령어를 말해주세요.</div>
        <div class="item--icH" style="text-align: center">회원가입을 하려면&nbsp;<b style=color:#1400FF>'회원가입'</b>
        이라고 말해주세요.</div>
      </div>
      <img class="bi-mic-fill-Bnh" src="./assets/bi-mic-fill-ZT7.png"/>
    </div>
  </div>
  <div class="rectangle-30-K8D">
  </div>
</div>
</body>