<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>수채화 전시회3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles/whole_gallery3.css"/>
</head>
<body>
<div class="item-3-Djw">
  <div class="rectangle-29-jyB">
  </div>
  <div class="auto-group-ghuk-fM3">
    <div class="group-61-aU1">
      <div class="auto-group-pbtx-Xe9">
        <div class="group-62-RUd">
          <a href="{{ url_for('intro') }}">  
          <img class="group-11-vwB" src="../static/assets/group-11-eC9.png"/></a>
          <div class="me-muse-FyT">ME:MUSE</div>
        </div>
        <div class="group-10-kQR">
          <div class="group-1-iMF">
            <div class="workplace-qwf"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-ADF"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-gxH"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-1Um"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-YUh">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-6m7" src="../static/assets/icons8-user1-1-PdK.png"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-2em" src="../static/assets/line-2-B8u.png"/>
    </div>
    <div class="item--Mww">수채화 전시회</div>
    <div class="item-0-0--rdo">
      <span class="item-0-0--rdo-sub-0">보고 싶은 전시회의 번호를 말하면 입장할 수 있습니다
      <span style="color:#1400ff; font-weight:bold">
       “0번 전시회”</span>
      <br/>
      더 많은 작품을 보고 싶다면 페이지 번호를 말씀해 주세요
      <span style="color:#1400ff; font-weight:bold">“0번 페이지”</span>
      <br/>
      특정 스타일(만화/수채화/파스텔/실사)의 전시회만을 보고 싶다면 다음과 같이 말씀해 주세요
      <span style="color:#1400ff; font-weight:bold">
        “만화 전시회”</span></span>
        <div style="text-align:right; position:absolute; right:400px; height:180px; font-weight:bold; line-height:24px;">
          <a href="{{ url_for('whole_gallery1') }}"><span>전체</a><span><br/> 
            <a href="{{ url_for('cartoon_gallery1') }}"><span>만화</a><span><br/> 
            <a href="{{ url_for('watercolor_gallery1') }}"><span>수채화</a><span><br/> 
            <a href="{{ url_for('pastel_gallery1') }}"><span>파스텔</a><span><br/> 
            <a href="{{ url_for('live_gallery1') }}"><span>실사</a><span><br/>
      </div>
    </div>
    <div class="auto-group-qkdw-pFB">
      <div class="auto-group-r8df-LjK">
        <div class="auto-group-z8mf-G7B">
          <div class="item--YqP">공뮤즈</div>
          <div class="auto-group-jflv-edX">
          </div>
          <div class="item--Arm">궁금한 머릿속</div>
        </div>
        <div class="auto-group-dayf-Tay">
          <div class="item--AVP">도뮤즈</div>
          <div class="line-7-5sF">
          </div>
          <div class="item--RgD">내 방 </div>
        </div>
        <div class="auto-group-v6m7-weZ">
          <div class="item--4jB">조뮤즈</div>
          <div class="line-8-nv5">
          </div>
          <div class="item--Lwb">숲속 새들과 </div>
        </div>
      </div>
      <div class="auto-group-8szp-F2y">
        <div class="auto-group-zevm-m1K">
          <div class="item--HEZ">모뮤즈</div>
          <div class="auto-group-1pn9-oih">
          </div>
          <div class="item--j6Z">당당한 내 삶 </div>
        </div>
        <div class="auto-group-fivd-Rk5">
          <div class="item--M7w">배뮤즈</div>
          <div class="auto-group-dgb3-Tgm">
          </div>
          <div class="item--b2H">숭구리당당</div>
        </div>
        <div class="auto-group-faxr-JBb">
          <div class="item--cxy">장뮤즈</div>
          <div class="auto-group-gkv1-Ybj">
          </div>
          <div class="item--gC9">사랑의 공간</div>
        </div>
      </div>
      <div class="auto-group-6wuh-PcM">
        <div class="group-29-6mf">
          <div class="group-28-FuT"><a href="{{ url_for('watercolor_gallery1') }}">1</a></div>
        </div>
        <div class="group-30-jpd">
          <div class="group-28-hFf"><a href="{{ url_for('watercolor_gallery2') }}">2</a></div>
        </div>
        <div class="group-31-nY1">
          <div class="group-28-KXw"><a href="{{ url_for('watercolor_gallery3') }}">3</a></div>
        </div>
        <img class="bi-mic-fill-Cbj" src="../static/assets/bi-mic-fill-CfB.png"/>
      </div>
    </div>
  </div>
  <div class="rectangle-30-uFF">
  </div>
</div>
</body>