<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작업실</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500&family=Inter:wght@500;600&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/styles/workplace.css"/>
</head>
<body>
<div class="item--hry">
  <div class="rectangle-29-2uF">
  </div>
  <div class="auto-group-6trh-9iy">
    <div class="group-61-fSR">
      <div class="auto-group-pahf-d8M">
        <div class="group-62-ivV">
          <a href="{{ url_for('intro') }}"><img class="group-11-eJM" src="{{ url_for('static', filename='assets/group-11-N3K.png') }}"/></a>
          <div class="me-muse-aSu">ME:MUSE</div>
        </div>
        <div class="group-10-5eZ">
          <div class="group-1-3LV">
            <div class="workplace-aLR"><a href="{{ url_for('workplace') }}">Workplace</a></div>
            <div class="museum-VTP"><a href="{{ url_for('whole_gallery1') }}">Gallery</a></div>
            <div class="guide-cY1"><a href="{{ url_for('guide') }}">Guide</a></div>
            <div class="login-8mF"><a href="{{ url_for('login') }}">Login</a></div>
          </div>
          <div class="group-2-sD3">
            <a href="{{ url_for('my_page') }}"> 
            <img class="icons8-user1-1-E3b" src="{{ url_for('static', filename='assets/icons8-user1-1-urH.png') }}"/></a>
          </div>
        </div>
      </div>
      <img class="line-2-Me1" src="../static/assets/line-2-ByK.png"/>
    </div>
    <div class="auto-group-9pds-6Lh">
      <div class="auto-group-vbxo-DgD">
        <div class="item--7mb">
          <span class="item--7mb-sub-0">{{username}}</span>
          <span class="item--7mb-sub-1"> 작가님, 원하는 모드를 클릭 또는 말씀해 주세요.</span>
        </div>
        <div class="auto-group-tl9o-HT7">
          <div class="group-24-bih"><a href="{{ url_for('new_style') }}" style="color:white">초보자</a></div>
          <div class="group-62-4MP"><a href="{{ url_for('pro_style') }}" style="color:white">전문가</a></div>
        </div>
      </div>
      <img class="bi-mic-fill-63B" src="../static/assets/bi-mic-fill-X77.png"/>
    </div>
  </div>
  <div class="rectangle-30-oiH">
  </div>
</div>
<script>
  // 음성 인식 API 초기화
  const recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = true;

  // 음성 인식 시작
  recognition.start();

  // 음성 인식 결과 이벤트 리스너
  recognition.onresult = (event) => {
    const result = event.results[event.results.length - 1][0].transcript;
    console.log('음성 인식 결과:', result);

    // 인식된 음성 명령에 따라 URL로 이동

    if (result === '마이페이지') {
      window.location.href = 'mypage.html'; // mypage.html 페이지로 이동
    }
    if (result === '가이드') {
      window.location.href = 'guide.html'; // guide.html 페이지로 이동
    }
    if (result === '초보자') {
      window.location.href = 'new_style.html'; // new_shot.html 페이지로 이동
    }
    if (result === '전문가') {
      window.location.href = 'pro_style.html'; // new_shot.html 페이지로 이동
    }
    // 다른 명령에 대한 처리도 추가할 수 있습니다.
  };
</script>
</body>
</html>