
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 192rem;
}.item-2-uGd {
  box-sizing: border-box;
  padding: 1.8rem 35.2rem 24.8rem 36.2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #003c74;
}
.item-2-uGd .group-60-oso {
  margin-bottom: 16.9619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-22-H2H {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-22-H2H .group-6-oWR {
  margin-right: 1.204rem;
  opacity: 0.9;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-22-H2H .me-muse-8Yh {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #ffffff;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-1-C2m {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-1-C2m .workplace-vDf {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-1-C2m .museum-Sho {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-1-C2m .guide-Tso {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-1-C2m .login-axR {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-2-iHw {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-2-uGd .group-60-oso .auto-group-tlc9-xkh .group-10-dkM .group-2-iHw .icons8-user1-1-4sb {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-2-uGd .group-60-oso .line-2-nob {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-uGd .auto-group-nfgv-veu {
  margin: 0rem 36.9rem 0rem 37.9rem;
  width: calc(100% - 74.8rem);
  height: 58.1rem;
  position: relative;
  flex-shrink: 0;
}
.item-2-uGd .auto-group-nfgv-veu .group-16-qms {
  opacity: 0;
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
}
.item-2-uGd .auto-group-nfgv-veu .group-16-qms .ellipse-7-yt5 {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-2-uGd .auto-group-nfgv-veu .group-16-qms .realmemusewhite-1-KBF {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-2-uGd .auto-group-nfgv-veu .group-15-eUR {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item-2-uGd .auto-group-nfgv-veu .group-15-eUR .ellipse-8-QCh {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-2-uGd .auto-group-nfgv-veu .group-15-eUR .realmemusewhite-2-jVs {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
