
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-1-KjP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-1-KjP .rectangle-29-dVB {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 {
  margin-bottom: 29.5619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-62-kiD {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-62-kiD .group-11-5Eh {
  margin: 0rem 1.204rem 0rem 0rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-62-kiD .me-muse-CKK {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-1-ruf {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-1-ruf .workplace-CCq {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-1-ruf .museum-iBB {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-1-ruf .guide-e4q {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-1-ruf .login-AJ5 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-2-Vr9 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .auto-group-x4yq-337 .group-10-W57 .group-2-Vr9 .icons8-user1-1-Tny {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-KjP .auto-group-d5hb-y3F .group-61-tR7 .line-2-vAm {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .item--TRb {
  margin: 0rem 1.081rem 1.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq {
  margin-right: 0.9rem;
  max-width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  text-align:center;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space:nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-0 {
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  text-align:center;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-3 {
  text-align:center;
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-KjP .auto-group-d5hb-y3F .item--Yxq .item--Yxq-sub-5 {
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM {
  box-sizing: border-box;
  padding: 5.4rem 22.25rem 0rem 44.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .auto-group-ybld-gUh {
  margin: 0rem 23.35rem 1.5rem 0rem;
  box-sizing: border-box;
  padding: 2.05rem 2.5rem 1.95rem 2.5rem;
  width: 30.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .auto-group-vj7f-WCq {
  margin: 0rem 23.35rem 5.25rem 0rem;
  box-sizing: border-box;
  padding: 2.05rem 2.5rem 1.95rem 2.5rem;
  width: 30.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}

.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .auto-group-vj7f-WCq1 {
  margin: -3.7rem 23.35rem 5.25rem 0rem;
  box-sizing: border-box;
  padding: 2.05rem 2.5rem 1.95rem 2.5rem;
  width: 30.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}

.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .auto-group-vj7f-WCq2 {
  margin: -3.7rem 23.35rem 5.25rem 0rem;
  box-sizing: border-box;
  padding: 2.05rem 2.5rem 1.95rem 2.5rem;
  width: 30.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}

.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .item--jbP {
  margin: 0rem 23.25rem 16.95rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .item--jbP .item--jbP-sub-0 {
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .item--jbP .item--jbP-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .item--jbP .item--jbP-sub-2 {
}
.item-1-KjP .auto-group-d5hb-y3F .auto-group-k49x-AWM .bi-mic-fill-PZT {
  margin-left: 51.25rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-KjP .rectangle-30-81F {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

input{
  width:260px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}