
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-10-kdo {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-10-kdo .auto-group-7xhp-4uP {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-62-nyo {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-62-nyo .group-11-vaD {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-62-nyo .me-muse-4RX {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-1-vyX {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-1-vyX .workplace-fAR {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-1-vyX .museum-Nad {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-1-vyX .guide-Vv9 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-1-vyX .login-RYu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-2-MhT {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .auto-group-h68h-UiD .group-10-Zt5 .group-2-MhT .icons8-user1-1-j3o {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-10-kdo .auto-group-s5gd-zo3 .group-61-vRo .line-2-ewT {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--wQm {
  width: 17.2rem;
  height: 2.1rem;
  position: absolute;
  left: 51.15rem;
  top: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .bi-mic-fill-ysF {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .rectangle-9-7Cm {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 26rem;
  background-color: #d9d9d9;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .item--ARw {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .item--ARw .item--ARw-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .item--ARw .item--ARw-sub-1 {
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .line-4-n5w {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-1-K5s {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--DS9 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-2-6Vw {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--DKf {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-3-uyB {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--deH {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-4-Wxy {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--pCy {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-5-iJM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--dgD {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .ellipse-6-vvD {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .group-14-dgu .auto-group-lv6y-Snm .item--FSh {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .auto-group-pkdf-Ygh {
  width: 22rem;
  height: 6rem;
  position: absolute;
  left: 48.8rem;
  top: 82rem;
  display: flex;
  align-items: center;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .auto-group-pkdf-Ygh .auto-group-kh7p-UaM {
  margin-right: 3.4rem;
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .auto-group-pkdf-Ygh .auto-group-8sfb-XoX {
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H {
  width: 38.9rem;
  height: 2.1rem;
  position: absolute;
  left: 40.3rem;
  top: 78rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H .item--c4H-sub-0 {
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H .item--c4H-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H .item--c4H-sub-2 {
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H .item--c4H-sub-3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-10-kdo .auto-group-s5gd-zo3 .auto-group-h8th-zVX .item--c4H .item--c4H-sub-4 {
}
.item-10-kdo .rectangle-30-Vfo {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
