
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 192rem;
}.item-1-pAV {
  box-sizing: border-box;
  padding: 1.8rem 35.2rem 24.8rem 36.2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #003c74;
}
.item-1-pAV .group-60-Ksw {
  margin-bottom: 16.9619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT {
  margin: 0rem 1.1rem 1.4rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-22-zjB {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-22-zjB .group-6-KmT {
  margin-right: 1.204rem;
  opacity: 0.9;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-22-zjB .me-muse-rWV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #ffffff;
  font-family: Archivo Black, 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-1-wXw {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-1-wXw .workplace-UGy {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-1-wXw .museum-QAd {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-1-wXw .guide-v8y {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-1-wXw .login-3jP {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #ffffff;
  font-family: Anybody, 'Source Sans Pro', sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-2-azD {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-1-pAV .group-60-Ksw .auto-group-nps5-suT .group-10-B2y .group-2-azD .icons8-user1-1-MEH {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-pAV .group-60-Ksw .line-2-H7w {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-pAV .auto-group-lc9o-RV3 {
  margin: 0rem 36.9rem 0rem 37.9rem;
  width: calc(100% - 74.8rem);
  height: 58.1rem;
  position: relative;
  flex-shrink: 0;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-15-wiH {
  opacity: 0;
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-15-wiH .ellipse-8-Uy7 {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-15-wiH .realmemusewhite-2-pGH {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-16-M1K {
  opacity: 0;
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-16-M1K .ellipse-7-tX3 {
  width: 43.6rem;
  height: 58.1rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-16-M1K .realmemusewhite-1-pQh {
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-1-pAV .auto-group-lc9o-RV3 .group-12-xWu {
  box-sizing: border-box;
  padding: 22.81rem 14.009rem 25.09rem 14.991rem;
  width: 45.5rem;
  height: 58.1rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/realmemusewhite-1-bg.png');
}
.item-1-pAV .auto-group-lc9o-RV3 .group-12-xWu .item--H3P {
  max-width: 16.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
  text-align:center;
  white-space:nowrap;
  font-family: Inter, 'Source Sans Pro', sans-serif;
  font-family: 'Hahmlet', Inter, serif;
}
