
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-11-xKT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-11-xKT .auto-group-fdq3-GL9 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-62-BLd {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-62-BLd .group-11-Jw3 {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-62-BLd .me-muse-rBs {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-1-hyB {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-1-hyB .workplace-dbw {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-1-hyB .museum-Yiu {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-1-hyB .guide-f2q {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-1-hyB .login-yJR {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-2-uhs {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .auto-group-sovj-GDf .group-10-M8d .group-2-uhs .icons8-user1-1-56Z {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-11-xKT .auto-group-pmrt-z1F .group-61-Jnd .line-2-ooF {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy {
  box-sizing: border-box;
  padding: 7.162rem 18.1rem 0rem 17rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ {
  margin-bottom: 17.3rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .item--cVo {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .item--cVo .item--cVo-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .item--cVo .item--cVo-sub-1 {
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .line-4-5w7 {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-1-1Jy {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--uQM {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-2-PKX {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--uHs {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-3-ncZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--6t9 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-4-b4D {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--JjK {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-5-Cph {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--uz1 {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .ellipse-6-oZb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .group-14-faZ .auto-group-e9e9-ktq .item--veD {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .auto-group-b4ks-1ff {
  margin: 0rem 22.7rem 10rem 22.8rem;
  box-sizing: border-box;
  padding: 17.85rem 6.35rem 17.2rem 6.25rem;
  width: calc(100% - 45.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/realmemusever2003d75-1-bg-upd.png');
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .auto-group-b4ks-1ff .item--J8y {
  margin-bottom: 1.85rem;
  max-width: 27.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  text-align:center;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .auto-group-b4ks-1ff .auto-group-oo2z-iiV {
  margin: 0rem 2.65rem 0rem 2.75rem;
  width: calc(100% - 5.4rem);
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .auto-group-b4ks-1ff .auto-group-oo2z-iiV .group-52-SPb {
  margin-right: 3.4rem;
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .auto-group-b4ks-1ff .auto-group-oo2z-iiV .group-54-haR {
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-11-xKT .auto-group-pmrt-z1F .auto-group-bdry-MJy .bi-mic-fill-vxy {
  margin-left: 74.7rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-11-xKT .rectangle-30-ePB {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
