
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}
.item--1vh {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */
}
.item--1vh .rectangle-29-Yvd {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 {
  margin-bottom: 16.3619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB {
  margin: 0rem 1.1rem 1.4rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-62-Cth {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-62-Cth .group-11-KyK {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-62-Cth .me-muse-GNm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-1-jGM {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-1-jGM .workplace-TCM {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-1-jGM .museum-xuo {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-1-jGM .guide-Veq {
  margin-right: 14.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-1-jGM .login-Dqj {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-2-kKs {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .auto-group-2czd-WFB .group-10-mqK .group-2-kKs .icons8-user1-1-iXb {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--1vh .auto-group-vdzh-Grd .group-61-yW9 .line-2-3pm {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .guide-video-Q9X {
  margin: 0rem 1rem 3.15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq {
  margin-right: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq .item--7Jq-sub-0 {
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq .item--7Jq-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq .item--7Jq-sub-2 {
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq .item--7Jq-sub-3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--1vh .auto-group-vdzh-Grd .item--7Jq .item--7Jq-sub-4 {
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT {
  box-sizing: border-box;
  padding: 0.95rem 22.25rem 0rem 30.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT .auto-group-nylz-8Fs {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 33.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT .auto-group-nylz-8Fs .auto-group-guzu-U4q {
  margin-right: 6.95rem;
  width: 58.2rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT .auto-group-nylz-8Fs .bi-mic-fill-xVo {
  margin-bottom: 0.0334rem;
  width: 2.5rem;
  height: 3.8666rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT .fq-VEq {
  margin: 0rem 9.55rem 4.8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--1vh .auto-group-vdzh-Grd .auto-group-jogv-zfT .q-a-workplace--1DB {
  margin-right: 0.45rem;
  max-width: 67.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item--1vh .rectangle-30-8x1 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh; /* 전체 뷰포트 높이 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}

.auto-group-vdzh-Grd {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom : 228px;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mic-wrapper {
  position: relative;
  display: inline-block; /* 혹은 적절한 레이아웃 설정 */
  top: -10rem;
  left: 60%;
}

.mic-blink-circle {
  position: absolute;
  top: 20%;
  left: 125%;
  transform: translate(-50%, -50%);
  width: 10px; /* 원 크기 조절 */
  height: 10px;
  background-color: #DE080F; /* 원 색상 조절 */
  border-radius: 50%;
  animation: blink 1s linear infinite;
  z-index: -1; /* 마이크 이미지 뒤에 위치 */
}