
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞춤 */
    overflow: hidden; /* 스크롤바 제거 */
  }.item--UJV{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto;
}
.item--UJV .rectangle-29-aMX {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews {
  margin-bottom: 24.2619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-62-iMF {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-62-iMF .group-11-3eR {
  margin: 0rem 1.204rem 0rem 0rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-62-iMF .me-muse-y2H {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-1-Eiu {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-1-Eiu .workplace-a25 {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-1-Eiu .museum-hMb {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-1-Eiu .guide-cjT {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-1-Eiu .login-8xh {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-2-fSq {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .auto-group-2b77-bGd .group-10-stM .group-2-fSq .icons8-user1-1-qMK {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--UJV .auto-group-3fj1-KK7 .group-61-Ews .line-2-Zo7 {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .group-12-huK {
  margin-right: 0.904rem;
  opacity: 0.9;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw {
  box-sizing: border-box;
  padding: 3.5rem 45.6rem 0rem 44.6rem;
  width: 100%;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw .auto-group-vkym-w2y {
  box-sizing: border-box;
  padding: 2.05rem 2.8rem 1.95rem 2.8rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw .auto-group-7tus-npH {
  box-sizing: border-box;
  padding: 2.05rem 2.8rem 1.95rem 2.8rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw .auto-group-h1wp-4G1 {
  box-sizing: border-box;
  padding: 2.05rem 2.8rem 1.95rem 2.8rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw .auto-group-uajv-8Wm {
  box-sizing: border-box;
  padding: 1.95rem 2.7rem 2.05rem 2.7rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--UJV .auto-group-3fj1-KK7 .auto-group-k5gm-pyw .group-6-DYD {
  width: 100%;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--UJV .rectangle-30-Uj3 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

form{

}

input{
  width:260px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}
.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh;
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}
/* 기존 상단 바 스타일 유지 */

/* 상단 바 아래로 나머지 내용을 이동시킵니다. */
.auto-group-3fj1-KK7 {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
