
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞춤 */
    overflow: hidden; /* 스크롤바 제거 */
  }.item--v49{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto;
}
.item--v49 .rectangle-29-3Pf {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 {
  margin: 0rem 1.1rem 1.4rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-62-M2y {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-62-M2y .group-11-4xy {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-62-M2y .me-muse-bi1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .group-1-4rV {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .group-1-4rV .workplace-nnV {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .group-1-4rV .museum-WTb {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .group-1-4rV .guide-2wj {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .group-1-4rV .login-9mT {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .auto-group-evxd-EU9 .group-10-7AZ .icons8-user1-1-sxM {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .group-61-H37 .line-2-1Hs {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey {
  box-sizing: border-box;
  padding: 22.362rem 22.25rem 0rem 42.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .auto-group-psl9-USM {
  margin: 0rem 21.25rem 4.45rem 0rem;
  box-sizing: border-box;
  padding: 7.1rem 7rem 7.2rem 7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/realmemusever2003d75-1-bg.png');
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .auto-group-psl9-USM .icons8-painter-96-1-B5s {
  margin-bottom: 0.8rem;
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .auto-group-psl9-USM .item--WP3 {
  margin-left: 0.0116rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2102272931;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .auto-group-psl9-USM .item--WP3 .item--WP3-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .auto-group-psl9-USM .item--WP3 .item--WP3-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .item-00000000-6kZ {
  margin: 0rem 20.25rem 2.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .item-00000000-bBX {
  margin: 0rem 20.25rem 4.35rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .group-23-Ha9 {
  margin: 0rem 21.25rem 6.9rem 0rem;
  width: 34.6rem;
  height: 7.4rem;
  cursor: pointer;
  position: relative;
  border-radius: 5.3rem;
  flex-shrink: 0;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .group-23-Ha9 .rectangle-33-cMX {
  width: 31.7rem;
  height: 7.4rem;
  position: absolute;
  left: 1.4rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5.3rem;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .group-23-Ha9 .item--XUV {
  width: 17.6rem;
  height: 2.5rem;
  position: absolute;
  left: 8.5rem;
  top: 2.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item--v49 .auto-group-vw8v-y2R .auto-group-gmcd-9ey .bi-mic-fill-B3F {
  margin-left: 53.35rem;
  width: 2.5rem;
  height: 3.8666rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--v49 .rectangle-30-5eR {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh;
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}
/* 기존 상단 바 스타일 유지 */

/* 상단 바 아래로 나머지 내용을 이동시킵니다. */
.auto-group-vw8v-y2R {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
}