
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-5-WPb {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-5-WPb .auto-group-ndaz-RmT {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-62-wdK {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-62-wdK .group-11-sG5 {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-62-wdK .me-muse-ofX {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-1-fhj {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-1-fhj .workplace-CSm {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-1-fhj .museum-iAD {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-1-fhj .guide-qVj {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-1-fhj .login-xqF {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-2-Cjb {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .auto-group-t7po-d6q .group-10-7RK .group-2-Cjb .icons8-user1-1-Za9 {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-5-WPb .auto-group-ze5f-Yr5 .group-61-4ZX .line-2-6KB {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 {
  box-sizing: border-box;
  padding: 7.162rem 0.1rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 {
  margin: 0rem 23.7rem 18.2rem 22.7rem;
  width: calc(100% - 46.4rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .item--TJ9 {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .item--TJ9 .item--TJ9-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .item--TJ9 .item--TJ9-sub-1 {
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho {
  width: 51.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .line-4-TL5 {
  width: 51.4002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .ellipse-1-afb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .item--hER {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .ellipse-2-aJD {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .item--Vg5 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .ellipse-3-Zvq {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .item--UY1 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .ellipse-4-mX7 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .item--HkM {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .ellipse-5-zem {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .group-14-jN9 .auto-group-3sa1-8Ho .item--7Db {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 48.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .item--os7 {
  margin: 0rem 0.9rem 3.55rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P {
  margin: 0rem 8.2rem 0.55rem 21rem;
  width: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--9Jh {
  margin-right: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--riu {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--may {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--tfb {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--R9j {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-um8v-S9P .item--LGh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq {
  margin: 0rem 0.9rem 2.55rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-9-bCd {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-11-LAD {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-12-sA9 {
  margin-right: 2.9rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-13-p5P {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-14-Mb7 {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-fbdk-rkq .rectangle-15-JWM {
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF {
  margin: 0rem 8.7rem 0.55rem 5.9rem;
  width: calc(100% - 12rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--kdF {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--sSy {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--CEM {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--7cD {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--Rcu {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-d2tq-2hF .item--MFf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR {
  margin: 0rem 0.9rem 13.7rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-16-oNZ {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-20-LNV {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-21-5ay {
  margin-right: 2.9rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-18-pYZ {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-19-Na5 {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .auto-group-rwz7-GtR .rectangle-17-XC5 {
  width: 17.4rem;
  height: 13.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-5-WPb .auto-group-ze5f-Yr5 .auto-group-ame9-dK7 .bi-mic-fill-U7K {
  margin-left: 73.6rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-WPb .rectangle-30-bSq {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
