
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}

.item-1-7UM {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */
}
.item-1-7UM .auto-group-6vh7-q9T {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-62-9JZ {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-62-9JZ .group-11-Gty {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-62-9JZ .me-muse-otu {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-1-UVF {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-1-UVF .workplace-zyP {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-1-UVF .museum-vMF {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-1-UVF .guide-eY9 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-1-UVF .login-B2H {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-2-6f3 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .auto-group-mgbs-EBb .group-10-7eh .group-2-6f3 .icons8-user1-1-sA1 {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-7UM .auto-group-xqzb-Mdb .group-61-gA5 .line-2-Pe9 {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 {
  box-sizing: border-box;
  padding-top: 7.1619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 {
  margin: 0rem 23.8rem 21.2rem 22.8rem;
  width: calc(100% - 46.6rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .item--aCq {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .item--aCq .item--aCq-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .item--aCq .item--aCq-sub-1 {
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV {
  width: 51.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .line-4-b1T {
  width: 51.4002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .ellipse-1-KCM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .item--DoX {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .ellipse-2-WGq {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .item--zxh {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .ellipse-3-HB7 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .item--y3w {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .ellipse-4-Tzh {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .item--BA1 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .ellipse-5-TtD {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .group-14-Te1 .auto-group-ez6d-FCV .item--mtu {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 48.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .item--sS9 {
  margin: 0rem 1.3rem 2.15rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2102272931;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .item--sS9 .item--sS9-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .item--sS9 .item--sS9-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .item--sS9 .item--sS9-sub-2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-igzo-vBT {
  margin: 0rem 13.5rem 0.65rem 12.8rem;
  width: calc(100% - 23.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-igzo-vBT .item--qJR {
  margin-right: 25.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-igzo-vBT .item--ZER {
  margin-right: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-igzo-vBT .item--UcH {
  margin-right: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-igzo-vBT .item--QF3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-wyoo-X4m {
  margin: 0rem 1.2rem 16.4rem 0rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-wyoo-X4m .rectangle-22-qbF {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-wyoo-X4m .rectangle-26-PMs {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-wyoo-X4m .rectangle-27-8qF {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .auto-group-wyoo-X4m .rectangle-28-gbs {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-1-7UM .auto-group-xqzb-Mdb .auto-group-tfgd-ve5 .bi-mic-fill-dX7 {
  margin-left: 73.6rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-7UM .rectangle-right {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 150vh; /* 높이를 뷰포트의 전체 높이로 설정 */
  position: absolute; /* 고정된 위치로 설정하여 스크롤 시에도 위치 유지 */
  top: 0; /* 상단에 위치 */
  z-index: 10; /* 다른 요소 위에 표시 */
  background-color: #003c74; /* 배경 색상 설정 */
  /* 전체 뷰포트 높이 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}


.auto-group-xqzb-Mdb {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}