
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}
.item-17-1Wy {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */
}
.item-17-1Wy .auto-group-t96h-u6Z {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj {
  margin-bottom: 17.8119rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-62-Awb {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-62-Awb .group-11-gQ9 {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-62-Awb .me-muse-1SR {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-1-G7T {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-1-G7T .workplace-adw {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-1-G7T .museum-6cH {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-1-G7T .guide-Dwo {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-1-G7T .login-M2R {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-2-gKb {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .auto-group-ffvs-59T .group-10-JRX .group-2-gKb .icons8-user1-1-F7o {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .group-61-Xdj .line-2-NTK {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .item--twT {
  /* margin-right: 1.1rem; */
  /* max-width: 44.4rem; */
  width: 14.5rem;
  height: 0rem;
  position: absolute;
  left: 90rem;
  top: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .item--twT .item--twT-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-17-1Wy .auto-group-tsy5-Dd3 .item--twT .item--twT-sub-1 {
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq {
  box-sizing: border-box;
  padding: 3.65rem 5.1rem 0rem 4rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry {
  margin-bottom: 18.6rem;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .rectangle-9-6pZ {
  margin-right: 3rem;
  position: absolute;
  left: 52.5rem;
  top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 512px;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd {
  box-sizing: border-box;
  padding: 2.91rem 3rem 1.7rem 1.969rem;
  transform: translate(220% ,0);
  width: 29.9rem;
  height: 100%;
  background-color: rgba(247, 245, 245, 0.8600000143);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd .item--keD {
  margin: 0rem 0rem 1.588rem 0.331rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd .line-1-TYd {
  margin-bottom: 1.3805rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd .group-26-Cm7 {
  margin: 0rem 0rem 1.54rem 0.031rem;
  box-sizing: border-box;
  padding: 0.8348rem 1.5rem;
  width: calc(100% - 0.0308rem);
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.2rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd .item-2023-Rtm {
  margin: 0rem 0rem 0.912rem 0.331rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .auto-group-pq2d-Mry .group-3-SNd .auto-group-4txy-LVw {
  margin: 0rem 0rem 0rem 0.031rem;
  box-sizing: border-box;
  padding: 1.3rem 1.3rem 1.3rem 1.3rem;
  width: calc(100% - 0.0308rem);
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.2rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .bi-mic-fill-k3s {
  margin-right: 17.15rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-17-1Wy .rectangle-30-Tiy {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

textarea {
  margin: 0px auto;
  width:200px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}


.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .group-23-Yk9 {
  margin: 0rem 38.4rem 4.2rem 38.5rem;
  width: calc(100% - 76.9rem);
  height: calc(100% - 76.9rem);
  height: 9.7rem;
  cursor: pointer;
  position: relative;
  border-radius: 5.3rem;
  flex-shrink: 0;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .group-23-Yk9 .rectangle-33-U81 {
  width: 31.7rem;
  height: 8rem;
  transform: translate(0, -73%);
  position: absolute;
  left: 1.4rem;
  top: 0;
  /* object-fit: contain; */
  /* vertical-align: top; */
  border-radius: 5.3rem;
}
.item-17-1Wy .auto-group-tsy5-Dd3 .auto-group-sccy-qNq .group-23-Yk9 .item--nuP {
  width: 23.5rem;
  height: 2.5rem;
  transform: translate(0, -280%);
  position: absolute;
  left: 5.55rem;
  top: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap; 
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}

.rectangle-left, .rectangle-right {
  position: fixed; /* 고정 위치 */
  top: 0; /* 상단에 맞춤 */
  height: 100vh; /* 전체 뷰포트 높이 */
  width: 25.8rem; /* 너비 설정 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}

.group-3-SNd{
 
 margin-left: 5px;
 margin-top: 21px;
 
}

.rectangle-33-U81 {
  margin-left: 50px;
}

.item--nuP {
  margin-left: 50px; /* 오른쪽으로 20픽셀 만큼 여백 추가 */
}

.auto-group-tsy5-Dd3{
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}

.rectangle-9-6pZ{
  margin-left: -357px;
  margin-top: 68px;
}

.item--twT-sub-0{
  margin-left: -700px;
  margin-top: 80px;
}


