
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-3-9kD {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-3-9kD .auto-group-f5c5-sRK {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-62-Pny {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-62-Pny .group-11-6xH {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-62-Pny .me-muse-EYh {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-1-657 {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-1-657 .workplace-pG1 {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-1-657 .museum-XRK {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-1-657 .guide-F6R {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-1-657 .login-xFj {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-2-Uzm {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .auto-group-9t17-gNm .group-10-vgR .group-2-Uzm .icons8-user1-1-3Y5 {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-3-9kD .auto-group-vayq-oJy .group-61-KYD .line-2-Mof {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh {
  box-sizing: border-box;
  padding-top: 7.1619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m {
  margin: 0rem 23.8rem 21.2rem 22.8rem;
  width: calc(100% - 46.6rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .item--Yt9 {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .item--Yt9 .item--Yt9-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .item--Yt9 .item--Yt9-sub-1 {
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R {
  width: 51.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .line-4-A2M {
  width: 51.4002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .ellipse-1-tU9 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .item--Czd {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .ellipse-2-64R {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .item--Q57 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .ellipse-3-5S9 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 2.9rem;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .item--ado {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .ellipse-4-UjB {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;  
  border-radius: 2.9rem;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .item--PLM {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #FFFFFF;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .ellipse-5-V8V {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .group-14-E6m .auto-group-9xrd-d2R .item--bxD {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 48.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .item--Vnh {
  margin: 0rem 1.3rem 2.15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-mdx7-LHX {
  margin: 0rem 14.6rem 0.65rem 13.4rem;
  width: calc(100% - 26rem);
  display: flex;
  column-gap: 29.8rem;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-mdx7-LHX .item--3xd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-mdx7-LHX .item--PFo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-mdx7-LHX .item--uzq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-mdx7-LHX .item--EXK {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-s8yf-a5P {
  margin: 0rem 1.2rem 16.4rem 0rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-s8yf-a5P .rectangle-22-hQu {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-s8yf-a5P .rectangle-26-SNV {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-s8yf-a5P .rectangle-27-ytD {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .auto-group-s8yf-a5P .rectangle-28-jMb {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-3-9kD .auto-group-vayq-oJy .auto-group-ldfx-tYh .bi-mic-fill-gGq {
  margin-left: 73.6rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-9kD .rectangle-30-8Pj {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
