
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}
body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}

.item-3-jRb {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */

}
.item-3-jRb .auto-group-fq2v-3x5 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-62-n2V {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-62-n2V .group-11-VxV {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-62-n2V .me-muse-Ev5 {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-1-7DB {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-1-7DB .workplace-dBX {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-1-7DB .museum-wi1 {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-1-7DB .guide-UC9 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-1-7DB .login-b1s {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-2-v49 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .auto-group-z3yd-G49 .group-10-x5P .group-2-v49 .icons8-user1-1-5hj {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-3-jRb .auto-group-jkff-mt5 .group-61-hWq .line-2-cSm {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM {
  width: 100%;
  height: 93.1286rem;
  position: relative;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--J4h {
  width: 14.5rem;
  height: 0rem;
  position: absolute;
  left: 52.5rem;
  top: 25.8619rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .bi-mic-fill-kSV {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 89.2619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP {
  width: 46rem;
  height: 22rem;
  position: absolute;
  left: 36.75rem;
  top: 71.5119rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-0 {
  text-align:center;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-4 {
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-5 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-6 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-7 {
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-8 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-9 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .item--UdP .item--UdP-sub-10 {
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .rectangle-9-kYH {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 28rem;
  background-color: #d9d9d9;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .item--cqP {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .item--cqP .item--cqP-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .item--cqP .item--cqP-sub-1 {
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .line-4-uT7 {
  width: 50.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-1-RRT {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--L2d {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-2-pCh {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--KQM {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-3-DVj {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--jiy {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-4-qX7 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--N1F {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-5-ToP {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--nqf {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .ellipse-6-VEH {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .group-14-tPb .auto-group-cswu-yZT .item--pGZ {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .auto-group-623s-7Ff {
  width: 22.5rem;
  height: 6rem;
  position: absolute;
  left: 48.5rem;
  top: 86rem;
  display: flex;
  align-items: center;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .auto-group-623s-7Ff .group-38-EbB {
  margin-right: 3.9rem;
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-3-jRb .auto-group-jkff-mt5 .auto-group-p6pr-MQM .auto-group-623s-7Ff .group-39-6dP {
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-3-jRb .rectangle-30-mDj {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh; /* 전체 뷰포트 높이 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}


.auto-group-jkff-mt5 {
  position: relative;
  top: 49.1%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
  z-index: 10000; /* 최상단에 위치 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContent {
  text-align: center;
  color: #ffffff; /* 밝은 색상으로 변경 */
  font-size: 1.5rem; /* 글자 크기 증가 */

}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mic-wrapper {
  position: relative;
  display: inline-block; /* 혹은 적절한 레이아웃 설정 */
  top: 85rem;
  left: 90%;
}

.mic-blink-circle {
  position: absolute;
  top: 20%;
  left: 125%;
  transform: translate(-50%, -50%);
  width: 10px; /* 원 크기 조절 */
  height: 10px;
  background-color: #DE080F; /* 원 색상 조절 */
  border-radius: 50%;
  animation: blink 1s linear infinite;
  z-index: -1; /* 마이크 이미지 뒤에 위치 */
}