
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}

.item-1-LC1 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */

}
.item-1-LC1 .auto-group-ejmt-EoB {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-62-x6u {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-62-x6u .group-11-szZ {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-62-x6u .me-muse-pQ1 {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-1-5Kw {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-1-5Kw .workplace-oWq {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-1-5Kw .museum-v5f {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-1-5Kw .guide-3RB {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-1-5Kw .login-9z1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-2-5sf {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .auto-group-hcmx-ERo .group-10-vC9 .group-2-5sf .icons8-user1-1-qrq {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-1-LC1 .auto-group-5ndw-m2R .group-61-5J1 .line-2-mkV {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b {
  box-sizing: border-box;
  padding: 7.162rem 18.1rem 0rem 17rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 {
  margin-bottom: 26.5rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .item--aC9 {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .item--aC9 .item--aC9-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
/* .item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .item--aC9 .item--aC9-sub-1 {
} */
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .line-4-AZf {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-1-u1T {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--QD7 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-2-VkM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--QcR {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-3-gZw {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--bgu {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-4-VXP {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--RA9 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-5-v6u {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--2vd {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .ellipse-6-Keq {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-14-Ee5 .auto-group-cw8m-e5X .item--FYV {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}

.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--9ds {
  margin: -10rem 1.3rem 2.15rem 0rem;
  margin-bottom: 6.4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2102272931;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--9ds .item--9ds-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--9ds .item--9ds-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--9ds .item--9ds-sub-2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .auto-group-ct25-WWM {
  margin: 0rem 27.5rem 6.25rem 27.6rem;
  box-sizing: border-box;
  padding: 1.95rem 2.5rem 2.05rem 2.5rem;
  width: calc(100% - 55.1rem);
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #8e8989;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj {
  margin-left: -42rem;
  margin-bottom: 0rem;
  margin-top: -3rem;
  max-width: 46rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space: nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
  text-align:center;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj .item--8Xj-sub-0 {
  text-align:center;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj .item--8Xj-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space: nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
/* .item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj .item--8Xj-sub-2 {
} */
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj .item--8Xj-sub-3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space: nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
/* .item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .item--8Xj .item--8Xj-sub-4 {
} */
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-32-x2u {
  margin: 5rem 50rem 17.2rem 38.1rem;
  width: calc(100% - 76.2rem);
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .group-32-next {
  margin: -23.2rem 50rem 17.2rem 60rem;
  width: calc(100% - 76.2rem);
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}

.item-1-LC1 .auto-group-5ndw-m2R .auto-group-fcot-v7b .bi-mic-fill-yyb {
  margin-left: 74.7rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

#startRecognition {
  background: url('../static/assets/bi-mic-fill-TEH.png') no-repeat center center;
  background-size: contain;
  width: 50px; /* 버튼의 너비 */
  height: 50px; /* 버튼의 높이 */
  border: none;
  cursor: pointer;
  /* 필요한 경우 위치 조정을 위한 추가 스타일링 */
}


.item-1-LC1 .rectangle-30-right {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

input{
  width:260px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}

textarea {
  margin: 0px auto;
  width:300px;
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
font-size: 15px;
}
.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 유지 */
  height: 100vh; /* 높이를 뷰포트 높이로 조정 */
  position: fixed; /* 위치 고정 */
  top: 0; /* 상단에 위치 */
  z-index: 50; /* 다른 요소들보다 상위에 위치하도록 z-index 설정 */
  background-color: #003c74; /* 배경색 설정 유지 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}


.auto-group-5ndw-m2R {
  position: relative;
  top: 43%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 중앙 정렬 */
  width: calc(100% - 51.6rem); /* 양쪽 사이드바를 제외한 너비 */
  padding: 7.162rem 0; /* 상단 패딩 조정 */
  box-sizing: border-box;
}