
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-8-UiV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-8-UiV .auto-group-vawm-bo7 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-62-iWM {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-62-iWM .group-11-EzV {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-62-iWM .me-muse-a2m {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-1-RZB {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-1-RZB .workplace-kLZ {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-1-RZB .museum-fTX {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-1-RZB .guide-yz1 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-1-RZB .login-ucm {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-2-qFX {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .auto-group-jq3t-DJh .group-10-fa1 .group-2-qFX .icons8-user1-1-bVb {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-8-UiV .auto-group-wjx9-jPX .group-61-TKX .line-2-7yj {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b {
  width: 100%;
  height: 93.1286rem;
  position: relative;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--1ZK {
  width: 32.8rem;
  height: 0rem;
  position: absolute;
  left: 43.35rem;
  top: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .bi-mic-fill-2jK {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 89.2619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--ZUM {
  width: 47.2rem;
  height: 30rem;
  position: absolute;
  left: 36.15rem;
  top: 78rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--ZUM .item--ZUM-sub-0 {
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--ZUM .item--ZUM-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--ZUM .item--ZUM-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .item--ZUM .item--ZUM-sub-3 {
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-63-rVP {
  width: 9.3rem;
  height: 6rem;
  position: absolute;
  left: 55.1rem;
  top: 82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .rectangle-9-uiZ {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 26rem;
  background-color: #d9d9d9;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .item--aph {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .item--aph .item--aph-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .item--aph .item--aph-sub-1 {
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .line-4-SVX {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-1-a5w {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--Hm3 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-2-ytm {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--6iV {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-3-oN1 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--8QH {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-4-qZb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--YU1 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-5-pgR {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--8x1 {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .ellipse-6-q5j {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-8-UiV .auto-group-wjx9-jPX .auto-group-jbff-U3b .group-14-SyP .auto-group-juqt-7i9 .item--MZs {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-8-UiV .rectangle-30-FQM {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
