
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-12-1-mLM {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-12-1-mLM .auto-group-qok5-VGM {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-62-1tu {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-62-1tu .group-11-9ER {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-62-1tu .me-muse-V3P {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-1-xBs {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-1-xBs .workplace-g7s {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-1-xBs .museum-PY5 {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-1-xBs .guide-Wsb {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-1-xBs .login-SWM {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-2-jVT {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .auto-group-9cdo-JUh .group-10-zF3 .group-2-jVT .icons8-user1-1-gfb {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-12-1-mLM .auto-group-gj7w-cbs .group-61-YEd .line-2-b1s {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .bi-mic-fill-3Pf {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .item--tfB {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

  align-items: baseline;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .item--tfB .item--tfB-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .item--tfB .item--tfB-sub-1 {
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .line-4-JMX {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-1-Rww {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--wfP {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-2-RaZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--8js {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-3-24Z {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--Y2u {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-4-dq3 {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--9YV {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-5-SXb {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--Z6R {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .ellipse-6-qJq {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .group-14-NB3 .auto-group-xzeh-mcV .item--wsf {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--3fo {
  width: 18.8rem;
  height: 2.1rem;
  position: absolute;
  left: 50.35rem;
  top: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .rectangle-9-6ty {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 26rem;
  background-color: #d9d9d9;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .auto-group-dquy-EkH {
  width: 22rem;
  height: 6rem;
  position: absolute;
  left: 48.8rem;
  top: 82rem;
  display: flex;
  align-items: center;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .auto-group-dquy-EkH .auto-group-cybb-yC5 {
  margin-right: 3.4rem;
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .auto-group-dquy-EkH .auto-group-fjqf-2w3 {
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 {
  width: 38.9rem;
  height: 2.1rem;
  position: absolute;
  left: 40.3rem;
  top: 78rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 .item--uV3-sub-0 {
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 .item--uV3-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 .item--uV3-sub-2 {
}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 .item--uV3-sub-3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */

}
.item-12-1-mLM .auto-group-gj7w-cbs .auto-group-7dbx-hqb .item--uV3 .item--uV3-sub-4 {
}
.item-12-1-mLM .rectangle-30-beh {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
