
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞춤 */
    overflow: hidden; /* 스크롤바 제거 */
}.item-4-RPo {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto;
}
.item-4-RPo .auto-group-lsuf-vLZ {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-62-DDB {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-62-DDB .group-11-jhK {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-62-DDB .me-muse-fay {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-1-Jdw {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-1-Jdw .workplace-psB {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-1-Jdw .museum-8ss {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-1-Jdw .guide-FxV {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-1-Jdw .login-PJ1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-2-7Uu {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .auto-group-dxtb-6uF .group-10-9W9 .group-2-7Uu .icons8-user1-1-H8V {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-4-RPo .auto-group-fyxh-qTX .group-61-MRs .line-2-Qiu {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB {
  box-sizing: border-box;
  padding-top: 7.1619rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD {
  margin: 0rem 23.8rem 21.2rem 22.8rem;
  width: calc(100% - 46.6rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .item--zBK {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .item--zBK .item--zBK-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .item--zBK .item--zBK-sub-1 {
}

.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .item--sVK {
  margin: -10rem 1.3rem 2.15rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-wbvz-Vmb {
  margin: 0rem 14.4rem 0.65rem 13.4rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-wbvz-Vmb .item-1-1zq {
  margin-right: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-wbvz-Vmb .item-2-M37 {
  margin-right: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-wbvz-Vmb .item-3-Trq {
  margin-right: 29.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-wbvz-Vmb .item-4-nPK {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-c7p7-7Ah {
  margin: 0rem 1.2rem 16.4rem 0rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-c7p7-7Ah .rectangle-22-deq {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-c7p7-7Ah .rectangle-26-nGq {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-c7p7-7Ah .rectangle-27-jSy {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .auto-group-c7p7-7Ah .rectangle-28-5mj {
  width: 27.6rem;
  height: 27.3rem;
  cursor: pointer;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .bi-mic-fill-Dsw {
  margin-top:-90px;
  margin-left: 73.6rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-4-RPo .rectangle-30-ZS1 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

/*  */

.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .item--8Xj {
  margin-top:-100px;
  margin-bottom: 1.65rem;
  max-width: 46rem;
  height:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space: nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}


/*  */

.group-32-x2u {
  margin: 1rem 38.1rem 17.2rem 38.1rem;
  width: calc(100% - 76.2rem);
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}



.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB {
  box-sizing: border-box;
  padding: 7.162rem 18.1rem 0rem 17rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD {
  margin-bottom: 26.5rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .line-4-AZf {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-1-u1T {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--QD7 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-2-VkM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--QcR {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-3-gZw {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--bgu {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-4-VXP {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--RA9 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-5-v6u {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--2vd {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .ellipse-6-Keq {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-4-RPo .auto-group-fyxh-qTX .auto-group-7cqz-jmB .group-14-GWD .auto-group-cw8m-e5X .item--FYV {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh;
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}
/* 기존 상단 바 스타일 유지 */

/* 상단 바 아래로 나머지 내용을 이동시킵니다. */
.auto-group-fyxh-qTX {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}
