html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}


body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}
.item-7-wMT {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */
}
  /* 

.item-7-wMT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
} */
.item-7-wMT .auto-group-uujx-G8q {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-62-mUu {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-62-mUu .group-11-tpR {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-62-mUu .me-muse-SL9 {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-1-uDj {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-1-uDj .workplace-dQd {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-1-uDj .museum-kVF {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-1-uDj .guide-HEH {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-1-uDj .login-zeV {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-2-Wsj {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .auto-group-tkkd-44h .group-10-8yf .group-2-Wsj .icons8-user1-1-g1X {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-7-wMT .auto-group-pqnh-NxZ .group-61-uBo .line-2-oM3 {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH {
  width: 100%;
  height: 93.1286rem;
  position: relative;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .item--J2u {
  width: 12.3rem;
  height: 0rem;
  position: absolute;
  left: 53.6rem;
  top: 27.0619rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .bi-mic-fill-jtu {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 89.2619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .item--4wB {
  width: 21.5rem;
  height: 21rem;
  position: absolute;
  left: 49rem;
  top: 72.5119rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .auto-group-6ved-gxZ {
  width: 22rem;
  height: 6rem;
  position: absolute;
  left: 48.8rem;
  top: 87rem;
  display: flex;
  align-items: center;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .auto-group-6ved-gxZ .group-42-RQM {
  margin-right: 3.4rem;
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .auto-group-6ved-gxZ .auto-group-etut-tHw {
  width: 9.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .rectangle-9-kL9 {
  width: 512px;
  height: 512px;
  position: relative;
  left: 34rem;
  top: 29rem;
  background-color: #d9d9d9;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .item--CC9 {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .item--CC9 .item--CC9-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .item--CC9 .item--CC9-sub-1 {
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .line-4-EY9 {
  width: 50.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-1-a6D {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--guw {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-2-P3f {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--cSD {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-3-6cH {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--cqX {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-4-7nH {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--E6D {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-5-KNZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--du3 {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .ellipse-6-K1B {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-7-wMT .auto-group-pqnh-NxZ .auto-group-ck7s-kGH .group-14-sff .auto-group-3f8m-tz5 .item--2gH {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
}
.item-7-wMT .rectangle-30-KQV {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.background-image, .processed-image {
  position: absolute; /* 컨테이너 내에서 절대 위치 설정 */
  top: 0;
  left: 0;
  width: 100%; /* 컨테이너의 크기에 맞춰 조절 */
  height: 100%; /* 컨테이너의 크기에 맞춰 조절 */
  z-index: 1; /* 배경 이미지 z-index 설정 */
}

.processed-image {
  z-index: 2; /* 객체 이미지가 위로 오도록 z-index 설정 */
}
.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh; /* 전체 뷰포트 높이 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}
.auto-group-pqnh-NxZ {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}

/* 로딩 화면 스타일 */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
  z-index: 10000; /* 최상단에 위치 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContent {
  text-align: center;
  color: #ffffff; /* 밝은 색상으로 변경 */
  font-size: 1.5rem; /* 글자 크기 증가 */

}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mic-wrapper {
  position: relative;
  display: inline-block; /* 혹은 적절한 레이아웃 설정 */
  top: 35%;
  left: 94%;
}

.mic-blink-circle {
  position: absolute;
  top: 20%;
  left: 125%;
  transform: translate(-50%, -50%);
  width: 10px; /* 원 크기 조절 */
  height: 10px;
  background-color: #DE080F; /* 원 색상 조절 */
  border-radius: 50%;
  animation: blink 1s linear infinite;
  z-index: -1; /* 마이크 이미지 뒤에 위치 */
}