
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item-9-gHf {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-9-gHf .auto-group-kw7s-Pxm {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-62-7nH {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-62-7nH .group-11-eXK {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-62-7nH .me-muse-ndX {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-1-FX7 {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-1-FX7 .workplace-yi1 {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-1-FX7 .museum-VgM {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-1-FX7 .guide-DMT {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-1-FX7 .login-8jK {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-2-sS1 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .auto-group-wbhs-c4q .group-10-twT .group-2-sS1 .icons8-user1-1-EnM {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-9-gHf .auto-group-dsgr-vho .group-61-FEH .line-2-Avu {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .bi-mic-fill-TQD {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .item--hpM {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .item--hpM .item--hpM-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .item--hpM .item--hpM-sub-1 {
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .line-4-Xwo {
  width: 62.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-1-U6M {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--BWZ {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-2-gCR {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--yhK {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-3-TsP {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--mt5 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-4-sgD {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--Bgu {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-5-GiM {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--Pny {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .ellipse-6-HNZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 57.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-14-yNZ .auto-group-mt1w-boF .item--CkR {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--JYZ {
  width: 32.8rem;
  height: 2.1rem;
  position: absolute;
  left: 43.35rem;
  top: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--LVF {
  width: 48.3rem;
  height: 2.1rem;
  position: absolute;
  left: 35.6rem;
  top: 79rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--LVF .item--LVF-sub-0 {
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--LVF .item--LVF-sub-1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--LVF .item--LVF-sub-2 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .item--LVF .item--LVF-sub-3 {
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .group-63-BGu {
  width: 9.3rem;
  height: 6rem;
  position: absolute;
  left: 55.1rem;
  top: 83rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
}
.item-9-gHf .auto-group-dsgr-vho .auto-group-k7dt-v9P .rectangle-9-SCq {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 34rem;
  top: 27rem;
  background-color: #d9d9d9;
}
.item-9-gHf .rectangle-30-APj {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
