
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞춤 */
    overflow: hidden; /* 스크롤바 제거 */
  }
.item-15-vSV {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto;
}
.item-15-vSV .auto-group-qvo3-Ei5 {
  margin-right: 2.6rem;
  width: 33.6rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-62-hk5 {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-62-hk5 .group-11-pZo {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-62-hk5 .me-muse-A7s {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-1-cVf {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-1-cVf .workplace-YPK {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-1-cVf .museum-4Mf {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-1-cVf .guide-noT {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-1-cVf .login-7Kw {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-2-EvM {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .auto-group-ywof-3fX .group-10-s2H .group-2-EvM .icons8-user1-1-zed {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item-15-vSV .auto-group-zkah-mT7 .group-61-6EV .line-2-vYH {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP {
  width: 100%;
  height: 91.2286rem;
  position: relative;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .item--D1b {
  width: 36.7rem;
  height: 2.1rem;
  position: absolute;
  left: 41.4rem;
  top: 27.2619rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .bi-mic-fill-DQu {
  width: 2.5rem;
  height: 3.8667rem;
  position: absolute;
  left: 95.85rem;
  top: 87.3619rem;
  object-fit: contain;
  vertical-align: top;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .item--fGu {
  width: 19.8rem;
  height: 4.2rem;
  position: absolute;
  left: 49.75rem;
  top: 70.8119rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  text-align:center;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-lrbp-VFw {
  width: 22rem;
  height: 6rem;
  position: absolute;
  left: 48.7rem;
  top: 76.6619rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-lrbp-VFw .group-46-1zy {
  margin-right: 3.4rem;
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-lrbp-VFw .group-46-1zy .group-44-mDT {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-lrbp-VFw .group-45-RJ1 {
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh {
  width: 85.5rem;
  height: 5.8rem;
  position: absolute;
  left: 17rem;
  top: 7.1619rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .item--CTB {
  margin: 0.3rem 10.2rem 0rem 0rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  align-items: baseline;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .item--CTB .item--CTB-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #003c74;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .item--CTB .item--CTB-sub-1 {
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 {
  width: 63.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .line-4-kmX {
  width: 50.5002rem;
  height: 0.2rem;
  position: absolute;
  left: 0.2998rem;
  top: 2.899rem;
  background-color: #000000;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-1-gfB {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--c33 {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-2-JRf {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 11.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--chF {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 13.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-3-uwF {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 23rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--dMT {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 25.05rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-4-j9b {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 34.5rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--qiR {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 36.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-5-LQH {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.9rem;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--FXF {
  width: 4.9rem;
  height: 1.7rem;
  position: absolute;
  left: 46.45rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
z-index: 10;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .ellipse-6-w9B {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 46rem;
  top: 0;
  border: solid 0.1rem #003c74;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: #003c74;
  border-radius: 2.9rem;
  z-index: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .group-14-svh .auto-group-r7m3-Rz9 .item--F9s {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 59.55rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h {
  width: 119.5rem;
  height: 13.3rem;
  position: absolute;
  left: 0;
  top: 35.4619rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-9-TWq {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-11-Tv9 {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-12-c2M {
  margin-right: 2.9rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-13-Lyw {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-14-siy {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-s1v3-w2h .rectangle-15-cgZ {
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR {
  width: 104.6rem;
  height: 2rem;
  position: absolute;
  left: 6rem;
  top: 32.9119rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--gRX {
  margin-right: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--QMX {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--KUV {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--cyP {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--9iR {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-qyym-xkR .item--4qP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm {
  width: 119.5rem;
  height: 13.3rem;
  position: absolute;
  left: 0;
  top: 53.8619rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-16-7Ym {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-20-rmF {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-21-QGy {
  margin-right: 2.9rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-18-Y8H {
  margin-right: 3rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-19-V3X {
  margin-right: 3.1rem;
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-jxlu-Pcm .rectangle-17-Rxm {
  width: 17.4rem;
  height: 13.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo {
  width: 105.8rem;
  height: 2rem;
  position: absolute;
  left: 4.9rem;
  top: 51.3119rem;
  display: flex;
  align-items: center;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--ud3 {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--dJ9 {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--ZBo {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--HNh {
  margin-right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--cfs {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .auto-group-zkah-mT7 .auto-group-xs3p-4uP .auto-group-prkz-PPo .item--k1P {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  white-space:nowrap;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item-15-vSV .rectangle-30-fe9 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh;
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}
/* 기존 상단 바 스타일 유지 */

/* 상단 바 아래로 나머지 내용을 이동시킵니다. */
.auto-group-zkah-mT7 {
  position: relative;
  top: 49%; /* 상단으로부터 50% */
  left: 30.5%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 228px;
}
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
  z-index: 10000; /* 최상단에 위치 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContent {
  text-align: center;
  color: #ffffff; /* 밝은 색상으로 변경 */
  font-size: 1.5rem; /* 글자 크기 증가 */

}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mic-wrapper {
  position: relative;
  display: inline-block; /* 혹은 적절한 레이아웃 설정 */
  top: -10rem;
  left: 60%;
}

.mic-blink-circle {
  position: absolute;
  top: 20%;
  left: 125%;
  transform: translate(-50%, -50%);
  width: 10px; /* 원 크기 조절 */
  height: 10px;
  background-color: #DE080F; /* 원 색상 조절 */
  border-radius: 50%;
  animation: blink 1s linear infinite;
  z-index: -1; /* 마이크 이미지 뒤에 위치 */
}