
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 192rem;
}.item--2qF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item--2qF .rectangle-29-Y2u {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-62-g2d {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-62-g2d .group-11-QDX {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-62-g2d .me-muse-wUM {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-1-PbF {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-1-PbF .workplace-iNd {
  margin-right: 10.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-1-PbF .museum-E65 {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-1-PbF .guide-9iq {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-1-PbF .login-5Mb {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-2-Cx1 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .auto-group-5upv-xsK .group-10-SR7 .group-2-Cx1 .icons8-user1-1-ySy {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--2qF .auto-group-ycwm-g97 .group-61-1BP .line-2-hds {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .auto-group-ttxv-3Sq {
  box-sizing: border-box;
  padding: 30.462rem 33.6rem 0rem 32.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .auto-group-ttxv-3Sq .auto-group-fjfo-mNq {
  margin-bottom: 3.5rem;
  box-sizing: border-box;
  padding: 4.3rem 9.8rem 5.75rem 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #003c74;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .auto-group-ttxv-3Sq .auto-group-fjfo-mNq .group-14-58d {
  margin: 0rem 2.204rem 3.35rem 0rem;
  opacity: 0.9;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .auto-group-ttxv-3Sq .auto-group-fjfo-mNq .me-muse--NtR {
  max-width: 32.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  white-space: nowrap;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  flex-shrink: 0;
}
.item--2qF .auto-group-ycwm-g97 .auto-group-ttxv-3Sq .group-23-1Rb {
  margin: 0rem 4.9rem 0rem 4.8rem;
  width: calc(100% - 9.7rem);
  height: 9.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-33-2sj.png');
  border-radius: 5.3rem;
  flex-shrink: 0;
}
.item--2qF .rectangle-30-rh7 {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.item--64h {
  margin: 0rem 0rem 17.35rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 8.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  flex-shrink: 0;
}
.item--64h .item--64h-sub-0 {
}
.item--64h .item--64h-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1400ff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
