
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

a {
  text-decoration: none;
  color: #003c74;
}

body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  overflow: hidden; /* 스크롤바 제거 */
}
.item--hry {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: 100vh; /* 전체 화면 높이에 맞춤 */
  position: relative; /* 부모 요소를 상대 위치로 설정 */
  margin: 0 auto; /* 좌우 마진 자동 조정 */
}
.item--hry .rectangle-29-2uF {
  margin-right: 10.4rem;
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy {
  margin: 1.8rem 9.4rem 0rem 0rem;
  width: 120.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M {
  margin: 0rem 1.1rem 1.399rem 0.7rem;
  width: calc(100% - 1.8rem);
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-62-ivV {
  margin: 0.2rem 14.7rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-62-ivV .group-11-eJM {
  margin-right: 1.204rem;
  width: 7.496rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-62-ivV .me-muse-aSu {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0875;
  color: #003c74;
  font-family: Archivo Black, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-1-3LV {
  margin: 1.3rem 10.25rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-1-3LV .workplace-aLR {
  margin-right: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-1-3LV .museum-VTP {
  margin-right: 13.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-1-3LV .guide-cY1 {
  margin-right: 14.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-1-3LV .login-8mF {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.035;
  color: #003c74;
  font-family: Anybody, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-2-sD3 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .auto-group-pahf-d8M .group-10-5eZ .group-2-sD3 .icons8-user1-1-E3b {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--hry .auto-group-6trh-9iy .group-61-fSR .line-2-Me1 {
  width: 120.6rem;
  height: 1.0386rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh {
  box-sizing: border-box;
  padding: 18.062rem 22.25rem 0rem 35.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD {
  margin: 0rem 14.05rem 5.5rem 0rem;
  box-sizing: border-box;
  padding: 22.6rem 6.5rem 22.4rem 6.5rem;
  width: 49.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/realmemusever2003d75-1-bg-bhb.png');
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .item--7mb {
  margin-bottom: 2.6rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2102272931;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .item--7mb .item--7mb-sub-0 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #003c74;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .item--7mb .item--7mb-sub-1 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .auto-group-tl9o-HT7 {
  margin: 0rem 1.6rem 0rem 2.4rem;
  width: calc(100% - 4rem);
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .auto-group-tl9o-HT7 .group-24-bih {
  margin-right: 2.3rem;
  width: 14.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .auto-group-vbxo-DgD .auto-group-tl9o-HT7 .group-62-4MP {
  width: 14.9rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  font-family: 'Hahmlet', Inter, serif;
/* font-family: 'Nanum Gothic', sans-serif; */
  white-space: nowrap;
  border: solid 0.3rem #003c74;
  box-sizing: border-box;
  background-color: #003c74;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--hry .auto-group-6trh-9iy .auto-group-9pds-6Lh .bi-mic-fill-63B {
  margin-left: 60.65rem;
  width: 2.5rem;
  height: 3.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hry .rectangle-30-oiH {
  width: 25.8rem;
  height: 108rem;
  background-color: #003c74;
  flex-shrink: 0;
}

.rectangle-left, .rectangle-right {
  width: 25.8rem; /* 너비 설정 */
  height: 108rem; /* 높이 설정 */
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  z-index: 5; /* 다른 요소 위에 표시 */
  background-color: #003c74;

  height: 100vh; /* 전체 뷰포트 높이 */
}

.rectangle-left {
  left: 0; /* 왼쪽 끝에 위치 */
}

.rectangle-right {
  right: 0; /* 오른쪽 끝에 위치 */
}

.auto-group-6trh-9iy {
  position: absolute;
  top: 50%; /* 상단으로부터 50% */
  left: 50%; /* 왼쪽으로부터 50% */
  transform: translate(-50%, -50%); /* X와 Y축으로 -50% 이동하여 완전 중앙 정렬 */
  padding-bottom: 69px;
}

